Repository chainer/chainer, pull requests merged in 2019-07, with the labels that each got.

#7643 Avoid relative paths in `third-party.cmake`
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/cmake/third-party.cmake
  chainerx_cc/third_party/abseil.cmake
Labels: pr-blocker, st:test-and-merge

#6970 Simplify `F.polygamma` test
  tests/chainer_tests/functions_tests/math_tests/test_polygamma.py
Labels: cat:test, st:test-and-merge

#7653 Fix a typo in chainer/functions/math/average.py
  chainer/functions/math/average.py
Labels: cat:document, st:test-and-merge

#7636 [backport] Tiny Fix of `BackwardContext` comment
  chainerx_cc/chainerx/backward_context.h
Labels: ChainerX, backport, cat:document

#7614 Raise python `IndexError` if the index `__getitem__` takes is out of bounds
  chainerx_cc/chainerx/error.h
  chainerx_cc/chainerx/python/error.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/shape.h
  chainerx_cc/chainerx/shape_test.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:enhancement, pr-blocker

#7628 [backport] Explain corresponding `Link`s
  chainer/functions/activation/prelu.py
  chainer/functions/activation/swish.py
  chainer/functions/connection/bilinear.py
  chainer/functions/connection/convolution_2d.py
  chainer/functions/connection/convolution_nd.py
  chainer/functions/connection/deconvolution_2d.py
  chainer/functions/connection/deconvolution_nd.py
  chainer/functions/connection/deformable_convolution_2d_sampler.py
  chainer/functions/connection/depthwise_convolution_2d.py
  chainer/functions/connection/embed_id.py
  chainer/functions/connection/linear.py
  chainer/functions/connection/local_convolution_2d.py
  chainer/functions/loss/black_out.py
  chainer/functions/loss/negative_sampling.py
  chainer/functions/normalization/batch_normalization.py
  chainer/functions/normalization/batch_renormalization.py
  chainer/functions/normalization/group_normalization.py
  chainer/functions/normalization/layer_normalization.py
  chainer/links/activation/prelu.py
Labels: backport, cat:document

#7623 [backport] Minor grammar Improvements to broadcast documentation.
  chainer/functions/array/broadcast.py
Labels: backport, cat:document

#7607 Remove moved comment
  chainer/variable.py
Labels: cat:document

#7639 [backport] Fix unit selection of CupyMemoryProfiler
  chainer/function_hooks/cupy_memory_profile.py
  tests/chainer_tests/function_hooks_tests/test_cupy_memory_profile.py
Labels: backport, cat:bug

#7635 [backport] Correct missing parenthesis in documents
  docs/source/guides/extensions.rst
Labels: backport, cat:document

#7604 refactor `allreduce_grad()` and functions related with it
  chainermn/communicators/communicator_base.py
  chainermn/communicators/dummy_communicator.py
  chainermn/communicators/flat_communicator.py
  chainermn/communicators/hierarchical_communicator.py
  chainermn/communicators/mpi_communicator_base.py
  chainermn/communicators/naive_communicator.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/communicators/single_node_communicator.py
  chainermn/communicators/two_dimensional_communicator.py
  chainermn/extensions/allreduce_persistent.py
  chainermn/functions/batch_normalization.py
  chainermn/optimizers.py
  docs/source/chainermn/reference/index.rst
  tests/chainermn_tests/communicator_tests/test_communicator.py
  tests/chainermn_tests/communicator_tests/test_node_aware_communicator_base.py
  tests/chainermn_tests/links_tests/test_batch_normalization.py
Labels: ChainerMN, prio:high

#7644 [backport] Avoid code duplication and access violation between `Optimizer` and `GradientMethod`
  chainer/optimizer.py
Labels: backport, cat:code-fix

#7663 Fix flake8 error
  chainer/function_node.py
Labels: cat:code-fix, to-be-backported

#7592 Avoid code duplication in optimizer hook implementation
  chainer/optimizer.py
  tests/chainer_tests/test_optimizer.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7671 Use `absl::Span` and related helpers instead of `gsl::span`
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/axes.h
  chainerx_cc/chainerx/axes_test.cc
  chainerx_cc/chainerx/backward.cc
  chainerx_cc/chainerx/backward_context.cc
  chainerx_cc/chainerx/backward_context.h
  chainerx_cc/chainerx/op_node.h
  chainerx_cc/chainerx/shape.h
  chainerx_cc/chainerx/shape_test.cc
  chainerx_cc/chainerx/strides.h
  chainerx_cc/chainerx/strides_test.cc
Labels: ChainerX, st:test-and-merge

#7667 Use curly braces for constructors
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
Labels: cat:code-fix, st:test-and-merge

#7561 Support ellipsis in `Array::At` and `__getitem__`
  chainerx/_fallback_workarounds.py
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/chainerx/array_index.cc
  chainerx_cc/chainerx/array_index.h
  chainerx_cc/chainerx/python/array_index.cc
  chainerx_cc/chainerx/routines/indexing.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:enhancement

#7674 [backport] Avoid code duplication in optimizer hook implementation
  chainer/optimizer.py
  tests/chainer_tests/test_optimizer.py
Labels: backport, cat:enhancement

#6492 Improve contribution docs
  docs/source/contribution.rst
Labels: cat:document, to-be-backported

#7665 Example fix: stateful triggers cannot be reused
  examples/text_classification/train_text_classifier.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7647 Cleanup `CMakeList.txt`
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/examples/mnist/CMakeLists.txt
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7548 Fix `initializers.Identity` for ideep backend
  chainer/initializers/constant.py
  chainer/initializers/normal.py
  chainer/initializers/orthogonal.py
  chainer/initializers/uniform.py
  tests/chainer_tests/initializer_tests/test_constant.py
  tests/chainer_tests/initializer_tests/test_normal.py
  tests/chainer_tests/initializer_tests/test_orthogonal.py
  tests/chainer_tests/initializer_tests/test_uniform.py
Labels: ChainerX-long, cat:bug, pr-blocker, st:test-and-merge, to-be-backported

#7661 Fix AMSGrad with intel64 backend
  chainer/optimizers/adam.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#7689 [backport] Fix AMSGrad with intel64 backend
  chainer/optimizers/adam.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
Labels: backport, cat:bug, st:test-and-merge

#7518 Emit build info of ChainerX and stop hiding `ImportError`
  .gitignore
  chainerx/__init__.py
  chainerx_build_helper.py
Labels: ChainerX, ChainerX-long, cat:enhancement, st:test-and-merge

#7669 GradientLARS optimizer hook working with chainerx
  chainer/optimizer_hooks/gradient_lars.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_lars.py
Labels: ChainerX

#7688 [backport] Fix typo in `F.squeeze` documentation
  chainer/functions/array/squeeze.py
Labels: backport, cat:document

#7687 Added chainerx support on initializers
  chainer/initializers/__init__.py
  chainer/initializers/constant.py
  tests/chainer_tests/initializer_tests/test_constant.py
  tests/chainer_tests/initializer_tests/test_normal.py
  tests/chainer_tests/initializer_tests/test_orthogonal.py
  tests/chainer_tests/initializer_tests/test_uniform.py
Labels: ChainerX, ChainerX-long, pr-blocker, st:test-and-merge

#7692 Fixes an error on chainer.grad for multiple devices
  chainer/function_node.py
  tests/chainer_tests/test_function_node.py
Labels: cat:bug, pr-blocker, st:test-and-merge, to-be-backported

#7641 Fix `optimizer_hooks.GradientClipping` for ChainerX
  chainer/optimizer_hooks/gradient_clipping.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_clipping.py
Labels: ChainerX, st:test-and-merge

#7685 [backport] Fix `initializers.Identity` for ideep backend
  chainer/initializers/constant.py
  chainer/initializers/normal.py
  chainer/initializers/orthogonal.py
  chainer/initializers/uniform.py
  tests/chainer_tests/initializer_tests/test_constant.py
  tests/chainer_tests/initializer_tests/test_normal.py
  tests/chainer_tests/initializer_tests/test_orthogonal.py
  tests/chainer_tests/initializer_tests/test_uniform.py
Labels: backport, cat:bug

#7202 Exclude eps from `running_var` of `F.batch_renormalization`
  chainer/functions/normalization/batch_renormalization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_renormalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_renormalization.py
Labels: cat:bug, no-compat, st:test-and-merge

#7657 test `optimizer_hooks.Lasso` for ChainerX
  tests/chainer_tests/optimizer_hooks_tests/test_lasso.py
Labels: ChainerX

#7648 Make devices hashable
  chainer/_backend.py
  chainer/backends/_chainerx.py
  chainer/backends/_cpu.py
  chainer/backends/cuda.py
  chainer/backends/intel64.py
  tests/chainer_tests/backends_tests/test_chainerx.py
  tests/chainer_tests/backends_tests/test_cpu.py
  tests/chainer_tests/backends_tests/test_cuda.py
  tests/chainer_tests/backends_tests/test_intel64.py
Labels: ChainerX

#7683 [backport] Example fix: stateful triggers cannot be reused
  examples/text_classification/train_text_classifier.py
Labels: backport, cat:example

#7666 Avoid else after return
  chainerx_cc/chainerx/python/shape.cc
Labels: cat:code-fix

#7339 Add LeftShift and RightShift
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/cuda/cuda_device/binary.cu
  chainerx_cc/chainerx/dtype.h
  chainerx_cc/chainerx/kernels/binary.h
  chainerx_cc/chainerx/native/native_device/binary.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/binary.cc
  chainerx_cc/chainerx/routines/binary.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_binary.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7684 Fix GroupNormalization tests
  tests/chainer_tests/functions_tests/normalization_tests/test_group_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_group_normalization.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7537 Make `device` argument a keyword only argument.
  chainerx_cc/chainerx/python/kwarg.h
  chainerx_cc/chainerx/python/routines.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#7582 Remove `squared_difference` and fix docs
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/loss.cc
  chainerx_cc/chainerx/routines/misc.cc
  chainerx_cc/chainerx/routines/misc.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_misc.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#7698 Fixes spectral normalization chainerx conversion
  chainer/link_hooks/spectral_normalization.py
Labels: ChainerX, cat:bug, pr-blocker, st:test-and-merge, to-be-backported

#7664 Implement IntervalTrigger.__str__
  chainer/training/triggers/interval_trigger.py
  tests/chainer_tests/training_tests/triggers_tests/test_interval_trigger.py
Labels: cat:enhancement

#7182 [backport] Remove backslashes to continue lines of link targets
  chainer/functions/activation/lstm.py
  chainer/functions/activation/slstm.py
  chainer/functions/activation/tree_lstm.py
  chainer/functions/array/spatial_transformer_grid.py
  chainer/functions/array/spatial_transformer_sampler.py
  chainer/functions/connection/deformable_convolution_2d_sampler.py
  chainer/functions/connection/depthwise_convolution_2d.py
  chainer/functions/connection/shift.py
  chainer/functions/loss/black_out.py
  chainer/functions/loss/ctc.py
  chainer/functions/loss/negative_sampling.py
  chainer/functions/loss/triplet.py
  chainer/functions/noise/dropout.py
  chainer/functions/noise/gumbel_softmax.py
  chainer/functions/noise/zoneout.py
  chainer/functions/normalization/batch_normalization.py
  chainer/functions/normalization/batch_renormalization.py
  chainer/functions/normalization/local_response_normalization.py
  chainer/functions/pooling/spatial_pyramid_pooling_2d.py
  chainer/links/activation/prelu.py
  chainer/links/activation/swish.py
  chainer/links/connection/inceptionbn.py
  chainer/links/connection/tree_lstm.py
  chainer/links/normalization/batch_normalization.py
  chainer/links/normalization/batch_renormalization.py
  chainer/optimizer_hooks/gradient_lars.py
  chainer/optimizer_hooks/gradient_noise.py
  chainer/optimizers/adam.py
  chainer/optimizers/corrected_momentum_sgd.py
  chainer/optimizers/msvag.py
Labels: backport, cat:code-fix, st:test-and-merge

#7658 Fixes a grammar error
  chainer/functions/array/expand_dims.py
Labels: cat:document, st:test-and-merge, to-be-backported

#6831 [backport] Add `chainer.get_device` to doc
  chainer/backend.py
Labels: backport, cat:document, st:test-and-merge

#7632 Use `six.integer_types` for axis check in `F.concat`
  chainer/functions/array/concat.py
Labels: cat:enhancement, to-be-backported

#7700 [backport] Fix GroupNormalization tests
  tests/chainer_tests/functions_tests/normalization_tests/test_group_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_group_normalization.py
Labels: backport, cat:test, st:test-and-merge

#7705 [backport] Fixes spectral normalization chainerx conversion
  chainer/link_hooks/spectral_normalization.py
Labels: ChainerX, backport, cat:bug

#7659 [backport] Edits Function Node docs.
  chainer/function_node.py
Labels: backport, cat:document

#7680 [backport] Improve contribution docs
  docs/source/contribution.rst
Labels: backport, cat:document

#7721 Relax atol/rol of `chainerx.erf` float16 test
  tests/chainerx_tests/unit_tests/routines_tests/test_explog.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7656 Fix `optimizer_hooks.GradientHardClipping` for ChainerX
  chainer/optimizer_hooks/gradient_hard_clipping.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_hard_clipping.py
Labels: ChainerX

#4822 Avoid mutable default arguments
  chainer/computational_graph.py
  chainer/training/extensions/parameter_statistics.py
Labels: cat:enhancement, st:test-and-merge

#7713 Use `six.integer_types` for axis checks
  chainer/functions/activation/crelu.py
  chainer/functions/array/moveaxis.py
  chainer/functions/math/cumprod.py
  chainer/functions/math/cumsum.py
  chainer/functions/math/logsumexp.py
  chainer/functions/math/minmax.py
  chainer/functions/math/prod.py
  chainer/functions/math/sum.py
  chainer/functions/math/tensordot.py
  chainer/functions/normalization/batch_normalization.py
  chainer/functions/normalization/l2_normalization.py
  chainer/links/normalization/batch_normalization.py
Labels: cat:enhancement, to-be-backported

#7723 Fix flaky TestHuberLoss
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: cat:test, st:test-and-merge

#7625 Fix PickleDataset crash when use multiprocessing
  chainer/datasets/pickle_dataset.py
  tests/chainer_tests/datasets_tests/test_pickle_dataset.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#7712 [backport] Use `six.integer_types` for axis check in `F.concat`
  chainer/functions/array/concat.py
Labels: backport, cat:enhancement

#7711 [backport] Fixes a grammar error
  chainer/functions/array/expand_dims.py
Labels: backport, cat:document

#7679 Add `chainerx.softplus`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/activation.cc
  chainerx_cc/chainerx/routines/activation.h
  tests/chainerx_tests/unit_tests/routines_tests/test_activation.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7520 Avoid chainerx implicit type conversions
  chainer/__init__.py
  chainer/function_node.py
  tests/chainer_tests/test_function_node.py
Labels: ChainerX, ChainerX-long, st:test-and-merge

#7464 Call chainerx.grad from chainer.grad
  chainer/function_node.py
  chainerx_cc/chainerx/backward.cc
  chainerx_cc/chainerx/backward.h
  chainerx_cc/chainerx/python/backward.cc
  tests/chainer_tests/test_function_node.py
  tests/chainerx_tests/unit_tests/test_backward.py
Labels: ChainerX, ChainerX-long, st:test-and-merge

#7486 Fix pickling issues on `MultiprocessIterator`
  chainer/iterators/multiprocess_iterator.py
  tests/chainer_tests/iterators_tests/test_multiprocess_iterator.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#7742 [backport] Fix pickling issues on `MultiprocessIterator`
  chainer/iterators/multiprocess_iterator.py
  tests/chainer_tests/iterators_tests/test_multiprocess_iterator.py
Labels: backport, cat:bug

#7729 [backport] Fix `PickleDataset` crash when using multiprocessing
  chainer/datasets/pickle_dataset.py
  tests/chainer_tests/datasets_tests/test_pickle_dataset.py
Labels: backport, cat:bug

#7727 Fix offset in `chainerx::Flip`
  chainerx_cc/chainerx/routines/manipulation.cc
Labels: ChainerX, cat:bug

#7715 Fix warning filter for protobuf
  setup.cfg
Labels: cat:test, to-be-backported

#7744 [backport] Fix warning filter for protobuf
  setup.cfg
Labels: backport, cat:test

#7746 [backport] Fixes an error on chainer.grad for multiple devices
  chainer/function_node.py
  tests/chainer_tests/test_function_node.py
Labels: backport, cat:bug, pr-blocker, st:test-and-merge

#7697 Delete deprecated communicators
  chainermn/communicators/__init__.py
  chainermn/communicators/communicator_base.py
  chainermn/communicators/hierarchical_communicator.py
  chainermn/communicators/single_node_communicator.py
  chainermn/communicators/two_dimensional_communicator.py
  docs/source/chainermn/model_parallel/example1_simple_mlp.rst
  examples/chainermn/dcgan/train_dcgan.py
  examples/chainermn/imagenet/train_imagenet.py
  examples/chainermn/mnist/train_mnist.py
  examples/chainermn/mnist/train_mnist_checkpoint.py
  examples/chainermn/mnist/train_mnist_dual_parallel.py
  examples/chainermn/mnist/train_mnist_model_parallel.py
  examples/chainermn/parallel_convolution/train.py
  examples/chainermn/seq2seq/seq2seq.py
  examples/chainermn/seq2seq/seq2seq_mp1.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN

#7735 Fix `Parameter.dtype` for uninitialized parameter
  chainer/variable.py
  tests/chainer_tests/test_variable.py
Labels: backport, cat:bug, st:test-and-merge

#7716 test `optimizer_hooks.WeightDecay` for ChainerX
  tests/chainer_tests/optimizer_hooks_tests/test_weight_decay.py
Labels: cat:test, st:test-and-merge

#7709 test `optimizer_hooks.GradientNoise` for ChainerX
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_noise.py
Labels: ChainerX, st:test-and-merge

#7747 Fix flaky `TestContrastive`
  tests/chainer_tests/functions_tests/loss_tests/test_contrastive.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7731 Fix reporter for multi-thread use
  chainer/reporter.py
  tests/chainer_tests/test_reporter.py
Labels: cat:bug, st:test-and-merge

#7728 Reverse input array for non-contiguous tests
  chainer/testing/array.py
Labels: cat:test, st:test-and-merge

#7745 Fix eps in `Contrastive.backward`
  chainer/functions/loss/contrastive.py
Labels: cat:test

#7752 Require CUDA if `CHAINERX_BUILD_CUDA` is set
  chainerx_cc/CMakeLists.txt
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7765 [backport] Fix flaky `TestContrastive`
  tests/chainer_tests/functions_tests/loss_tests/test_contrastive.py
Labels: backport, cat:test

#6678 Add `WeightStandardization` link hook
  chainer/functions/normalization/_standardize.py
  chainer/link_hooks/__init__.py
  chainer/link_hooks/weight_standardization.py
  docs/source/reference/links.rst
  tests/chainer_tests/functions_tests/normalization_tests/test_standardize.py
  tests/chainer_tests/link_hooks_tests/test_weight_standardization.py
Labels: cat:feature

#6414 Allow bool evaluation in `type_check`
  chainer/utils/type_check.py
  tests/chainer_tests/utils_tests/test_type_check.py
Labels: cat:enhancement, st:test-and-merge

#6237 set initial top_data as -np.inf and argmax_data as -1
  chainer/functions/pooling/roi_max_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_max_pooling_2d.py
Labels: cat:enhancement, st:test-and-merge

#7770 [backport] Use `six.integer_types` for axis checks
  chainer/functions/activation/crelu.py
  chainer/functions/array/moveaxis.py
  chainer/functions/math/cumprod.py
  chainer/functions/math/cumsum.py
  chainer/functions/math/logsumexp.py
  chainer/functions/math/minmax.py
  chainer/functions/math/prod.py
  chainer/functions/math/sum.py
  chainer/functions/math/tensordot.py
  chainer/functions/normalization/batch_normalization.py
  chainer/functions/normalization/l2_normalization.py
  chainer/links/normalization/batch_normalization.py
Labels: backport, cat:enhancement

#7766 Warn users for Python 2
  chainer/_environment_check.py
  docs/source/install.rst
  docs/source/upgrade.rst
Labels: cat:other, pr-blocker, to-be-backported

#7772 Revert "Allow bool evaluation in `type_check`"
  chainer/utils/type_check.py
  tests/chainer_tests/utils_tests/test_type_check.py
Labels: cat:enhancement, release-blocker, st:test-and-merge

#7774 Add a note for Python 2 drop in v7
  docs/source/install.rst
Labels: cat:document, release-blocker, st:test-and-merge

#7776 Bump version numbers to v7.0.0b2
  chainer/_version.py
  docker/intel/python2/Dockerfile
  docker/intel/python3/Dockerfile
  docker/python2/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other, st:test-and-merge

#7779 Revert "[v6] Add a note for Python 2 drop in v7"
  docs/source/install.rst
Labels: cat:document, st:test-and-merge

#7725 Create links.rnn and functions.rnn
  chainer/functions/__init__.py
  chainer/functions/rnn/__init__.py
  chainer/functions/rnn/lstm.py
  chainer/functions/rnn/n_step_gru.py
  chainer/functions/rnn/n_step_lstm.py
  chainer/functions/rnn/n_step_rnn.py
  chainer/functions/rnn/slstm.py
  chainer/functions/rnn/tree_lstm.py
  chainer/links/__init__.py
  chainer/links/loss/crf1d.py
  chainer/links/rnn/__init__.py
  chainer/links/rnn/gru.py
  chainer/links/rnn/lstm.py
  chainer/links/rnn/mgu.py
  chainer/links/rnn/n_step_gru.py
  chainer/links/rnn/n_step_lstm.py
  chainer/links/rnn/n_step_rnn.py
  chainer/links/rnn/peephole.py
  chainer/links/rnn/tree_lstm.py
  chainer/links/rnn/zoneoutlstm.py
  chainermn/links/n_step_rnn.py
  setup.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_lstm.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_n_step_gru.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_n_step_lstm.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_n_step_rnn.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_slstm.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_gru.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_lstm.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_mgu.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_gru.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_lstm.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_rnn.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_peephole.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_tree_lstm.py
Labels: cat:code-fix

#7749 [backport] Fix `Parameter.dtype` for uninitialized parameter
  chainer/variable.py
  tests/chainer_tests/test_variable.py
Labels: backport, cat:bug

#7751 [backport] Fix `UpdateRule.use_fp32_update` for uninitialized parameter
  chainer/optimizer.py
  tests/chainer_tests/test_optimizer.py
Labels: backport, cat:bug, st:test-and-merge

#7762 Fix test of `chx.reshape`
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7694 Fix Adam FP16 overflow on gpu kernels
  chainer/optimizers/adam.py
Labels: cat:enhancement, st:test-and-merge

#7780 [backport] Fix Adam FP16 overflow on gpu kernels
  chainer/optimizers/adam.py
Labels: backport, cat:enhancement

#7558 Add `chainerx.cumsum`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/kernels/reduction.h
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/reduction.cc
  chainerx_cc/chainerx/routines/reduction.h
  tests/chainerx_tests/unit_tests/routines_tests/test_reduction.py
Labels: ChainerX, GSoC, cat:feature

#7327 Add strict mode to scatter_dataset as well as scatter_index
  chainermn/__init__.py
  chainermn/datasets/__init__.py
  chainermn/datasets/scatter.py
  chainermn/datasets/scatter_dataset.py
  docs/source/chainermn/reference/index.rst
  tests/chainermn_tests/datasets_tests/test_scatter.py
Labels: ChainerMN, cat:feature

#7760 Fix `optimizer_hooks.GradientHardClipping` for scalar array
  chainer/optimizer_hooks/gradient_hard_clipping.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_clipping.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_hard_clipping.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_lars.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_noise.py
  tests/chainer_tests/optimizer_hooks_tests/test_lasso.py
  tests/chainer_tests/optimizer_hooks_tests/test_weight_decay.py
  tests/chainer_tests/optimizer_hooks_tests/utils.py
  tests/chainer_tests/test_runnable.py
Labels: ChainerX-long, cat:code-fix

#7600 Avoid unload module call in PureNcclCommunicator
  chainermn/communicators/pure_nccl_communicator.py
Labels: ChainerMN, cat:bug, to-be-backported

#7630 Add Mixed16 tests to multi-node chain List
  tests/chainermn_tests/links_tests/test_multi_node_chain_list.py
Labels: ChainerMN, cat:test

#7474 Add `linalg.solve`, `linalg.inv` to ChainerX
  chainerx/_docs/routines.py
  chainerx/linalg/__init__.pyi
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/linalg.cu
  chainerx_cc/chainerx/cuda/cusolver.cc
  chainerx_cc/chainerx/cuda/cusolver.h
  chainerx_cc/chainerx/kernels/linalg.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/linalg.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/linalg.cc
  chainerx_cc/chainerx/routines/linalg.h
  docs/source/chainerx/reference/routines.rst
  scripts/ci/travis/run-tests.sh
  scripts/ci/travis/steps.sh
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, cat:feature

#7758 Make `F.average` as accurate as backend
  chainer/functions/math/average.py
  tests/chainer_tests/functions_tests/math_tests/test_average.py
Labels: cat:enhancement, to-be-backported

#7782 [backport] Make `F.average` as accurate as backend
  chainer/functions/math/average.py
  tests/chainer_tests/functions_tests/math_tests/test_average.py
Labels: backport, cat:enhancement

#7769 fix "zero division" in resize image
  chainer/functions/array/resize_images.py
Labels: cat:bug

#7637 Add mixed16 tests to point_to_point communications
  tests/chainermn_tests/functions_tests/test_point_to_point_communication.py
Labels: ChainerMN, cat:test

#7185 Change `F.dropout` to use cuDNN by default
  chainer/functions/noise/dropout.py
  tests/chainer_tests/functions_tests/noise_tests/test_dropout.py
Labels: cat:enhancement, st:test-and-merge

#6835 Fix TypeError in `max_pooling_2d`
  chainer/functions/pooling/max_pooling_2d.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#7738 Improve chainerx import check
  chainerx/__init__.py
Labels: ChainerX, ChainerX-long, cat:enhancement, st:test-and-merge

#7789 [backport] Fix TypeError in `max_pooling_2d`
  chainer/functions/pooling/max_pooling_2d.py
Labels: backport, cat:bug

#7792 [backport] Fix test of `chx.reshape`
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: backport, cat:test

#7787 [backport] Avoid unload module call in PureNcclCommunicator
  chainermn/communicators/pure_nccl_communicator.py
Labels: ChainerMN, backport, cat:bug

#7791 Add `tri*` routines to ChainerX
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/fill.cu
  chainerx_cc/chainerx/kernels/creation.h
  chainerx_cc/chainerx/native/native_device/fill.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/creation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: ChainerX, GSoC, cat:feature, st:test-and-merge

#7790 Revert #6754
  scripts/ci/travis/steps.sh
Labels: cat:test, prio:low, st:test-and-merge, to-be-backported

#7795 Fix `type_check` error message on evaluating bool expression
  chainer/utils/type_check.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7799 Remove unused lambda capture of `axis`
  chainerx_cc/chainerx/routines/reduction.cc
Labels: cat:code-fix, st:test-and-merge

#7803 Fix module in msg of `type_check`
  chainer/utils/type_check.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7801 [backport] Fix `type_check` error message on evaluating bool expression
  chainer/utils/type_check.py
Labels: backport, cat:enhancement

#4413 Add test to ensure no mutable default arguments
  tests/chainer_tests/test_chainer_objects.py
Labels: cat:test, st:test-and-merge

#7775 Unique -> deterministic
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:document

#7810 [backport] Fix module in msg of `type_check`
  chainer/utils/type_check.py
Labels: backport, cat:enhancement

#7539 Avoid using `_fallback_workarounds` in `SpectralNormalization`
  chainer/link_hooks/spectral_normalization.py
Labels: cat:code-fix, st:test-and-merge

#7800 [backport] Revert #6754
  scripts/ci/travis/steps.sh
Labels: backport, cat:test, prio:low, st:test-and-merge

#7223 Implemented repeat
  chainerx/__init__.pyi
  chainerx/_docs/array.py
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature, st:test-and-merge

#3511 Invoke extensions before training
  chainer/training/extensions/log_report.py
  chainer/training/extensions/plot_report.py
  chainer/training/trainer.py
  examples/mnist/train_mnist.py
  tests/chainer_tests/training_tests/test_trainer.py
Labels: cat:feature

#7816 Use scalar array in `chx.leaky_relu`/`elu`
  chainerx_cc/chainerx/routines/activation.cc
Labels: cat:enhancement, st:test-and-merge

#7811 Relax typing version requirement in Python 3
  setup.py
Labels: cat:install

#7707 Fix decorrelated batch normalization when groups ≠ 1
  chainer/functions/normalization/decorrelated_batch_normalization.py
  chainer/links/normalization/decorrelated_batch_normalization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_decorrelated_batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_decorrelated_batch_normalization.py
Labels: cat:bug, to-be-backported

#7718 Fix create_mnbn_model() bug
  chainermn/links/create_mnbn_model.py
  tests/chainermn_tests/links_tests/test_create_mnbn_model.py
Labels: ChainerMN, cat:bug, to-be-backported

#7814 Add finalize method to CommunicatorBase class
  chainermn/communicators/communicator_base.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  docs/source/chainermn/reference/index.rst
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:feature

#7489 Add base `Converter` class
  chainer/dataset/__init__.py
  chainer/dataset/convert.py
  docs/source/reference/datasets.rst
  tests/chainer_tests/training_tests/updaters_tests/test_standard_updater.py
Labels: prio:high

#7828 Remove unused argument from decorrelated batch norm
  chainer/functions/normalization/decorrelated_batch_normalization.py
Labels: cat:code-fix, st:test-and-merge, to-be-backported

#7822 Fix a typo in test_communicator
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:test

#7302 Add observation_aggregator
  chainermn/extensions/__init__.py
  chainermn/extensions/multi_node_early_stopping_trigger.py
  chainermn/extensions/observation_aggregator.py
  tests/chainermn_tests/extensions_tests/test_multi_node_early_stopping_trigger.py
  tests/chainermn_tests/extensions_tests/test_observation_aggregator.py
Labels: ChainerMN

#7633 Add mixed16 tests to collective functions
  tests/chainermn_tests/functions_tests/test_collective_communication.py
Labels: ChainerMN, cat:test

#7834 Switch current directory in Jenkins tests
  scripts/ci/chainerx/jenkins/Dockerfile.template
Labels: prio:high

#7638 Add mixed16 tests to pseudo_connect
  tests/chainermn_tests/functions_tests/test_pseudo_connect.py
Labels: ChainerMN, cat:test
