Repository chainer/chainer, pull requests merged in 2019-06, with the labels that each got.

#7338 Fix style on imports
  chainer/datasets/image_dataset.py
  chainer/distributions/independent.py
  chainer/exporters/caffe.py
  chainer/functions/array/as_strided.py
  chainer/functions/pooling/spatial_pyramid_pooling_2d.py
  chainer/graph_optimizations/static_graph.py
  chainer/links/loss/crf1d.py
  chainer/optimizer.py
  chainer/testing/doctest_helper.py
  chainer/testing/function_link.py
  chainer/testing/helper.py
  chainer/testing/random.py
  chainer/training/extensions/snapshot_writers.py
  chainer/training/extensions/variable_unchain.py
  chainer/training/updaters/multiprocess_parallel_updater.py
  tests/chainer_tests/functions_tests/activation_tests/test_tanh.py
  tests/chainer_tests/functions_tests/array_tests/test_as_strided.py
  tests/chainer_tests/functions_tests/evaluation_tests/test_accuracy.py
  tests/chainer_tests/functions_tests/evaluation_tests/test_binary_accuracy.py
  tests/chainer_tests/functions_tests/math_tests/test_arctanh.py
  tests/chainer_tests/functions_tests/math_tests/test_fft.py
  tests/chainer_tests/functions_tests/math_tests/test_matmul.py
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: cat:code-fix, st:test-and-merge

#7317 Split explog routines from math.cc
  chainerx_cc/chainerx/backward_test.cc
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/explog.h
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/explog.cc
  chainerx_cc/chainerx/routines/explog.h
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/reduction.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_explog.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:code-fix, st:test-and-merge

#6474 Option to show progress bar during evaluation
  chainer/training/extensions/evaluator.py
  chainer/training/extensions/progress_bar.py
  chainer/training/extensions/util.py
  tests/chainer_tests/training_tests/extensions_tests/test_evaluator.py
Labels: cat:feature, st:test-and-merge

#7289 Fix a bug that root is ignored in scatter_dataset and bcast
  chainermn/communicators/_communication_utility.py
  chainermn/datasets/scatter_dataset.py
  tests/chainermn_tests/datasets_tests/test_dataset.py
Labels: ChainerMN, cat:bug, prio:high, to-be-backported

#7367 Fix typo in wavenet example requirements
  examples/wavenet/requirements.txt
Labels: cat:example, st:test-and-merge, to-be-backported

#7321 Fix DtypeError in `chainerx.square`
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/routines/misc.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_misc.py
Labels: ChainerX, cat:bug, st:test-and-merge, to-be-backported

#7293 Fix condition to invoke cuDNN dropout
  chainer/functions/noise/dropout.py
  tests/chainer_tests/functions_tests/noise_tests/test_dropout.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#7372 Warn NaN in FP16 mode in wavenet example
  examples/wavenet/train.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7358 Warn NaN in FP16 mode in static_graph_optimizations/mnist example
  examples/static_graph_optimizations/mnist/train_mnist.py
  examples/static_graph_optimizations/mnist/train_mnist_custom_loop.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7356 Warn NaN in FP16 mode in sentiment example
  examples/sentiment/train_sentiment.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7357 Warn NaN in FP16 mode in static_graph_optimizations/cifar example
  examples/static_graph_optimizations/cifar/train_cifar.py
  examples/static_graph_optimizations/cifar/train_cifar_custom_loop.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7344 Warn NaN in FP16 mode in dcgan example
  examples/dcgan/train_dcgan.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7355 Warn NaN in FP16 mode in reinforcement learning examples
  examples/reinforcement_learning/ddpg_pendulum.py
  examples/reinforcement_learning/dqn_cartpole.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7360 [backport] Fix a bug that root is ignored in scatter_dataset and bcast
  chainermn/communicators/_communication_utility.py
  chainermn/datasets/scatter_dataset.py
  tests/chainermn_tests/datasets_tests/test_dataset.py
Labels: ChainerMN, backport, cat:bug, prio:high

#6140 Improve contribution guide
  docs/source/contribution.rst
Labels: cat:document

#7345 Warn NaN in FP16 mode in memnn example
  examples/memnn/train_memnn.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7354 Warn NaN in FP16 mode in pos example
  examples/pos/postagging.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7333 Add tests for clip function with None parameter to min/max
  chainer/functions/math/clip.py
  tests/chainer_tests/functions_tests/math_tests/test_clip.py
Labels: cat:enhancement

#7346 Warn NaN in FP16 mode in pix2pix example
  examples/pix2pix/train_facade.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7376 [backport] Warn NaN in FP16 mode in wavenet example
  examples/wavenet/train.py
Labels: backport, cat:example

#7377 [backport] Warn NaN in FP16 mode in static_graph_optimizations/mnist example
  examples/static_graph_optimizations/mnist/train_mnist.py
  examples/static_graph_optimizations/mnist/train_mnist_custom_loop.py
Labels: backport, cat:example

#7380 [backport] Warn NaN in FP16 mode in sentiment example
  examples/sentiment/train_sentiment.py
Labels: backport, cat:example

#7381 [backport] Warn NaN in FP16 mode in static_graph_optimizations/cifar example
  examples/static_graph_optimizations/cifar/train_cifar.py
  examples/static_graph_optimizations/cifar/train_cifar_custom_loop.py
Labels: backport, cat:example

#7382 [backport] Warn NaN in FP16 mode in reinforcement learning examples
  examples/reinforcement_learning/ddpg_pendulum.py
  examples/reinforcement_learning/dqn_cartpole.py
Labels: backport, cat:example

#7383 [backport] Warn NaN in FP16 mode in dcgan example
  examples/dcgan/train_dcgan.py
Labels: backport, cat:example

#7386 [backport] Warn NaN in FP16 mode in memnn example
  examples/memnn/train_memnn.py
Labels: backport, cat:example

#7387 [backport] Warn NaN in FP16 mode in pos example
  examples/pos/postagging.py
Labels: backport, cat:example

#7378 [backport] Warn NaN in FP16 mode in word2vec example
  examples/word2vec/train_word2vec.py
Labels: backport, cat:example, st:test-and-merge

#7364 Python operator `__abs__` with `chainerx.ndarray`
  chainerx_cc/chainerx/python/array.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_misc.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7374 [backport] Fix condition to invoke cuDNN dropout
  chainer/functions/noise/dropout.py
  tests/chainer_tests/functions_tests/noise_tests/test_dropout.py
Labels: backport, cat:bug

#7388 [backport] Warn NaN in FP16 mode in pix2pix example
  examples/pix2pix/train_facade.py
Labels: backport, cat:example

#7389 Fix format of `static_graph.rst`
  docs/source/reference/static_graph.rst
Labels: cat:document, pr-blocker, st:test-and-merge, to-be-backported

#7384 Add NumPy constants to ChainerX
  chainerx/__init__.py
  chainerx_cc/chainerx/python/array_index.cc
  chainerx_cc/chainerx/python/core_module.cc
  tests/chainerx_tests/unit_tests/test_constants.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7254 [backport] Fix uncopyable MultiNodeBatchNormalization
  chainermn/links/batch_normalization.py
  tests/chainermn_tests/links_tests/test_batch_normalization.py
Labels: ChainerMN, backport, cat:bug

#7405 Avoid setting `test_iter.epoch` manually in the tutorial of training loop
  docs/source/examples/train_loop.rst
Labels: cat:document, st:test-and-merge, to-be-backported

#7390 Support cudnn deterministic max pooling
  chainer/functions/pooling/max_pooling_2d.py
  chainer/functions/pooling/max_pooling_nd.py
Labels: cat:enhancement, st:test-and-merge

#7399 [backport] Fix format of `static_graph.rst`
  docs/source/reference/static_graph.rst
Labels: backport, cat:document

#7362 Warn NaN in FP16 mode in vae example
  examples/vae/train_vae.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7165 Bugfix: `MultiNodeChainList` should not assume float32
  chainermn/functions/point_to_point_communication.py
Labels: ChainerMN, cat:bug

#7410 [backport] Avoid setting `test_iter.epoch` manually in the tutorial of training loop
  docs/source/examples/train_loop.rst
Labels: backport, cat:document, st:test-and-merge

#7373 Change 0 to 0.0 for python2
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:test

#7412 [backport] Warn NaN in FP16 mode in vae example
  examples/vae/train_vae.py
Labels: backport, cat:example

#7403 [backport] Add configuration of new CI system
  .pfnci/config.pbtxt
  .pfnci/hint.pbtxt
  .pfnci/run.sh
  .pfnci/script.sh
Labels: backport, cat:test

#7401 Improve `get_device` error message when ChainerX is not available
  chainer/backend.py
  tests/chainer_tests/test_backend.py
Labels: cat:enhancement, st:test-and-merge

#7400 Add type hints to `Variable`
  chainer/variable.py
  chainerx/__init__.pyi
Labels: cat:enhancement, st:test-and-merge

#7419 Put comments in `FindCuDNN.cmake`
  chainerx_cc/cmake/FindCuDNN.cmake
Labels: cat:code-fix, st:test-and-merge

#7363 Avoid installing ChainerX when building docs of other projects on ReadTheDocs
  setup.py
Labels: cat:document, st:test-and-merge, to-be-backported

#7369 Allow turning off the static subgraph optimizations using a config
  chainer/__init__.py
  chainer/configuration.py
  chainer/graph_optimizations/static_graph.py
  chainer/graph_optimizations/static_graph_utilities.py
  docs/source/reference/configuration.rst
  docs/source/reference/static_graph.rst
  tests/chainer_tests/graph_optimization_tests/test_static_graph_models.py
Labels: cat:feature, st:test-and-merge

#7426 [backport] Avoid installing ChainerX when building docs of other projects on ReadTheDocs
  setup.py
Labels: backport, cat:document, st:test-and-merge

#7415 Split arithmetic ops from routines/math.h
  .pfnci/hint.pbtxt
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/arithmetic.h
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/arithmetic.cc
  chainerx_cc/chainerx/routines/arithmetic.h
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/normalization.cc
  chainerx_cc/chainerx/routines/pooling.cc
  chainerx_cc/chainerx/routines/reduction.cc
  chainerx_cc/chainerx/routines/statistics.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_arithmetic.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: cat:code-fix, st:test-and-merge

#7423 Fix mypy errors
  chainerx/__init__.pyi
Labels: cat:bug, to-be-backported

#7437 DRY optimizer test parameterizations
  tests/chainer_tests/optimizers_tests/test_optimizers.py
Labels: cat:code-fix, st:test-and-merge

#7434 Make `EXEPECT_ARRAY_*` macros able to used outside ChainerX
  chainerx_cc/chainerx/testing/array_check.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7404 Add `chainerx.erf`
  chainerx_cc/chainerx/constant.h
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/explog.h
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/explog.cc
  chainerx_cc/chainerx/routines/explog.h
  tests/chainerx_tests/unit_tests/routines_tests/test_explog.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7421 `get_device` to raise a more correct error types
  chainer/backend.py
Labels: cat:enhancement

#7147 Fix `cuda.DummyDevice` inheritance
  chainer/backends/cuda.py
  tests/chainer_tests/test_backend.py
Labels: cat:enhancement, st:test-and-merge

#5952 Add interface to backprop from multiple variables
  chainer/__init__.py
  chainer/_backprop.py
  chainer/functions/util/forget.py
  chainer/gradient_check.py
  chainer/variable.py
  docs/source/reference/variable.rst
  tests/chainer_tests/test_backprop.py
  tests/chainer_tests/test_function_and_function_node.py
  tests/chainer_tests/test_variable.py
Labels: cat:feature, pr-blocker

#7441 In `FindCuDNN.cmake`, prioritize explicit variables over environment variables
  chainerx_cc/cmake/FindCuDNN.cmake
Labels: ChainerX, cat:install, pr-blocker, st:test-and-merge

#7353 Add `chainerx.dstack` and `chainerx.atleast_3d`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7265 Add `chainerx.moveaxis`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature

#7139 Add `chainerx.log2`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/cuda/float16.cuh
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/explog.h
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/explog.cc
  chainerx_cc/chainerx/routines/explog.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_explog.py
Labels: ChainerX, cat:feature

#7445 [backport] Add type hints to `Variable`
  chainer/variable.py
  chainerx/__init__.pyi
Labels: backport, cat:enhancement

#7446 Add `Sequence` support for `shape` arguments
  chainerx/__init__.pyi
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/python/shape.cc
  chainerx_cc/chainerx/python/shape.h
  chainerx_cc/chainerx/python/testing/device_buffer.cc
  tests/chainerx_tests/conftest.py
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6872 Fix type check of `F.where`
  chainer/functions/array/where.py
  chainer/utils/type_check.py
  tests/chainer_tests/functions_tests/array_tests/test_where.py
Labels: cat:bug, prio:high, to-be-backported

#7443 Add nearest mode to resize_images
  chainer/functions/array/resize_images.py
  tests/chainer_tests/functions_tests/array_tests/test_resize_images.py
Labels: cat:feature

#7311 Fix wrong comment in ChainerX backward implementation
  chainerx_cc/chainerx/backward.cc
Labels: ChainerX, cat:code-fix

#7306 Fix robots.txt to allow indexing root
  docs/source/_static/robots.txt
Labels: cat:document, to-be-backported

#7416 Remove "Research projects using Chainer" from README
  README.md
Labels: cat:other, to-be-backported

#7458 [backport] Fix robots.txt to allow indexing root
  docs/source/_static/robots.txt
Labels: backport, cat:document, st:test-and-merge

#7444 Split logic routines from math
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_device/logic.cu
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/kernels/logic.h
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/logic.cc
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/logic.h
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, st:test-and-merge

#7459 [backport] Remove "Research projects using Chainer" from README
  README.md
Labels: backport, cat:other, st:test-and-merge

#7258 Alias StackVector<int64_t, kMaxNdim> to Dims
  chainerx_cc/chainerx/cuda/cuda_conv.cc
  chainerx_cc/chainerx/cuda/cuda_conv.h
  chainerx_cc/chainerx/cuda/cuda_conv_test.cc
  chainerx_cc/chainerx/cuda/cuda_device/conv.cc
  chainerx_cc/chainerx/cuda/cuda_device/pool.cu
  chainerx_cc/chainerx/cuda/cudnn.cc
  chainerx_cc/chainerx/cuda/cudnn.h
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/dims.cc
  chainerx_cc/chainerx/dims.h
  chainerx_cc/chainerx/dims_test.cc
  chainerx_cc/chainerx/kernels/connection.h
  chainerx_cc/chainerx/kernels/pooling.h
  chainerx_cc/chainerx/native/col2im.cc
  chainerx_cc/chainerx/native/col2im.h
  chainerx_cc/chainerx/native/im2col.cc
  chainerx_cc/chainerx/native/im2col.h
  chainerx_cc/chainerx/native/native_device/conv.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/python/stack_vector.h
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/connection.h
  chainerx_cc/chainerx/routines/pooling.cc
  chainerx_cc/chainerx/routines/pooling.h
  chainerx_cc/chainerx/shape.h
  chainerx_cc/chainerx/strides.h
Labels: ChainerX, ChainerX-long, st:test-and-merge

#7462 Remove test coverage from ChainerX contribution guide
  docs/source/chainerx/contribution.rst
Labels: ChainerX, cat:document, st:test-and-merge, to-be-backported

#7465 [backport] Fix mypy errors
  chainerx/__init__.pyi
Labels: backport, cat:bug, st:test-and-merge

#7457 Add missing parameter `dstack` to `invalid_shape` test
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: cat:test, st:test-and-merge

#7431 Support ChainerX in static subgraph optimization examples
  examples/static_graph_optimizations/cifar/train_cifar.py
  examples/static_graph_optimizations/cifar/train_cifar_custom_loop.py
  examples/static_graph_optimizations/mnist/train_mnist.py
  examples/static_graph_optimizations/mnist/train_mnist_custom_loop.py
Labels: ChainerX, cat:example, st:test-and-merge

#7469 [backport] Remove test coverage from ChainerX contribution guide
  docs/source/chainerx/contribution.rst
Labels: ChainerX, backport, cat:document, st:test-and-merge

#7453 Qualify some arguments of pool kernels `const&`
  chainerx_cc/chainerx/cuda/cuda_device/pool.cu
  chainerx_cc/chainerx/kernels/pooling.h
  chainerx_cc/chainerx/native/native_device/pool.cc
Labels: cat:code-fix, st:test-and-merge

#7467 [backport] Add reference and warning to `F.swish` document
  chainer/functions/activation/swish.py
Labels: backport, cat:document

#7417 Remove "Comparison with other frameworks" from docs
  docs/source/comparison.rst
  docs/source/index.rst
Labels: cat:document, to-be-backported

#7371 Improve `F.normalize` documentation
  chainer/functions/normalization/l2_normalization.py
Labels: cat:document, to-be-backported

#7452 Explicit check of chainerx arrays on fallback functions
  chainerx/_fallback_workarounds.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#7468 [backport] Change Deformable Convolution 2D docs to match arguments
  chainer/links/connection/deformable_convolution_2d.py
Labels: backport, cat:document

#7482 [backport] Improve `F.normalize` documentation
  chainer/functions/normalization/l2_normalization.py
Labels: backport, cat:document, st:test-and-merge

#7477 [backport] Remove "Comparison with other frameworks" from docs
  docs/source/comparison.rst
  docs/source/index.rst
Labels: backport, cat:document, st:test-and-merge

#7480 Include `cuda_fp16.h` instead of `cuda_fp16.hpp`
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/float16.cuh
Labels: ChainerX, pr-blocker, st:test-and-merge

#7397 In `FunctionNode` ChainerX fallback, reuse `ChainerxDevice` taken from inputs to create outputs
  chainer/function_node.py
  chainer/variable.py
Labels: ChainerX, cat:performance, st:test-and-merge

#7461 [backport] Improve `get_device` error message when ChainerX is not available
  chainer/backend.py
  tests/chainer_tests/test_backend.py
Labels: backport, cat:enhancement

#7407 Split rounding routines
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/cuda/cuda_device/rounding.cu
  chainerx_cc/chainerx/cuda/kernel_regist.h
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/rounding.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/kernel_regist.h
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/native/native_device/rounding.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/rounding.cc
  chainerx_cc/chainerx/routines/rounding.h
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
  tests/chainerx_tests/unit_tests/routines_tests/test_rounding.py
Labels: ChainerX, cat:code-fix

#7490 Use py::arg literal in ChainerX python binding
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/backprop_mode.cc
  chainerx_cc/chainerx/python/backward.cc
  chainerx_cc/chainerx/python/chainer_interop.cc
  chainerx_cc/chainerx/python/check_backward.cc
  chainerx_cc/chainerx/python/context.cc
  chainerx_cc/chainerx/python/graph.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/python/testing/device_buffer.cc
  chainerx_cc/chainerx/python/testing/testing_module.cc
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7281 Fix `F.absolute_error` for ChainerX
  chainer/functions/loss/absolute_error.py
  tests/chainer_tests/functions_tests/loss_tests/test_absolute_error.py
Labels: cat:bug, st:test-and-merge

#7448 Check positive dilation in `F.convolution_2d`
  chainer/functions/connection/convolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7449 Check positive dilation in `F.deconvolution_2d`
  chainer/functions/connection/deconvolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_2d.py
Labels: cat:enhancement, to-be-backported

#7497 Remove rounding kernels from math
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/statistics.cc
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7473 Support `F.copy` between non-ChainerX and ChainerX devices only if backprop is not required
  chainer/functions/array/copy.py
  tests/chainer_tests/functions_tests/array_tests/test_copy.py
Labels: ChainerX, st:test-and-merge

#7500 [backport] Check positive dilation in `F.deconvolution_2d`
  chainer/functions/connection/deconvolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_2d.py
Labels: backport, cat:enhancement

#7499 [backport] Check positive dilation in `F.convolution_2d`
  chainer/functions/connection/convolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
Labels: backport, cat:enhancement, st:test-and-merge

#7487 Add `is_array_supported` method on `backend.Device`
  chainer/_backend.py
  chainer/backends/_chainerx.py
  chainer/backends/_cpu.py
  chainer/backends/cuda.py
  chainer/backends/intel64.py
  tests/chainer_tests/backends_tests/test_chainerx.py
  tests/chainer_tests/backends_tests/test_cpu.py
  tests/chainer_tests/backends_tests/test_cuda.py
  tests/chainer_tests/backends_tests/test_intel64.py
Labels: cat:feature, st:test-and-merge

#7472 Add `input_device` to `StandardUpdater`
  chainer/training/updaters/standard_updater.py
  tests/chainer_tests/training_tests/updaters_tests/test_standard_updater.py
Labels: ChainerX-long, cat:feature, pr-blocker

#7495 Fix typo in `tabular_dataset.py`
  chainer/dataset/tabular/tabular_dataset.py
Labels: cat:document, st:test-and-merge

#7491 Make `WeightDecay` aware of loss scale
  chainer/optimizer_hooks/weight_decay.py
  tests/chainer_tests/optimizer_hooks_tests/test_weight_decay.py
Labels: cat:bug, to-be-backported

#7330 Support ChainerX in MNIST model parallel example
  examples/mnist/train_mnist_model_parallel.py
Labels: ChainerX, ChainerX-long, cat:example, st:test-and-merge

#7510 [backport] Make `WeightDecay` aware of loss scale
  chainer/optimizer_hooks/weight_decay.py
  tests/chainer_tests/optimizer_hooks_tests/test_weight_decay.py
Labels: backport, cat:bug

#7501 Rename and move activation routines from math.h
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/activation.cc
  chainerx_cc/chainerx/routines/activation.h
  chainerx_cc/chainerx/routines/explog.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/normalization.cc
  chainerx_cc/chainerx/routines/pooling.cc
  chainerx_cc/chainerx/routines/reduction.cc
  chainerx_cc/chainerx/routines/statistics.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_activation.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7508 [backport] Change 0 to 0.0 for python2
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, backport, cat:test

#7512 Fix AdamW update rule regression on CPU
  chainer/optimizers/adam.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
Labels: cat:bug, st:test-and-merge

#7516 [backport] Fix AdamW update rule regression on CPU
  chainer/optimizers/adam.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
Labels: backport, cat:bug

#7488 Use `pytest.mark.xfail` instead of `unittest.expectedFailure`
  tests/chainer_tests/dataset_tests/test_convert.py
  tests/chainer_tests/test_backprop.py
  tests/chainer_tests/test_variable.py
Labels: cat:test

#7150 Add TabularDataset.transform/transform_batch
  chainer/dataset/tabular/__init__.py
  chainer/dataset/tabular/_transform.py
  chainer/dataset/tabular/tabular_dataset.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_transform.py
Labels: cat:feature

#7492 Fix `GradientMethod` ChainerX fallback for uninitialized parameters
  chainer/optimizer.py
  tests/chainer_tests/test_optimizer.py
Labels: cat:bug

#7351 Add `chainerx.leaky_relu`
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/activation.cc
  chainerx_cc/chainerx/routines/activation.h
  tests/chainerx_tests/unit_tests/routines_tests/test_activation.py
Labels: ChainerX, cat:feature

#7532 [backport] Fix type check of `F.where`
  chainer/functions/array/where.py
  chainer/utils/type_check.py
  tests/chainer_tests/functions_tests/array_tests/test_where.py
Labels: backport, cat:bug, prio:high, st:test-and-merge

#7533 Implement `reset` method in the PTB example
  examples/ptb/train_ptb.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7535 [backport] Implement `reset` method in the PTB example
  examples/ptb/train_ptb.py
Labels: backport, cat:example, st:test-and-merge

#7394 Avoid transferring from a native device to another in `Array::ToNative()`
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array_test.cc
  chainerx_cc/chainerx/backend.h
  chainerx_cc/chainerx/cuda/cuda_backend.cc
  chainerx_cc/chainerx/cuda/cuda_backend_test.cc
  chainerx_cc/chainerx/native/native_backend.h
  chainerx_cc/chainerx/native/native_backend_test.cc
Labels: ChainerX, cat:enhancement

#7231 Fix code style for long expressions
  chainer/distributions/bernoulli.py
  chainer/distributions/beta.py
  chainer/distributions/categorical.py
  chainer/distributions/cauchy.py
  chainer/distributions/chisquare.py
  chainer/distributions/dirichlet.py
  chainer/distributions/exponential.py
  chainer/distributions/gamma.py
  chainer/distributions/geometric.py
  chainer/distributions/gumbel.py
  chainer/distributions/independent.py
  chainer/distributions/laplace.py
  chainer/distributions/log_normal.py
  chainer/distributions/multivariate_normal.py
  chainer/distributions/normal.py
  chainer/distributions/pareto.py
  chainer/distributions/poisson.py
  chainer/distributions/uniform.py
  chainer/distributions/utils.py
Labels: cat:code-fix, st:test-and-merge, to-be-backported

#7484 Correct Embed ID documentation
  chainer/functions/connection/embed_id.py
  chainer/links/connection/embed_id.py
Labels: cat:document, to-be-backported

#7149 Add `Device.name` property
  chainer/_backend.py
  chainer/backends/_chainerx.py
  chainer/backends/_cpu.py
  chainer/backends/cuda.py
  chainer/backends/intel64.py
  tests/chainer_tests/backends_tests/test_chainerx.py
  tests/chainer_tests/backends_tests/test_cpu.py
  tests/chainer_tests/backends_tests/test_cuda.py
  tests/chainer_tests/backends_tests/test_intel64.py
Labels: cat:enhancement, st:test-and-merge

#7542 [backport] Fix code style for long expressions
  chainer/distributions/bernoulli.py
  chainer/distributions/beta.py
  chainer/distributions/categorical.py
  chainer/distributions/cauchy.py
  chainer/distributions/chisquare.py
  chainer/distributions/dirichlet.py
  chainer/distributions/exponential.py
  chainer/distributions/gamma.py
  chainer/distributions/geometric.py
  chainer/distributions/gumbel.py
  chainer/distributions/independent.py
  chainer/distributions/laplace.py
  chainer/distributions/log_normal.py
  chainer/distributions/multivariate_normal.py
  chainer/distributions/normal.py
  chainer/distributions/pareto.py
  chainer/distributions/poisson.py
  chainer/distributions/uniform.py
  chainer/distributions/utils.py
Labels: backport, cat:code-fix

#7442 Add ChainerX build option to use cuDNN from CuPy installation
  chainerx_cc/CMakeLists.txt
Labels: ChainerX, ChainerX-long, cat:install, st:test-and-merge

#7257 Add a test to reproduce the bcast deadlock problem
  tests/chainermn_tests/communicator_tests/test_mpi.py
Labels: ChainerMN, cat:test, to-be-backported

#7527 Split python binding math routines
  chainerx_cc/chainerx/python/routines.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_arithmetic.py
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7554 [backport] Add a test to reproduce the bcast deadlock problem
  tests/chainermn_tests/communicator_tests/test_mpi.py
Labels: ChainerMN, backport, cat:test

#7522 Remove ChainerX `CopyKernel`
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/cuda/cuda_device/copy.cu
  chainerx_cc/chainerx/kernels/misc.h
  chainerx_cc/chainerx/native/native_device/copy.cc
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/manipulation.cc
Labels: ChainerX, cat:code-fix

#7509 Bugfix for pytest 2x2
  chainermn/communicators/two_dimensional_communicator.py
Labels: ChainerMN, cat:bug, cat:code-fix

#6575 Add FP16 test to multi_node_chain_list
  tests/chainermn_tests/links_tests/test_multi_node_chain_list.py
Labels: ChainerMN, cat:test

#7562 Pin typing == 3.6.6
  setup.py
Labels: cat:test, to-be-backported

#7536 Use absolute namespace in macros
  chainerx_cc/chainerx/cuda/kernel_regist.h
  chainerx_cc/chainerx/native/kernel_regist.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7564 Fix typing requirements
  setup.py
Labels: cat:install, st:test-and-merge, to-be-backported

#7566 [backport] Fix typing requirements
  setup.py
Labels: backport, cat:install, st:test-and-merge

#7572 Update version numbers to v7.0.0b1
  chainer/_version.py
  docker/intel/python2/Dockerfile
  docker/intel/python3/Dockerfile
  docker/python2/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other

#7559 Update pybind version
  chainerx_cc/third_party/pybind11.cmake
Labels: ChainerX, pr-blocker, st:test-and-merge

#7576 [backport] Fix documentation for `shape` in `generate_array`
  chainer/initializers/__init__.py
Labels: backport, cat:document

#7575 [backport] Correct Embed ID documentation
  chainer/functions/connection/embed_id.py
  chainer/links/connection/embed_id.py
Labels: backport, cat:document

#7577 Fix typos in ResNet prepare method
  chainer/links/model/vision/resnet.py
Labels: cat:document, st:test-and-merge, to-be-backported

#7578 Fix typo in `examples/vae/train_vae.py`
  examples/vae/train_vae.py
Labels: cat:example, st:test-and-merge, to-be-backported

#7557 Fix inconsistent document for extension finalizer
  docs/source/guides/extensions.rst
Labels: cat:document, to-be-backported

#7063 [chainerx] add basic loss functions
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/loss.cc
  chainerx_cc/chainerx/routines/loss.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7565 Introduce `chainerx.ndarray._is_chained`
  chainerx_cc/chainerx/python/array.cc
  tests/chainerx_tests/unit_tests/test_array.py
Labels: ChainerX, pr-blocker, st:test-and-merge

#7580 [backport] Fix typo in `examples/vae/train_vae.py`
  examples/vae/train_vae.py
Labels: backport, cat:example

#7581 [backport] Fix inconsistent document for extension finalizer
  docs/source/guides/extensions.rst
Labels: backport, cat:document

#7118 Add basic activation functions
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/activation.cc
  chainerx_cc/chainerx/routines/activation.h
  tests/chainerx_tests/unit_tests/routines_tests/test_activation.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7588 Use `chainerx.clipped_relu` in `F.clipped_relu`
  chainer/functions/activation/clipped_relu.py
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7579 [backport] Fix typos in ResNet prepare method
  chainer/links/model/vision/resnet.py
Labels: backport, cat:document

#7438 Support default dtype in sentiment example's recursive minibatch version
  examples/sentiment/train_recursive_minibatch.py
Labels: cat:example, to-be-backported

#7547 Make `squared_difference` alias of `squared_error `
  chainer/functions/__init__.py
  chainer/functions/loss/squared_error.py
  chainer/functions/math/squared_difference.py
  tests/chainer_tests/functions_tests/loss_tests/test_squared_error.py
  tests/chainer_tests/functions_tests/math_tests/test_squared_difference.py
Labels: cat:code-fix

#7447 Warn NaN in FP16 mode in sentiment example's recursive minibatch version
  examples/sentiment/train_recursive_minibatch.py
Labels: cat:example, to-be-backported

#7595 Tiny Fix of `BackwardContext` comment
  chainerx_cc/chainerx/backward_context.h
Labels: ChainerX, cat:document, to-be-backported

#7574 Document `CHAINERX_CUDNN_USE_CUPY`
  docs/source/chainerx/install/index.rst
Labels: ChainerX, cat:document, st:test-and-merge

#7031 [chainerx] Adds `dsplit`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature
