Repository chainer/chainer, pull requests merged in 2019-03, with the labels that each got.

#6384 Fix typo
  docs/source/chainerx/tutorial/index.rst
Labels: cat:document, st:test-and-merge

#6402 Suppress warning in caffe test
  tests/chainer_tests/exporters_tests/test_caffe.py
  tests/chainer_tests/links_tests/caffe_tests/test_caffe_function.py
Labels: cat:test, st:test-and-merge, to-be-backported

#6409 [backport] Suppress warning in caffe test
  tests/chainer_tests/exporters_tests/test_caffe.py
  tests/chainer_tests/links_tests/caffe_tests/test_caffe_function.py
Labels: backport, cat:test

#6304 Forbid calling empty `Sequential`
  chainer/sequential.py
  tests/chainer_tests/test_sequential.py
Labels: cat:bug

#6378 Use `args.out` in `train_cifar_custom_loop.py`
  examples/cifar/train_cifar_custom_loop.py
Labels: cat:example, st:test-and-merge

#6323 Fix fp16 issue in batch normalization
  chainer/functions/normalization/batch_normalization.py
Labels: cat:bug, to-be-backported

#6333 support for fp16 in naive comm
  chainermn/communicators/mpi_communicator_base.py
  chainermn/communicators/naive_communicator.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN

#6413 [backport] Fix error messages in `get_fans`
  chainer/initializer.py
Labels: backport, cat:enhancement, st:test-and-merge

#6194 Test all codes in guides/functions
  docs/source/guides/functions.rst
Labels: cat:test, st:test-and-merge, to-be-backported

#6421 Fix comment style of `op_utils.py`
  tests/chainerx_tests/op_utils.py
Labels: ChainerX, cat:code-fix, st:test-and-merge

#6397 Fix to use right device for DALI iterator in imagenet example
  examples/imagenet/train_imagenet.py
Labels: cat:example

#6419 ResultType to take kind into account
  chainerx_cc/chainerx/routines/type_util.h
  chainerx_cc/chainerx/routines/type_util_test.cc
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6425 Refactor `chainerx::Linear`
  chainerx_cc/chainerx/routines/connection.cc
Labels: ChainerX, cat:code-fix

#6340 change backward of `F.log_ndtr` to avoid nan
  chainer/functions/math/log_ndtr.py
Labels: cat:enhancement, to-be-backported

#6426 Improve `FunctionTestCase` error message
  chainer/testing/function.py
Labels: cat:enhancement

#6416 Add ChainerX test to `FunctionTestCase`s
  tests/chainer_tests/functions_tests/activation_tests/test_rrelu.py
  tests/chainer_tests/functions_tests/activation_tests/test_softplus.py
  tests/chainer_tests/functions_tests/array_tests/test_diagonal.py
Labels: cat:test, st:test-and-merge

#6430 Fix regex in `test_print_report`
  tests/chainer_tests/function_hooks_tests/test_timer.py
Labels: cat:test, st:test-and-merge

#6370 Fix `str.join` `TypeError` in `FunctionTestCase` helper
  chainer/testing/function.py
Labels: cat:bug, st:test-and-merge

#6429 Properly pass device ID to DALI pipelines in imagenet example
  examples/imagenet/train_imagenet.py
Labels: cat:example

#6381 Mixed dtype: concatenate
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation_test.cc
  tests/chainerx_tests/dtype_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:enhancement

#6369 Fix lazy init of `BatchNormalization` link
  chainer/links/normalization/batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#6256 Add option `unit` to `CupyMemoryProfileHook.print_report()`
  chainer/function_hooks/cupy_memory_profile.py
  tests/chainer_tests/function_hooks_tests/test_cupy_memory_profile.py
Labels: cat:feature

#6434 Fix duplicated test
  chainerx_cc/chainerx/routines/type_util_test.cc
Labels: ChainerX, cat:test, st:test-and-merge

#6439 Fix ResultTypeResolver multiple definitions
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/type_util.cc
  chainerx_cc/chainerx/routines/type_util.h
Labels: ChainerX, cat:code-fix

#6433 Fix docment in `TimerHook`
  chainer/function_hooks/timer.py
Labels: cat:document

#6428 [backport] Test all codes in guides/functions
  docs/source/guides/functions.rst
Labels: backport, cat:test

#6417 Remove `SPHINXOPTS` env from Makefile
  docs/Makefile
  scripts/ci/travis/steps.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#6363 Simplify `F.softmax_cross_entropy` test
  tests/chainer_tests/functions_tests/loss_tests/test_softmax_cross_entropy.py
Labels: cat:test

#6320 Simplify `F.log_softmax` test
  tests/chainer_tests/functions_tests/activation_tests/test_log_softmax.py
Labels: cat:test

#6431 [backport] change backward of `F.log_ndtr` to avoid nan
  chainer/functions/math/log_ndtr.py
Labels: backport, cat:enhancement

#6444 Customizable forward output check in `testing.FunctionTestCase`
  chainer/testing/function.py
Labels: cat:feature, st:test-and-merge

#5924 improve `F.group_normalization` via cuDNN call
  chainer/functions/normalization/group_normalization.py
  chainer/links/normalization/group_normalization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_group_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_group_normalization.py
Labels: cat:enhancement

#6462 Use __future__.division in imagenet example with Python2
  examples/imagenet/dali_util.py
Labels: cat:example

#6440 Assert that input to array props formatter is a list or tuple
  chainer/utils/error.py
Labels: cat:code-fix

#6453 Avoid using pytest attributes during import
  chainer/testing/attr.py
Labels: cat:enhancement, to-be-backported

#6332 Fix backward of `F.average_pooling_nd` with pad_value of None
  chainer/functions/pooling/average_pooling_nd.py
  chainer/functions/pooling/average_pooling_nd_kernel.py
  tests/chainer_tests/functions_tests/pooling_tests/test_average_pooling_nd.py
Labels: cat:enhancement

#6478 Fix `F.pad` test for Python2
  tests/chainer_tests/functions_tests/array_tests/test_pad.py
Labels: cat:test

#6437 Add strides check in `NumpyOpTest`
  tests/chainerx_tests/op_utils.py
Labels: ChainerX, cat:test, st:test-and-merge

#6470 [backport] Avoid using pytest attributes during import
  chainer/testing/attr.py
Labels: backport, cat:enhancement

#6477 Add `minimum` to chainerx
  chainerx/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/math_test.cc
Labels: ChainerX, cat:feature, st:test-and-merge

#6445 Fix style of `.clang-tidy`
  chainerx_cc/.clang-tidy
Labels: ChainerX, cat:code-fix, st:test-and-merge

#6480 [backport] Fix lazy init of `BatchNormalization` link
  chainer/links/normalization/batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
Labels: backport, cat:bug, st:test-and-merge

#6337 Dynamic loss scaling
  chainer/optimizer.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
  tests/chainer_tests/optimizers_tests/test_optimizers_by_linear_model.py
Labels: cat:feature

#6468 Add float16 and float 64 to `F.group_normalization` test
  chainer/functions/normalization/group_normalization.py
  chainer/links/normalization/group_normalization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_group_normalization.py
Labels: cat:test

#6442 Change intermediate dtype of `Adam` for float16 parameters to float32
  chainer/optimizers/adam.py
  tests/chainer_tests/optimizers_tests/test_optimizers_by_linear_model.py
Labels: prio:high, st:test-and-merge

#6497 Keep backward compatibility on cupy.cudnn.batch_normalization_forward_training
  chainer/functions/normalization/batch_normalization.py
  chainer/functions/normalization/group_normalization.py
Labels: cat:enhancement, to-be-backported

#6238 test various spatial_scale for roi_average_pooling_2d
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_average_pooling_2d.py
Labels: cat:test

#6494 Fix input of `F.vstack` to a list of ndarrays
  tests/chainer_tests/functions_tests/array_tests/test_vstack.py
Labels: cat:test

#6455 Refactor Documentation of F.prelu
  chainer/functions/activation/prelu.py
Labels: cat:document

#6482 fix NCCL version check error in ChainerMN
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/nccl.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
  tests/chainermn_tests/links_tests/test_batch_normalization.py
  tests/chainermn_tests/optimizer_tests/test_double_buffering_optimizer.py
Labels: ChainerMN, to-be-backported

#6504 [backport] Fix NCCL version check error in ChainerMN
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/nccl.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
  tests/chainermn_tests/links_tests/test_batch_normalization.py
  tests/chainermn_tests/optimizer_tests/test_double_buffering_optimizer.py
Labels: ChainerMN, backport

#6495 Fix Python 3.4 NumPy Accelerate polyfit error
  tests/chainer_tests/test_gradient_check.py
Labels: cat:bug

#6502 Loosen pytest requirement
  setup.py
Labels: cat:test, st:test-and-merge, to-be-backported

#6424 Rewrite ChainerX connection tests
  chainer/gradient_check.py
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/connection_test.cc
  tests/chainerx_tests/op_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_connection.py
Labels: ChainerX, cat:test, st:test-and-merge

#6366 Fix `F.softmax_cross_entropy` float16 under/overflow
  chainer/functions/loss/softmax_cross_entropy.py
  tests/chainer_tests/functions_tests/loss_tests/test_softmax_cross_entropy.py
Labels: cat:bug, prio:high, st:test-and-merge

#6513 [backport] Restrict pytest requirement
  setup.py
Labels: backport, cat:test

#6443 Mixed dtype: dot
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/native/native_device/dot.cc
  chainerx_cc/chainerx/routines/linalg.cc
  tests/chainerx_tests/dtype_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, cat:enhancement

#6379 ChainerX dtype promotion: mathematical functions
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/routines/math.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, st:test-and-merge

#6448 Adding fp16 support to the chainermn Communicators
  chainermn/communicators/_communication_utility.py
  chainermn/communicators/_memory_utility.py
  chainermn/communicators/hierarchical_communicator.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/communicators/single_node_communicator.py
  chainermn/communicators/two_dimensional_communicator.py
  chainermn/functions/batch_normalization.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:feature

#6415 Fix `chainer.links.NStepRNN` and its variants
  chainer/functions/connection/n_step_gru.py
  chainer/functions/connection/n_step_lstm.py
  chainer/functions/connection/n_step_rnn.py
  chainer/links/connection/n_step_rnn.py
  tests/chainer_tests/links_tests/connection_tests/test_n_step_gru.py
  tests/chainer_tests/links_tests/connection_tests/test_n_step_lstm.py
  tests/chainer_tests/links_tests/connection_tests/test_n_step_rnn.py
Labels: cat:bug, to-be-backported

#6511 Test result dtype permutation
  tests/chainerx_tests/dtype_utils.py
Labels: ChainerX, st:test-and-merge

#6456 `mixed16` mode and its support in `L.BatchNormalization`
  chainer/__init__.py
  chainer/functions/normalization/batch_normalization.py
  chainer/functions/normalization/batch_renormalization.py
  chainer/links/normalization/batch_normalization.py
  docs/source/reference/configuration.rst
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
  tests/chainer_tests/test_init.py
Labels: cat:feature

#6485 Support `chainerx::Take` indices other dtype than int64
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
  chainerx_cc/chainerx/routines/indexing_test.cc
Labels: ChainerX

#6306 Simplify `F.swish` test
  tests/chainer_tests/functions_tests/activation_tests/test_swish.py
Labels: cat:test, st:test-and-merge

#6469 Rewrite ChainerX linalg tests
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX

#6520 Remove unnecessary `AsContiguous` in `CudaConv::ConvGradWeight`
  chainerx_cc/chainerx/cuda/cuda_conv.cc
Labels: ChainerX, cat:code-fix, st:test-and-merge

#6518 Support non-float cast in `F.cast`
  chainer/functions/array/cast.py
  tests/chainer_tests/functions_tests/array_tests/test_cast.py
Labels: cat:enhancement, st:test-and-merge

#6507 Force camel case class name for `OpTest`
  tests/chainerx_tests/op_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_connection.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:test, st:test-and-merge

#6532 Fix test class name
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, cat:test, st:test-and-merge

#6487 Simplify `F.squeeze` test
  tests/chainer_tests/functions_tests/array_tests/test_squeeze.py
Labels: cat:test

#6524 Remove restriction of `x.dtype == b.dtype` in `F.convolution_nd` and `F.deconvolution_nd`
  chainer/functions/connection/convolution_nd.py
  chainer/functions/connection/deconvolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_nd.py
Labels: cat:enhancement, st:test-and-merge

#6526 Add `chainerx.testing.integral_dtypes`
  chainerx/testing/__init__.py
  chainerx/testing/dtypes.py
  tests/chainerx_tests/unit_tests/testing_tests/test_dtypes.py
Labels: cat:feature, st:test-and-merge

#6481 Remove dtype from `chainerx.Scalar`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/array_test.cc
  chainerx_cc/chainerx/cuda/float16.cuh
  chainerx_cc/chainerx/float16.h
  chainerx_cc/chainerx/numerical_gradient.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/python/scalar.cc
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/creation_test.cc
  chainerx_cc/chainerx/routines/indexing_test.cc
  chainerx_cc/chainerx/routines/manipulation_test.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math_test.cc
  chainerx_cc/chainerx/routines/statistics_test.cc
  chainerx_cc/chainerx/routines/type_util.cc
  chainerx_cc/chainerx/routines/type_util.h
  chainerx_cc/chainerx/routines/type_util_test.cc
  chainerx_cc/chainerx/scalar.cc
  chainerx_cc/chainerx/scalar.h
  chainerx_cc/chainerx/scalar_test.cc
  chainerx_cc/chainerx/testing/array_check.h
  tests/chainerx_tests/acceptance_tests/test_numpy_chainerx_array_equal.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
  tests/chainerx_tests/unit_tests/test_array.py
  tests/chainerx_tests/unit_tests/test_scalar.py
  tests/chainerx_tests/unit_tests/testing_tests/test_array.py
Labels: ChainerX, st:test-and-merge

#6540 Fix a off-by-one in slicing of chainerx::Array
  chainerx_cc/chainerx/slice.h
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:bug

#6356 Avoid `# NOQA` in docstrings (cont.)
  chainer/functions/normalization/batch_normalization.py
  chainer/links/connection/n_step_rnn.py
Labels: cat:code-fix, st:test-and-merge, to-be-backported

#6537 Write TODOs to address `Dot` backward cast
  chainerx_cc/chainerx/routines/linalg.cc
Labels: ChainerX, cat:document

#6535 Avoid exposing `chainerx.Scalar` to Python
  chainerx/__init__.pyi
  chainerx/testing/array.py
  chainerx_cc/chainerx/python/scalar.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
  tests/chainerx_tests/unit_tests/test_array.py
  tests/chainerx_tests/unit_tests/test_scalar.py
  tests/chainerx_tests/unit_tests/testing_tests/test_array.py
Labels: ChainerX, st:test-and-merge

#6554 Fix `parameterize_pytest` to allow parameterizing with tuples
  chainer/testing/parameterized.py
Labels: cat:enhancement, st:test-and-merge

#6558 Rewrite ChainerX `fixed_batch_norm` test
  tests/chainerx_tests/unit_tests/routines_tests/test_normalization.py
Labels: ChainerX, cat:test, st:test-and-merge

#6377 [backport] Fix `dali_util` in imagenet example for fp16
  examples/imagenet/dali_util.py
Labels: backport, cat:example

#6565 [backport] Fix iterator syntax in MNIST custom loop example
  examples/mnist/train_mnist_custom_loop.py
Labels: backport, cat:example

#6562 Use float division instead of `__future__.division` for Python2
  examples/imagenet/dali_util.py
Labels: cat:example, to-be-backported

#6542 Rewrite ChainerX `batch_norm` test
  chainerx_cc/chainerx/routines/normalization.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_normalization.py
Labels: ChainerX, cat:test, st:test-and-merge

#6566 Rewrite ChainerX arithmetics tests
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, st:test-and-merge

#6567 [backport] Use float division instead of `__future__.division` for Python2
  examples/imagenet/dali_util.py
Labels: backport, cat:example, st:test-and-merge

#6557 Fix more corner cases in chainerx::Slice
  chainerx_cc/chainerx/slice.h
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:bug, st:test-and-merge

#6573 Fix tolerance in `chainerx.divide` test
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, st:test-and-merge

#6559 `LinkTestCase` to simplify link tests
  chainer/gradient_check.py
  chainer/initializers/__init__.py
  chainer/testing/__init__.py
  chainer/testing/backend.py
  chainer/testing/function.py
  chainer/testing/function_link.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
  tests/chainer_tests/testing_tests/test_function_link.py
  tests/chainerx_tests/op_utils.py
Labels: ChainerX, cat:feature, st:test-and-merge

#6549 [backport] Avoid `# NOQA` in docstrings (cont.)
  chainer/functions/normalization/batch_normalization.py
  chainer/links/connection/n_step_rnn.py
Labels: backport, cat:code-fix

#6571 Remove duplicated entry in reference
  docs/source/reference/check.rst
Labels: cat:document, to-be-backported

#6052 [backport] Do not ignore FutureWarning other than experimental features
  setup.cfg
Labels: backport, cat:test

#6578 [backport] Remove duplicated entry in reference
  docs/source/reference/check.rst
Labels: backport, cat:document

#6551 Rewrite ChainerX logic tests
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
Labels: ChainerX, st:test-and-merge

#6438 Rewrite ChainerX indexing tests
  chainer/testing/function_link.py
  chainerx_cc/chainerx/routines/CMakeLists.txt
  tests/chainerx_tests/op_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:test, st:test-and-merge

#4853 Human readable representation of link and chain
  chainer/link.py
  chainer/links/connection/convolution_2d.py
  chainer/links/connection/linear.py
  chainer/links/normalization/batch_normalization.py
  chainer/sequential.py
  tests/chainer_tests/test_link.py
  tests/chainer_tests/test_sequential.py
Labels: cat:feature

#6560 Rewrite ChainerX pooling tests
  tests/chainerx_tests/unit_tests/routines_tests/test_pooling.py
Labels: ChainerX, st:test-and-merge

#6581 Fix rrelu document
  chainer/functions/activation/rrelu.py
Labels: cat:document, to-be-backported

#6582 Remove commented out code from `_BNMode`
  chainer/functions/normalization/batch_normalization.py
Labels: cat:code-fix

#6584 Add gradient_check.check_double_backward in reference
  docs/source/reference/check.rst
Labels: cat:document, to-be-backported

#6585 Fix DCGAN example to work with default dtype
  examples/dcgan/net.py
Labels: cat:example, to-be-backported

#6586 [backport] Fix rrelu document
  chainer/functions/activation/rrelu.py
Labels: backport, cat:document, st:test-and-merge

#6587 [backport] Add gradient_check.check_double_backward in reference
  docs/source/reference/check.rst
Labels: backport, cat:document

#6591 [backport] Fix DCGAN example to work with default dtype
  examples/dcgan/net.py
Labels: backport, cat:example

#6510 Mixed dtype `chainerx::conv` and `chainerx::conv_transpose`
  chainer/gradient_check.py
  chainer/testing/__init__.py
  chainer/testing/function_link.py
  chainer/testing/parameterized.py
  chainerx_cc/chainerx/cuda/cuda_conv.cc
  chainerx_cc/chainerx/cuda/cuda_conv.h
  chainerx_cc/chainerx/cuda/cuda_conv_test.cc
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/conv.cc
  chainerx_cc/chainerx/cuda/cudnn.cc
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/conv.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/native/tensor_dot.cc
  chainerx_cc/chainerx/native/tensor_dot.h
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/connection.h
  tests/chainerx_tests/array_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_connection.py
Labels: ChainerX, st:test-and-merge

#6546 Override `forward` in `LinkHook` documentation
  chainer/link_hook.py
Labels: cat:document, st:test-and-merge

#6536 Fix wavenet example to support the default dtype
  examples/wavenet/generate.py
  examples/wavenet/modules.py
  examples/wavenet/net.py
  examples/wavenet/utils.py
Labels: cat:example, st:test-and-merge

#6577 Improve arithmetics tests
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:test, st:test-and-merge

#6590 Mixed dtype: comparison
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/dtype.cc
  chainerx_cc/chainerx/dtype.h
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/type_util.cc
  chainerx_cc/chainerx/routines/type_util.h
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
Labels: ChainerX, st:test-and-merge

#6580 Check lengths of args of `chainer.grad`
  chainer/function_node.py
  tests/chainer_tests/test_function_node.py
Labels: cat:enhancement, st:test-and-merge

#6593 Fix dimension check of `chainerx::Linear`
  chainerx_cc/chainerx/routines/connection.cc
Labels: ChainerX, cat:bug, st:test-and-merge

#6517 [backport] Fix `chainer.links.NStepRNN` and its variants
  chainer/functions/connection/n_step_gru.py
  chainer/functions/connection/n_step_lstm.py
  chainer/functions/connection/n_step_rnn.py
  chainer/links/connection/n_step_rnn.py
  tests/chainer_tests/links_tests/connection_tests/test_n_step_gru.py
  tests/chainer_tests/links_tests/connection_tests/test_n_step_lstm.py
  tests/chainer_tests/links_tests/connection_tests/test_n_step_rnn.py
Labels: backport, cat:bug, st:test-and-merge

#6594 [backport] Override `forward` in `LinkHook` documentation
  chainer/link_hook.py
Labels: backport, cat:document

#6550 Rewrite ChainerX sorting tests
  tests/chainerx_tests/unit_tests/routines_tests/test_sorting.py
Labels: ChainerX, st:test-and-merge

#6589 Check grads of inputs to test backward of collective communication
  tests/chainermn_tests/functions_tests/test_collective_communication.py
Labels: ChainerMN, cat:test

#5797 Add variable.item()
  chainer/variable.py
  tests/chainer_tests/test_variable.py
Labels: cat:feature

#6569 Mixed dtype support in `chainerx.linear`
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/linalg.cc
  chainerx_cc/chainerx/routines/linalg.h
  tests/chainerx_tests/unit_tests/routines_tests/test_connection.py
Labels: ChainerX, st:test-and-merge

#6568 Rewrite ChainerX math tests
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:test, st:test-and-merge

#6610 [doc] update broken link in chainerx.md
  chainerx.md
Labels: cat:document, st:test-and-merge

#6605 Fix linspace
  chainerx_cc/chainerx/routines/creation.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6603 Fix `:meth:` link
  chainer/optimizer.py
Labels: cat:document, st:test-and-merge, to-be-backported

#5753 Improve `F.resize_images` speed
  chainer/functions/array/resize_images.py
  tests/chainer_tests/functions_tests/array_tests/test_resize_images.py
Labels: cat:enhancement, domain:cv

#6564 [backport] Remove FP16 specific models from imagenet example
  examples/imagenet/README.md
  examples/imagenet/alex.py
  examples/imagenet/dali_util.py
  examples/imagenet/googlenetbn.py
  examples/imagenet/train_imagenet.py
  examples/imagenet/train_imagenet_data_parallel.py
Labels: backport, cat:example

#6499 [backport] Fix fp16 issue in batch normalization + Keep backward compatibility on cupy.cudnn.batch_normalization_forward_training
  chainer/functions/normalization/batch_normalization.py
Labels: backport

#6602 Make `op_test` decorator remove the previous class
  tests/chainerx_tests/op_utils.py
Labels: cat:test, st:test-and-merge

#6548 Support for `chainer.mixed16` data type in PureNcclCommunicator
  chainermn/communicators/__init__.py
  chainermn/communicators/_memory_utility.py
  chainermn/communicators/dummy_communicator.py
  chainermn/communicators/flat_communicator.py
  chainermn/communicators/hierarchical_communicator.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/communicators/single_node_communicator.py
  chainermn/communicators/two_dimensional_communicator.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN

#6614 [backport] Fix `:meth:` link
  chainer/optimizer.py
Labels: backport, cat:document

#6601 Add Sin and Cos to chainerx
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/math_test.cc
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX

#6599 Avoid mutating `FunctionTestBase` class attributes
  chainer/testing/function_link.py
Labels: cat:test

#6611 Use `F.matmul` instead of `F.batch_matmul` in memnn example
  examples/memnn/memnn.py
Labels: cat:example, to-be-backported

#6618 Improve docs and exception message in `F.erfcx`, `F.erfcinv` and `F.erfinv`
  chainer/functions/math/erfcinv.py
  chainer/functions/math/erfcx.py
  chainer/functions/math/erfinv.py
Labels: cat:document, st:test-and-merge, to-be-backported

#6600 Avoid mutating `LinkTestCase` and `LinkInitializersTestCase` class attributes
  chainer/testing/function_link.py
Labels: cat:test

#6633 Use compute_60 instead of compute_50 to run test on P100
  scripts/ci/chainerx/jenkins/run.sh
Labels: ChainerX, cat:test, pr-blocker, st:test-and-merge

#6632 [backport] Improve docs and exception message in `F.erfcx`, `F.erfcinv` and `F.erfinv`
  chainer/functions/math/erfcinv.py
  chainer/functions/math/erfcx.py
  chainer/functions/math/erfinv.py
Labels: backport, cat:document

#6556 Rewrite ChainerX manipulation tests
  chainer/testing/function_link.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/manipulation_test.cc
  tests/chainerx_tests/array_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, st:test-and-merge

#6553 Rewrite ChainerX activation tests
  chainer/gradient_check.py
  tests/chainerx_tests/unit_tests/routines_tests/test_activation.py
Labels: ChainerX

#6627 Implemented ChainerX version of Clipped ReLU forward
  chainer/functions/activation/clipped_relu.py
Labels: cat:enhancement

#6636 Destroy NCCL communicator after every use
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:test

#6484 Mixed dtype: `BatchNorm` and `FixedBatchNorm`
  chainer/functions/normalization/batch_normalization.py
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/device.cc
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/routines/normalization.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_normalization.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6489 Fix broken imagenet example
  docs/source/chainermn/tutorial/tips_faqs.rst
  examples/chainermn/imagenet/train_imagenet.py
Labels: ChainerMN, cat:example

#6635 Allow comma separated keys in `testing.product`
  chainer/testing/parameterized.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: cat:enhancement, pr-blocker, st:test-and-merge

#6630 Include a link to ChainerX product backlog
  chainerx.md
Labels: ChainerX, cat:document, st:test-and-merge

#6647 Environment variable to set ChainerX Python binding build type
  chainerx_build_helper.py
Labels: ChainerX, cat:install, pr-blocker

#6506 Deprecate old NCCL versions and related communicators
  chainermn/communicators/__init__.py
  chainermn/communicators/hierarchical_communicator.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/communicators/single_node_communicator.py
  chainermn/communicators/two_dimensional_communicator.py
  docs/source/chainermn/installation/guide.rst
  docs/source/upgrade.rst
  tests/chainermn_tests/communicator_tests/test_communicator.py
  tests/chainermn_tests/extensions_tests/test_allreduce_persistent.py
  tests/chainermn_tests/functions_tests/test_collective_communication.py
  tests/chainermn_tests/functions_tests/test_point_to_point_communication.py
  tests/chainermn_tests/links_tests/test_multi_node_chain_list.py
  tests/chainermn_tests/links_tests/test_n_step_rnn.py
  tests/chainermn_tests/optimizer_tests/test_multi_node_optimizer.py
Labels: ChainerMN, no-compat

#6648 Remove obsolete assertions
  chainerx_cc/chainerx/cuda/cuda_conv.cc
  chainerx_cc/chainerx/routines/connection.cc
Labels: pr-blocker, st:test-and-merge

#6463 Add ReLU6 as an alias to F.clipped_relu
  chainer/functions/__init__.py
  chainer/functions/activation/clipped_relu.py
  docs/source/reference/functions.rst
  tests/chainer_tests/functions_tests/activation_tests/test_clipped_relu.py
Labels: cat:feature, st:test-and-merge

#6660 Generate shorter class names for parameterized tests
  chainer/testing/parameterized.py
Labels: cat:enhancement, st:test-and-merge

#6479 Simplify `F.prod` test
  tests/chainer_tests/functions_tests/math_tests/test_prod.py
Labels: cat:test

#6346 Fix F632 (use ==/!= to compare str)
  chainer/functions/math/sparse_matmul.py
  chainer/variable.py
  setup.py
  tests/chainer_tests/iterators_tests/test_multiprocess_iterator.py
  tests/chainer_tests/optimizers_tests/test_optimizers_by_linear_model.py
Labels: cat:code-fix, st:test-and-merge, to-be-backported

#6662 Fix missing module declaration
  docs/source/reference/check.rst
Labels: cat:document, st:test-and-merge, to-be-backported

#6652 Fix testing condition of `BatchNormalizationMultiGpuTest`
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
Labels: cat:test, st:test-and-merge, to-be-backported
