Repository chainer/chainer, pull requests merged in 2019-10, with the labels that each got.

#8201 [backport] Adjust `TestConvolution2DFunction::test_double_backward` fp16 tolerance
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
Labels: backport, cat:test, prio:high

#8175 Fix bugs when x and gamma/beta have different dtypes in BN
  chainer/functions/normalization/batch_normalization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_normalization.py
Labels: cat:bug, st:test-and-merge

#7821 support ChainerMN testing in pfnci
  .pfnci/chainermn-ci-prep.Dockerfile
  .pfnci/chainermn-ci-prep.sh
  .pfnci/config.pbtxt
  .pfnci/run.sh
  .pfnci/script.sh
Labels: ChainerMN, cat:test

#8071 A new multi-node evaluator for force_equal_length=False
  chainermn/extensions/__init__.py
  chainermn/extensions/multi_node_evaluator.py
  docs/source/chainermn/reference/index.rst
  tests/chainermn_tests/extensions_tests/test_multi_node_evaluator.py
Labels: ChainerMN, cat:feature

#8203 [backport] Fix RNN documentation
  chainer/functions/connection/n_step_gru.py
  chainer/functions/connection/n_step_rnn.py
  chainer/links/connection/n_step_lstm.py
  chainer/links/connection/n_step_rnn.py
Labels: backport, cat:document, st:test-and-merge

#7885 New configuration system of communicator inspired by links
  chainermn/communicators/__init__.py
  chainermn/communicators/communicator_base.py
  chainermn/communicators/dummy_communicator.py
  chainermn/communicators/flat_communicator.py
  chainermn/communicators/mpi_communicator_base.py
  chainermn/communicators/naive_communicator.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  docs/source/chainermn/reference/index.rst
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:feature

#5290 add UpsamplingDeconvFilter and DownsamplingConvFilter initializer
  chainer/initializers/__init__.py
  chainer/initializers/sampling.py
  docs/source/reference/initializers.rst
  tests/chainer_tests/initializer_tests/test_sampling.py
Labels: domain:cv

#8003 More efficient multi-node snapshot
  chainermn/extensions/__init__.py
  chainermn/extensions/_multi_node_snapshot.py
  docs/source/chainermn/reference/index.rst
  tests/chainermn_tests/extensions_tests/test_multi_node_snapshot.py
Labels: ChainerMN, cat:feature, prio:high

#7329 Add `linalg.cholesky` to ChainerX
  chainerx/_docs/routines.py
  chainerx/linalg/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/linalg.cu
  chainerx_cc/chainerx/kernels/linalg.h
  chainerx_cc/chainerx/native/native_device/linalg.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/linalg.cc
  chainerx_cc/chainerx/routines/linalg.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, GSoC, cat:feature

#7997 Fix flaky tests of `chx.linalg.solve`
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: cat:test

#8200 [backport] Fix tests of `L.BatchRenormalization` and adjust tolerances
  tests/chainer_tests/links_tests/normalization_tests/test_batch_renormalization.py
Labels: backport, cat:test, st:test-and-merge

#8205 Add `WIN32_LEAN_AND_MEAN` definition
  chainerx_cc/CMakeLists.txt
Labels: cat:other, st:test-and-merge

#8208 Fix a typo in the Cauchy distribution page
  chainer/distributions/cauchy.py
Labels: cat:document, st:test-and-merge, to-be-backported

#8209 [backport] Fix a typo in the Cauchy distribution page
  chainer/distributions/cauchy.py
Labels: backport, cat:document

#8165 [backport] Add document print runtime info
  chainer/_runtime_info.py
  docs/source/reference/util.rst
  tests/chainer_tests/test_runtime_info.py
Labels: backport, cat:document, st:test-and-merge

#8219 Fix attrs version
  setup.py
Labels: cat:test, to-be-backported

#8215 Add virtual destructor in CUDA `Allocator`
  chainerx_cc/chainerx/cuda/memory_pool.h
Labels: ChainerX, cat:bug, st:test-and-merge, to-be-backported

#8223 Remove unused classes `{Max,Average}PoolForwardBackward`
  chainerx_cc/chainerx/device.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#8218 Write Read the Docs related comments in setup.py
  setup.py
Labels: cat:code-fix

#8224 Delete move and copy of virtual `*GradState` classes
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cuda_device/rnn.cu
  chainerx_cc/chainerx/kernels/normalization.h
  chainerx_cc/chainerx/kernels/pooling.h
  chainerx_cc/chainerx/kernels/rnn.h
  chainerx_cc/chainerx/routines/normalization.cc
Labels: ChainerX, cat:enhancement, st:test-and-merge

#8190 Fix caffe test with protobuf>=3.8
  setup.py
  tests/chainer_tests/links_tests/caffe_tests/test_caffe_function.py
Labels: cat:test

#8221 Fix resize_images documentation to reflect recent code changes
  chainer/functions/array/resize_images.py
Labels: cat:document, st:test-and-merge

#8191 [backport] Disable flaky test retry in flexCI
  .pfnci/hint.pbtxt
  .pfnci/run.sh
Labels: backport, cat:test

#8230 Fix flaky `TestBatchNormalization`
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_normalization.py
Labels: cat:test, st:test-and-merge

#8220 Fix `HDF5Serializer` test for h5py<2.9
  tests/chainer_tests/serializers_tests/test_hdf5.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7860 [backport] Display ChainerX availability in `print_runtime_info`
  chainer/_runtime_info.py
Labels: backport, cat:enhancement

#8222 [backport] Fix attrs version
  setup.py
Labels: backport, cat:test

#8231 Set up documentation for loss functions in ChainerX
  chainerx/_docs/routines.py
Labels: ChainerX, cat:document, st:test-and-merge

#8234 Relax tolerances in ChainerX unary math tests
  tests/chainerx_tests/math_utils.py
Labels: cat:test, to-be-backported

#8233 Add documentation for `chainerx.ravel`
  chainerx/_docs/routines.py
Labels: cat:document, st:test-and-merge

#8213 Fix possible data race in CUDA memory keeper
  chainerx_cc/chainerx/cuda/cuda_device.cc
  chainerx_cc/chainerx/cuda/cuda_device.h
Labels: cat:bug

#8227 Suppress warnings-as-errors from external libraries
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/examples/CMakeLists.txt
Labels: cat:install

#8235 [backport] Relax tolerances in ChainerX unary math tests
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: backport, cat:test, st:test-and-merge

#8243 Fix some typo
  chainer/function_node.py
  chainer/functions/pooling/roi_average_align_2d.py
  chainer/functions/pooling/roi_average_pooling_2d.py
  chainer/functions/pooling/roi_max_align_2d.py
  chainer/functions/pooling/roi_max_pooling_2d.py
  chainer/functions/pooling/roi_pooling_2d.py
  chainer/gradient_check.py
  chainer/graph_optimizations/static_graph.py
  chainer/initializers/sampling.py
  chainer/links/caffe/caffe_function.py
  chainer/links/rnn/gru.py
  chainer/training/extensions/snapshot_writers.py
  chainer/training/extensions/util.py
  chainer/training/extensions/warmup_shift.py
  chainer/training/updaters/parallel_updater.py
  chainer/variable.py
  chainermn/communicators/mpi_communicator_base.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/extensions/_multi_node_snapshot.py
  chainermn/extensions/multi_node_evaluator.py
  chainerx_cc/chainerx/array_repr.cc
  chainerx_cc/chainerx/check_backward.h
  chainerx_cc/chainerx/testing/threading.h
  docs/source/chainermn/installation/guide.rst
  docs/source/examples/dcgan.rst
  docs/source/reference/static_graph.rst
  examples/chainermn/mnist/train_mnist_dual_parallel.py
  tests/chainer_tests/iterators_tests/test_multiprocess_iterator.py
  tests/chainer_tests/links_tests/activation_tests/test_maxout.py
  tests/chainer_tests/testing_tests/test_function_link.py
  tests/chainerx_tests/unit_tests/routines_tests/test_pooling.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#8225 Conform to readability-avoid-const-params-in-decls
  chainerx_cc/chainerx/native/native_device/cblas.h
Labels: cat:code-fix

#8239 Write CMake generator when building
  chainerx_cc/CMakeLists.txt
Labels: ChainerX, cat:install, st:test-and-merge

#8214 Remove unused forward declaration of `AveragePoolPadMode` enum
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/kernels/pooling.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#8232 [backport] Fix caffe test with protobuf>=3.8
  setup.py
  tests/chainer_tests/links_tests/caffe_tests/test_caffe_function.py
Labels: backport, cat:test, st:test-and-merge

#7955 [backport] Increase CPU memory for test instance in PFN CI
  .pfnci/config.pbtxt
Labels: backport, cat:test

#8241 Add "jenkins" extras
  setup.py
Labels: cat:test, st:test-and-merge

#8246 Remove legacy DeprecationWarning filter from `test_multi_node_chain_list`
  tests/chainermn_tests/links_tests/test_multi_node_chain_list.py
Labels: ChainerMN, cat:test

#7483 Add fp16 test to `test_n_step_rnn`
  tests/chainermn_tests/links_tests/test_n_step_rnn.py
Labels: ChainerMN, cat:test

#8247 Add libchainerx_base.a to link chainerx statically
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/chainerx/empty.cc
Labels: ChainerX, st:test-and-merge

#8252 [backport] Add "jenkins" extras
  setup.py
Labels: backport, cat:test, st:test-and-merge

#8249 Add documentation for ``chainerx.sigmoid_cross_entropy``
  chainerx/_docs/routines.py
  docs/source/chainerx/reference/routines.rst
Labels: ChainerX, cat:document, st:test-and-merge

#6668 Add `chainerx.meshgrid`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/creation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: ChainerX, cat:feature, st:test-and-merge

#8256 [backport] Fix `HDF5Serializer` test for h5py<2.9
  tests/chainer_tests/serializers_tests/test_hdf5.py
Labels: backport, cat:test, st:test-and-merge

#8229 Integrate ONNX-Chainer to Chainer repository
  .pfnci/config.pbtxt
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/onnx_chainer/index.rst
  docs/source/onnx_chainer/introduction/index.rst
  docs/source/onnx_chainer/reference/index.rst
  onnx_chainer/.flexci/Dockerfile
  onnx_chainer/.flexci/README.md
  onnx_chainer/.flexci/config.pbtxt
  onnx_chainer/.flexci/run_test.bat
  onnx_chainer/.flexci/run_test.sh
  onnx_chainer/__init__.py
  onnx_chainer/context.py
  onnx_chainer/examples/images/cat.jpg
  onnx_chainer/examples/images/synset_words.txt
  onnx_chainer/examples/resnet50/export.py
  onnx_chainer/examples/yolov2tiny/export.py
  onnx_chainer/export.py
  onnx_chainer/export_testcase.py
  onnx_chainer/functions/__init__.py
  onnx_chainer/functions/activation.py
  onnx_chainer/functions/array.py
  onnx_chainer/functions/connection.py
  onnx_chainer/functions/converter.py
  onnx_chainer/functions/loss.py
  onnx_chainer/functions/math.py
  onnx_chainer/functions/noise.py
  onnx_chainer/functions/normalization.py
  onnx_chainer/functions/opset_version.py
  onnx_chainer/functions/pooling.py
  onnx_chainer/graph.py
  onnx_chainer/mapping.py
  onnx_chainer/onnx_helper.py
  onnx_chainer/replace_func.py
  onnx_chainer/testing/__init__.py
  onnx_chainer/testing/get_test_data_set.py
  onnx_chainer/testing/input_generator.py
  onnx_chainer/testing/test_mxnet.py
  onnx_chainer/testing/test_onnxruntime.py
  readthedocs.yml
  scripts/ci/steps.sh
  setup.cfg
  setup.py
  tests/onnx_chainer_tests/__init__.py
  tests/onnx_chainer_tests/conftest.py
  tests/onnx_chainer_tests/functions_tests/__init__.py
  tests/onnx_chainer_tests/functions_tests/test_activations.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
  tests/onnx_chainer_tests/functions_tests/test_connections.py
  tests/onnx_chainer_tests/functions_tests/test_loss.py
  tests/onnx_chainer_tests/functions_tests/test_maths.py
  tests/onnx_chainer_tests/functions_tests/test_noises.py
  tests/onnx_chainer_tests/functions_tests/test_normalizations.py
  tests/onnx_chainer_tests/functions_tests/test_poolings.py
  tests/onnx_chainer_tests/helper.py
  tests/onnx_chainer_tests/test_export_testcase.py
  tests/onnx_chainer_tests/test_external_converter.py
  tests/onnx_chainer_tests/test_inout.py
  tests/onnx_chainer_tests/test_replace_func.py
Labels: cat:feature

#8257 Fix import order and grouping
  chainer/functions/rnn/lstm.py
  chainer/functions/rnn/n_step_gru.py
  chainer/functions/rnn/n_step_lstm.py
  chainer/functions/rnn/slstm.py
  chainer/functions/rnn/tree_lstm.py
  chainer/links/rnn/lstm.py
  chainer/links/rnn/tree_lstm.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_delegate_dataset.py
  tests/chainer_tests/dataset_tests/test_dataset_mixin.py
  tests/chainer_tests/datasets_tests/test_concatenated_dataset.py
  tests/chainer_tests/datasets_tests/test_mnist.py
  tests/chainer_tests/datasets_tests/test_pickle_dataset.py
  tests/chainer_tests/distributions_tests/test_chisquare.py
  tests/chainer_tests/distributions_tests/test_gamma.py
  tests/chainer_tests/distributions_tests/test_geometric.py
  tests/chainer_tests/function_hooks_tests/test_debug_print.py
  tests/chainer_tests/functions_tests/array_tests/test_as_strided.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_local_convolution_2d.py
  tests/chainer_tests/functions_tests/math_tests/test_fmod.py
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_normalization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_group_normalization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_l2_normalization.py
  tests/chainer_tests/functions_tests/pooling_tests/test_average_pooling_nd.py
  tests/chainer_tests/functions_tests/pooling_tests/test_max_pooling_nd.py
  tests/chainer_tests/functions_tests/pooling_tests/test_unpooling_nd.py
  tests/chainer_tests/functions_tests/pooling_tests/test_upsampling_2d.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_lstm.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_n_step_lstm.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_slstm.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_tree_lstm.py
  tests/chainer_tests/initializer_tests/test_constant.py
  tests/chainer_tests/initializer_tests/test_init.py
  tests/chainer_tests/initializer_tests/test_sampling.py
  tests/chainer_tests/iterators_tests/test_iterator_compatibility.py
  tests/chainer_tests/links_tests/loss_tests/test_crf1d.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_noise.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
  tests/chainer_tests/test_chainer_objects.py
  tests/chainer_tests/training_tests/extensions_tests/test_snapshot.py
  tests/chainer_tests/training_tests/extensions_tests/test_snapshot_writers.py
  tests/chainer_tests/training_tests/extensions_tests/test_variable_statistics_plot.py
  tests/chainer_tests/training_tests/triggers_tests/test_interval_trigger.py
  tests/chainer_tests/training_tests/triggers_tests/test_manual_schedule_trigger.py
  tests/chainer_tests/training_tests/triggers_tests/test_once_trigger.py
  tests/chainer_tests/training_tests/updaters_tests/test_multiprocess_parallel_updater.py
  tests/chainer_tests/utils_tests/test_conv_nd.py
Labels: cat:code-fix, st:test-and-merge

#7030 [chainerx] Adds hsplit
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature

#8216 Refactor ideep workarounds in `F.batch_normalization`
  chainer/functions/normalization/batch_normalization.py
Labels: cat:code-fix, st:test-and-merge

#8253 Remove obsolete comment in `F.softmax_cross_entropy`
  chainer/functions/loss/softmax_cross_entropy.py
Labels: cat:code-fix, st:test-and-merge

#7844 ChainerX + ChainerMN integraiton on MNIST
  chainermn/communicators/_memory_utility.py
  chainermn/extensions/multi_node_evaluator.py
  examples/chainermn/mnist/train_mnist.py
Labels: ChainerMN

#8265 Do not expose global_kernel_registry
  chainerx_cc/chainerx/cuda/cuda_backend.cc
  chainerx_cc/chainerx/cuda/cuda_backend.h
  chainerx_cc/chainerx/native/native_backend.cc
  chainerx_cc/chainerx/native/native_backend.h
Labels: ChainerX, cat:bug, st:test-and-merge

#7503 Add `linalg.eigh`, `linalg.eigvalsh` to ChainerX
  chainerx/_docs/routines.py
  chainerx/linalg/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/linalg.cu
  chainerx_cc/chainerx/kernels/linalg.h
  chainerx_cc/chainerx/native/native_device/linalg.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/linalg.cc
  chainerx_cc/chainerx/routines/linalg.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, GSoC, cat:feature, st:test-and-merge

#8255 Inverse
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8197 Add mode argument to `chainerx.Take`
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/array_test.cc
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  chainerx_cc/chainerx/kernels/indexing.h
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#8264 Fix CuPy installation detection error message
  chainer/_environment_check.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#8272 Revert #8216
  chainer/functions/normalization/batch_normalization.py
Labels: st:test-and-merge

#8194 add ability to build with ninja generator.
  chainerx_build_helper.py
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/python/CMakeLists.txt
Labels: cat:install

#8010 Make `weights` and `keepdims` arguments in `Variable.mean` keyword-only
  chainer/variable.py
Labels: cat:enhancement

#8011 Make arguments of `WeightStandardization` keyword-only
  chainer/link_hooks/weight_standardization.py
Labels: cat:enhancement

#6969 Simplify `F.scale` test
  tests/chainer_tests/functions_tests/math_tests/test_scale.py
Labels: cat:test

#8263 Replace Slack invitation links
  .github/ISSUE_TEMPLATE.md
  README.md
  docs/source/index.rst
Labels: cat:other, st:test-and-merge, to-be-backported

#8238 Simplify direction vector sampling in `gradient_check`
  chainer/gradient_check.py
Labels: cat:code-fix, st:test-and-merge

#8236 Fix directional gradient stability in `gradient_check`
  chainer/gradient_check.py
Labels: cat:enhancement

#8065 Make arguments in `ObservationAggregator` and `MultiNodeEarlyStoppingTrigger` keyword-only
  chainermn/extensions/multi_node_early_stopping_trigger.py
  chainermn/extensions/observation_aggregator.py
Labels: cat:enhancement, st:test-and-merge

#8066 Make `force_equal_length` argument in `scatter_dataset` and `scatter_index` keyword-only
  chainermn/datasets/scatter.py
Labels: cat:enhancement, st:test-and-merge

#8248 Use type hint for method declaration
  chainer/backend.py
  chainer/backends/_chainerx.py
  chainer/backends/cuda.py
  chainer/device_resident.py
  chainer/function.py
  chainer/initializer.py
  chainer/initializers/__init__.py
  chainer/link.py
  chainer/link_hook.py
  chainer/links/connection/linear.py
  chainer/testing/parameterized.py
  chainer/types.py
  chainer/variable.py
  chainermn/communicators/communicator_base.py
  docs/source/_napoleon_patch.py
Labels: cat:code-fix

#8271 Fix flaky `TestHuberLoss`
  tests/chainer_tests/functions_tests/loss_tests/test_huber_loss.py
Labels: cat:test, st:test-and-merge

#8275 Remove `device` argument from `chainerx.diag` and `chainerx.diagflat`
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/creation.h
Labels: ChainerX, st:test-and-merge

#8283 Stop setting too small tolerances in backprop tests
  tests/chainer_tests/functions_tests/math_tests/test_scale.py
  tests/chainer_tests/functions_tests/noise_tests/test_zoneout.py
Labels: cat:test

#7994 Changes citation to new KDD paper
  README.md
  chainer2019_bibtex.txt
Labels: st:awaiting-author

#8270 Fix dim clearing on output
  onnx_chainer/export.py
Labels: ONNX

#8293 Show import error with guild message on ONNX
  docs/requirements.txt
  docs/source/onnx_chainer/introduction/index.rst
  onnx_chainer/.flexci/config.pbtxt
  onnx_chainer/.flexci/run_test.bat
  onnx_chainer/.flexci/run_test.sh
  onnx_chainer/export.py
  onnx_chainer/export_testcase.py
  onnx_chainer/onnx_helper.py
Labels: ONNX

#8211 Add `CHAINER_TEST_PAIRWISE_PARAMETERIZATION` and enable it only in Travis CI
  .pfnci/hint.pbtxt
  chainer/testing/parameterized.py
  scripts/ci/travis/steps.sh
  tests/chainer_tests/conftest.py
  tests/chainerx_tests/conftest.py
  tests/conftest.py
Labels: cat:test, st:test-and-merge

#8292 fix gtest linkage weirdness
  chainerx_cc/CMakeLists.txt
  chainerx_cc/third_party/abseil.cmake
  chainerx_cc/third_party/gsl-lite.cmake
  chainerx_cc/third_party/gtest.cmake
  chainerx_cc/third_party/pybind11.cmake
Labels: st:test-and-merge

#8290 Fix algorithm to avoid small directions in `gradient_check`
  chainer/gradient_check.py
  chainerx/_fallback_workarounds.py
  tests/chainer_tests/test_gradient_check.py
Labels: cat:enhancement

#8279 added chainermn.testing.to_device function
  chainermn/testing/__init__.py
  chainermn/testing/device.py
Labels: ChainerMN

#8298 Partially output_grad support on fake_as_funcnode
  onnx_chainer/replace_func.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
  tests/onnx_chainer_tests/functions_tests/test_normalizations.py
  tests/onnx_chainer_tests/helper.py
  tests/onnx_chainer_tests/test_inout.py
  tests/onnx_chainer_tests/test_replace_func.py
Labels: ONNX, st:test-and-merge

#8262 Inherit input ndarray device in chainerx.ascontiguousarray
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: ChainerX, cat:bug, st:test-and-merge

#8266 Fix intel64 support of `F.batch_normalization`
  chainer/functions/normalization/batch_normalization.py
Labels: cat:enhancement

#8300 Compute `F.negative_sampling` in fp32 for fp16 inputs
  chainer/functions/loss/negative_sampling.py
Labels: cat:enhancement, st:test-and-merge

#8301 Fix SCE with ChainerX and normalize
  chainer/functions/loss/softmax_cross_entropy.py
  tests/chainer_tests/functions_tests/loss_tests/test_softmax_cross_entropy.py
Labels: ChainerX, cat:bug, pr-blocker, st:test-and-merge, to-be-backported

#8291 Make ImportWarning just a warning in tests
  setup.cfg
Labels: cat:test, st:test-and-merge, to-be-backported

#8303 `test_average` is slow in FlexCI
  .pfnci/hint.pbtxt
Labels: cat:test, st:test-and-merge

#8284 [backport] Replace Slack invitation links
  .github/ISSUE_TEMPLATE.md
  README.md
  docs/source/index.rst
Labels: backport, cat:other

#8304 Bugfix: unable to use `gpu_id=0` in ChainerMN testing `get_device`
  .pfnci/config.pbtxt
  .pfnci/run.sh
  chainermn/testing/device.py
  setup.py
  tests/chainermn_tests/testing_tests/test_device.py
Labels: ChainerMN, cat:bug

#8305 Add ChainerX to test_mnist in chainermn_tests
  tests/chainermn_tests/datasets_tests/test_mnist.py
Labels: ChainerMN, cat:test

#8049 Fix subgraph construction for ChainerX backward
  chainerx_cc/chainerx/backward.cc
Labels: ChainerX, cat:bug

#8307 [backport] Update variable names for consistent naming convention
  chainer/distributions/independent.py
  chainer/functions/loss/softmax_cross_entropy.py
  chainer/functions/pooling/spatial_pyramid_pooling_2d.py
  chainer/training/extensions/_snapshot.py
  examples/imagenet/dali_util.py
  examples/imagenet/train_imagenet.py
  examples/mnist/train_mnist.py
  tests/chainer_tests/training_tests/extensions_tests/test_snapshot.py
Labels: backport, cat:code-fix, pr-blocker

#8310 Simplify `CreateSubgraph`
  chainerx_cc/chainerx/backward.cc
Labels: ChainerX, cat:code-fix

#8250 Implement `chainerx::SoftmaxCrossEntropy` and ` chainerx.softmax_cross_entropy`
  chainer/functions/loss/softmax_cross_entropy.py
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/loss.cc
  chainerx_cc/chainerx/routines/loss.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: ChainerX, cat:feature, st:test-and-merge

#8313 Implement communicator_test for ChainerX+ChainerMN
  chainermn/communicators/_memory_utility.py
  chainermn/communicators/mpi_communicator_base.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/testing/device.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:test

#8314 Add `chainerx.copyto`
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature

#8295 Make contiguous case for `chainerx::Take` faster
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:performance

#8317 Bump version to v7.0.0rc1
  chainer/_version.py
  docker/intel/python3/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other, st:test-and-merge

#8319 Bump version to v6.5.0
  chainer/_version.py
  docker/intel/python2/Dockerfile
  docker/intel/python3/Dockerfile
  docker/python2/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other

#8258 Fix 'attempting to reference a deleted function' with MSVC
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/chainerx/backward_builder.cc
  chainerx_cc/chainerx/backward_builder.h
Labels: cat:bug, st:test-and-merge

#8299 Make contiguous case for `chainerx::AddAt` faster
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
Labels: ChainerX, cat:performance

#8312 Document properties of computed gradients in `cholesky` and `eigh`
  chainerx/_docs/routines.py
Labels: ChainerX, cat:document, st:test-and-merge

#8331 Include `.git` in ChainerCV compatibility CI
  .pfnci/config.pbtxt
Labels: cat:test, st:test-and-merge

#8335 Adjust `SoftmaxCrossEntropy` test tolerances
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: cat:test, st:test-and-merge

#8328 Fix inputs of pooling function tests
  tests/chainer_tests/functions_tests/pooling_tests/pooling_nd_helper.py
  tests/chainer_tests/functions_tests/pooling_tests/test_max_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_average_align_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_average_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_max_align_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_max_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_spatial_pyramid_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_unpooling_2d.py
Labels: cat:test

#8333 Add Permutate exporter to onnx_chainer
  onnx_chainer/functions/__init__.py
  onnx_chainer/functions/array.py
  onnx_chainer/mapping.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX, st:test-and-merge

#8334 Fix typos in ONNX-Chainer introduction
  docs/source/onnx_chainer/introduction/index.rst
Labels: ONNX, st:test-and-merge

#8332 Fix onnx_chainer's exporter of Separate to handle single output case
  onnx_chainer/functions/array.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX, st:test-and-merge

#8330 Fix documentation of NStepGRUBase
  chainer/links/rnn/n_step_gru.py
Labels: cat:document, to-be-backported

#8296 Forward chainerx::MakeArray in some case
  chainerx_cc/chainerx/python/array.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#8281 Default index mode for chainerx `Take`
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/array_index.h
  chainerx_cc/chainerx/routines/indexing.h
Labels: cat:enhancement, st:test-and-merge

#8282 Build ChainerX example in CI
  scripts/ci/steps.sh
Labels: cat:test, st:test-and-merge

#8260 Fix Decorrelated Batch Normalization tests
  tests/chainer_tests/functions_tests/normalization_tests/test_decorrelated_batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_decorrelated_batch_normalization.py
Labels: cat:test, to-be-backported

#8339 Update onnx version
  .pfnci/config.pbtxt
  docs/source/onnx_chainer/introduction/index.rst
  onnx_chainer/.flexci/run_test.bat
  onnx_chainer/.flexci/run_test.sh
  onnx_chainer/export.py
  setup.py
Labels: ONNX, st:test-and-merge

#8338 Fix docs of ONNX export introduction
  docs/source/onnx_chainer/introduction/index.rst
Labels: ONNX, st:test-and-merge

#8321 Add ChainerX pytest in `multi_node_early_stopping`
  chainermn/extensions/observation_aggregator.py
  tests/chainermn_tests/extensions_tests/test_multi_node_early_stopping_trigger.py
Labels: ChainerMN, cat:test

#8341 Support ONNX export with opset11
  docs/source/onnx_chainer/introduction/index.rst
  onnx_chainer/export.py
  onnx_chainer/functions/activation.py
  onnx_chainer/functions/array.py
  onnx_chainer/functions/math.py
  onnx_chainer/functions/pooling.py
Labels: ONNX, st:test-and-merge

#7525 [RFC] Add `from_params` to Linear & Conv
  chainer/link.py
  chainer/links/connection/convolution_2d.py
  chainer/links/connection/convolution_nd.py
  chainer/links/connection/embed_id.py
  chainer/links/connection/linear.py
  tests/chainer_tests/links_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/links_tests/connection_tests/test_embed_id.py
  tests/chainer_tests/links_tests/connection_tests/test_linear.py
Labels: cat:enhancement, st:test-and-merge

#8347 Revert output value check on SoftmaxCrossEntropy
  tests/onnx_chainer_tests/functions_tests/test_loss.py
Labels: ONNX, st:test-and-merge

#8344 Relax tolerances of ChainerX linalg forward tests
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: cat:test, st:test-and-merge

#8345 Support multiple advanced indexing on ONNX export
  onnx_chainer/functions/array.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX, st:test-and-merge

#8288 Code clean up for `routines/indexing.h`
  chainerx_cc/chainerx/routines/indexing.h
Labels: cat:code-fix, st:test-and-merge

#8343 Use `LinkTestCase` for `L.GroupNormalization`
  tests/chainer_tests/links_tests/normalization_tests/test_group_normalization.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8285 Fix test_Meshgrid
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: cat:test, st:test-and-merge
