Repository chainer/chainer, pull requests merged in 2019-08, with the labels that each got.

#7826 Drop support for Python 2.7
  chainer/_environment_check.py
  docs/source/install.rst
  docs/source/upgrade.rst
Labels: cat:other, release-blocker, st:test-and-merge

#7839 Add OpenMP option for cuSOLVER
  chainerx_cc/CMakeLists.txt
Labels: ChainerX, cat:install, st:test-and-merge

#7831 Allow `None` inputs to gradient check and generating `None` gradients in `FunctionTestCase`
  chainer/gradient_check.py
  chainer/testing/function_link.py
  tests/chainer_tests/functions_tests/array_tests/test_split_axis.py
  tests/chainer_tests/testing_tests/test_function_link.py
Labels: cat:enhancement, pr-blocker, st:test-and-merge

#7793 Improve NCCL availability error in `PureNcclCommunicator`
  chainermn/communicators/pure_nccl_communicator.py
Labels: ChainerMN

#7761 Add batched_copy to All Communicators
  chainermn/communicators/__init__.py
  chainermn/communicators/_memory_utility.py
  chainermn/communicators/dummy_communicator.py
  chainermn/communicators/flat_communicator.py
  chainermn/communicators/mpi_communicator_base.py
  chainermn/communicators/naive_communicator.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:code-fix

#7846 [backport] Fix create_mnbn_model() bug
  chainermn/links/create_mnbn_model.py
  tests/chainermn_tests/links_tests/test_create_mnbn_model.py
Labels: ChainerMN, backport, cat:bug

#7817 Add `numerical_grad_dtype` to `FunctionTestCase` and `LinkTestCase`
  chainer/testing/function_link.py
Labels: cat:feature, st:test-and-merge

#7843 Fix `F.clip` for NumPy 1.17
  chainer/functions/math/clip.py
Labels: cat:enhancement, prio:high, release-blocker, to-be-backported

#7851 Add `test_accuracy.py` to the list of slow test files
  .pfnci/hint.pbtxt
Labels: cat:test

#7842 Fix `F.clipped_relu` test for NumPy 1.17
  tests/chainer_tests/functions_tests/activation_tests/test_clipped_relu.py
Labels: cat:test, prio:high, release-blocker, st:test-and-merge, to-be-backported

#7837 Fix flaky `TestHuberLoss`
  tests/chainer_tests/functions_tests/loss_tests/test_huber_loss.py
Labels: cat:test, prio:high, to-be-backported

#7836 Fix backward of `split_axis` for intel64 when `grad_ouputs` contains `None`
  chainer/functions/array/split_axis.py
  tests/chainer_tests/functions_tests/array_tests/test_split_axis.py
Labels: cat:bug

#7806 Chainer: Simplify n_step_gru test
  tests/chainer_tests/functions_tests/rnn_tests/test_function_n_step_gru.py
Labels: GSoC, cat:code-fix

#7710 Skip flaky `TestConv*TensorCore`
  tests/chainerx_tests/unit_tests/routines_tests/test_connection.py
Labels: cat:test, st:test-and-merge

#7856 [backport] Switch current directory in Jenkins tests
  scripts/ci/chainerx/jenkins/Dockerfile.template
Labels: backport, prio:high, st:test-and-merge

#7840 Add support for input with different dtypes for 'linalg.solve' in ChainerX
  chainerx_cc/chainerx/cuda/cuda_device/linalg.cu
  chainerx_cc/chainerx/native/native_device/linalg.cc
  chainerx_cc/chainerx/routines/linalg.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, GSoC, cat:enhancement, st:test-and-merge

#7848 Include `rtol * abs(b)` in `allclose` output
  chainer/testing/array.py
Labels: cat:enhancement

#7854 [backport] Fix `F.clipped_relu` test for NumPy 1.17
  tests/chainer_tests/functions_tests/activation_tests/test_clipped_relu.py
Labels: backport, cat:test, prio:high, release-blocker, st:test-and-merge

#7857 Fix `BatchNorm` flaky of ChainerX
  tests/chainerx_tests/unit_tests/routines_tests/test_normalization.py
Labels: cat:test, st:test-and-merge

#7719 Add `chainerx.nansum`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/kernels/reduction.h
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/reduction.cc
  chainerx_cc/chainerx/routines/reduction.h
  tests/chainerx_tests/unit_tests/routines_tests/test_reduction.py
Labels: ChainerX, GSoC, cat:feature, st:test-and-merge

#7855 [backport] Fix `F.clip` for NumPy 1.17
  chainer/functions/math/clip.py
Labels: backport, cat:enhancement, prio:high, release-blocker, st:test-and-merge

#7833 Display ChainerX availability in `print_runtime_info`
  chainer/_runtime_info.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#6856 Add automatic management of snapshots (deletion and load)
  chainer/training/extensions/_snapshot.py
  chainer/training/extensions/snapshot_writers.py
  examples/mnist/train_mnist.py
  tests/chainer_tests/training_tests/extensions_tests/test_snapshot.py
Labels: cat:feature, prio:high, st:test-and-merge, to-be-backported

#7411 Add `linalg.svd`, `linalg.pinv` to ChainerX
  chainerx/_docs/routines.py
  chainerx/linalg/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/linalg.cu
  chainerx_cc/chainerx/kernels/linalg.h
  chainerx_cc/chainerx/native/native_device/linalg.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/linalg.cc
  chainerx_cc/chainerx/routines/linalg.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, GSoC, cat:feature, st:test-and-merge

#7852 Add `chainerx.count_nonzero`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/sorting.cc
  chainerx_cc/chainerx/routines/sorting.h
  tests/chainerx_tests/unit_tests/routines_tests/test_sorting.py
Labels: ChainerX, cat:feature

#6836 Simplify `F.max_pooling_2d` test
  tests/chainer_tests/functions_tests/pooling_tests/test_max_pooling_2d.py
Labels: cat:test

#7841 Configure tolerances of `F.average_pooling_2d` test
  tests/chainer_tests/functions_tests/pooling_tests/test_average_pooling_2d.py
Labels: cat:test, prio:high, st:test-and-merge, to-be-backported

#7865 Fix `test_TrilTriu`
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: cat:test

#7866 Fix copies for `linalg.svd` python bindings layer in ChainerX
  chainerx_cc/chainerx/python/routines.cc
Labels: GSoC, cat:code-fix

#7805 Chainer: Simplify slstm test
  tests/chainer_tests/functions_tests/rnn_tests/test_function_slstm.py
Labels: GSoC, cat:test

#7858 Fixed issue #6770
  examples/text_classification/run_text_classifier.py
Labels: cat:example, st:test-and-merge

#7870 [backport] Configure tolerances of `F.average_pooling_2d` test
  tests/chainer_tests/functions_tests/pooling_tests/test_average_pooling_2d.py
Labels: backport, cat:test, prio:high

#7869 [backport] Fix flaky `TestHuberLoss`
  tests/chainer_tests/functions_tests/loss_tests/test_huber_loss.py
Labels: backport, cat:test, prio:high, st:test-and-merge

#7862 [backport] Add automatic management of snapshots (deletion and load)
  chainer/training/extensions/_snapshot.py
  chainer/training/extensions/snapshot_writers.py
  examples/mnist/train_mnist.py
  tests/chainer_tests/training_tests/extensions_tests/test_snapshot.py
Labels: backport, cat:feature, prio:high

#7872 Fix MPI installation for macOS
  scripts/ci/travis/steps.sh
Labels: cat:test

#7804 Chainer: Simplify n_step_rnn test
  tests/chainer_tests/functions_tests/rnn_tests/test_function_n_step_rnn.py
Labels: GSoC, cat:test, st:test-and-merge

#7863 Refactor convolution functions tests
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_nd.py
Labels: cat:test, st:test-and-merge

#7835 Fix `backends.copyto` from chainerx to non-chainerx
  chainer/backend.py
  tests/chainer_tests/test_backend.py
  tests/chainer_tests/test_variable.py
Labels: cat:bug, st:test-and-merge

#7873 [backport] Refactor convolution functions tests
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_nd.py
Labels: backport, cat:test

#7868 Relax tolerances in convolution link tests when using old cuDNN
  tests/chainer_tests/links_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/links_tests/connection_tests/test_deconvolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_deconvolution_nd.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7878 [backport] Relax tolerances in convolution link tests when using old cuDNN
  tests/chainer_tests/links_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/links_tests/connection_tests/test_deconvolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_deconvolution_nd.py
Labels: backport, cat:test

#7874 Relax float16 tolerances in ChainerX binary math tests
  tests/chainerx_tests/math_utils.py
Labels: cat:test, prio:high, to-be-backported

#7875 Fix `static_graph` docs code examples
  docs/source/reference/static_graph.rst
  examples/static_graph_optimizations/mnist/train_mnist.py
Labels: cat:document, prio:high, to-be-backported

#7867 Fix `chainerx.logsumexp` test tolerance
  tests/chainerx_tests/unit_tests/routines_tests/test_reduction.py
Labels: cat:test, prio:high, st:test-and-merge, to-be-backported

#7889 [backport] Fix `chainerx.logsumexp` test tolerance
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: backport, cat:test, prio:high, st:test-and-merge

#7808 Chainer: Simplify lstm test
  tests/chainer_tests/functions_tests/rnn_tests/test_function_lstm.py
Labels: GSoC, cat:test

#7891 Fix SLSTM for omitted upstream gradients
  chainer/functions/rnn/slstm.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_slstm.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7864 Relax tolerances in convolution function tests when using old cuDNN
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_nd.py
Labels: cat:test, prio:high, st:test-and-merge, to-be-backported

#7887 Revert "Fix MPI installation for macOS"
  scripts/ci/travis/steps.sh
Labels: cat:test, st:test-and-merge

#7895 [backport] Relax tolerances in convolution function tests when using old cuDNN
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_nd.py
Labels: backport, cat:test, prio:high

#7888 Add scatter interface to CommunicatorBase
  chainermn/communicators/communicator_base.py
Labels: ChainerMN

#7896 Fix LSTM for omitted upstream gradients
  chainer/functions/rnn/lstm.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_lstm.py
Labels: cat:enhancement, st:test-and-merge

#7871 Replace n_layer with n_layers for consistency
  chainer/links/model/vision/resnet.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_gru.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_lstm.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_rnn.py
  tests/chainermn_tests/links_tests/test_n_step_rnn.py
Labels: cat:code-fix, st:test-and-merge

#7897 Add scatter to doc
  chainermn/communicators/communicator_base.py
  docs/source/chainermn/reference/index.rst
Labels: ChainerMN, cat:document

#7894 Sample stable inputs in tests of group normalization
  tests/chainer_tests/functions_tests/normalization_tests/test_group_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_group_normalization.py
Labels: cat:test, to-be-backported

#7899 [backport] Sample stable inputs in tests of group normalization
  tests/chainer_tests/functions_tests/normalization_tests/test_group_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_group_normalization.py
Labels: backport, cat:test, st:test-and-merge

#7890 Avoid `ndarray.data` access and fix wrong test
  chainer/function.py
  tests/chainer_tests/test_function.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7250 Improve VAE example
  examples/vae/train_vae.py
Labels: cat:example, st:test-and-merge

#5636 use numbers for input check in roi_{average|max}_{pooling|align}_2d.py
  chainer/functions/pooling/roi_average_align_2d.py
  chainer/functions/pooling/roi_average_pooling_2d.py
  chainer/functions/pooling/roi_max_align_2d.py
  chainer/functions/pooling/roi_max_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_average_align_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_average_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_max_align_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_roi_max_pooling_2d.py
Labels: st:test-and-merge

#7807 Chainer: Simplify n_step_lstm test
  tests/chainer_tests/functions_tests/rnn_tests/test_function_n_step_lstm.py
Labels: GSoC

#7624 Add `chainerx.fmod`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/arithmetic.h
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/arithmetic.cc
  chainerx_cc/chainerx/routines/arithmetic.h
  chainerx_cc/chainerx/routines/misc.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_arithmetic.py
Labels: ChainerX, GSoC

#7912 Revert "Add `chainerx.fmod`"
  chainerx/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/arithmetic.h
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/arithmetic.cc
  chainerx_cc/chainerx/routines/arithmetic.h
  chainerx_cc/chainerx/routines/misc.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_arithmetic.py
Labels: GSoC

#7908 [backport] Relax float16 tolerances in ChainerX binary math tests
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: backport, cat:test, prio:high

#7917 FlakyTests: TrueDiv relax fp16 tolerance
  tests/chainerx_tests/unit_tests/routines_tests/test_arithmetic.py
Labels: cat:test, prio:high, st:test-and-merge, to-be-backported

#7921 Rename a variable in CUDA SVD kernel
  chainerx_cc/chainerx/cuda/cuda_device/linalg.cu
Labels: GSoC, cat:code-fix, st:test-and-merge

#7915 [backport] Avoid unstable inputs in tests of decorrelated batch normalization
  tests/chainer_tests/functions_tests/normalization_tests/test_decorrelated_batch_normalization.py
Labels: backport, cat:test, st:test-and-merge

#7930 Insert missing spaces between concatenated string literals
  chainer/_backprop.py
  chainer/functions/activation/rrelu.py
  chainer/functions/connection/embed_id.py
  chainer/gradient_check.py
  chainer/initializers/orthogonal.py
  chainer/links/caffe/caffe_function.py
  chainer/links/connection/deconvolution_2d.py
  chainer/links/connection/deconvolution_nd.py
  chainer/links/model/vision/vgg.py
  chainer/links/rnn/lstm.py
  chainer/optimizer.py
  chainer/training/extensions/evaluator.py
  chainer/training/triggers/manual_schedule_trigger.py
  chainer/training/triggers/once_trigger.py
  chainermn/communicators/__init__.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/global_except_hook.py
  chainermn/links/multi_node_chain_list.py
  examples/chainermn/mnist/train_mnist_dual_parallel.py
  examples/mnist/train_mnist_data_parallel.py
  examples/mnist/train_mnist_model_parallel.py
  tests/chainer_tests/test_gradient_check.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7931 [backport] Fix backward of `split_axis` for intel64 when `grad_ouputs` contains `None`
  chainer/functions/array/split_axis.py
Labels: backport, cat:bug, st:test-and-merge

#7922 Fix precision in `F.max_pooling_2d`
  chainer/functions/pooling/max_pooling_2d.py
Labels: cat:bug, prio:high, st:test-and-merge, to-be-backported

#7933 [backport] Fix precision in `F.max_pooling_2d`
  chainer/functions/pooling/max_pooling_2d.py
Labels: backport, cat:bug, prio:high, st:test-and-merge

#7918 Fix in-place update of arrays in `Link.serialize` and `optimizers.Adam`
  chainer/link.py
  chainer/optimizers/adam.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
  tests/chainer_tests/test_link.py
Labels: backport, cat:bug, prio:high, st:test-and-merge

#7932 Refactor `DecorrelatedBatchNormalizationTest` and add stable input
  tests/chainer_tests/links_tests/normalization_tests/test_decorrelated_batch_normalization.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7755 Add `chainerx.nanargmax` and `chainerx.nanargmin`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/kernels/sorting.h
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/sorting.cc
  chainerx_cc/chainerx/routines/sorting.h
  tests/chainerx_tests/unit_tests/routines_tests/test_sorting.py
Labels: ChainerX, GSoC

#7920 Avoid testing `F.cast` from negative floating-point to unsigned
  tests/chainer_tests/functions_tests/array_tests/test_cast.py
Labels: cat:test, prio:high, to-be-backported

#7913 [backport] Avoid `ndarray.data` access and fix wrong test
  chainer/function.py
  tests/chainer_tests/test_function.py
Labels: backport, cat:test

#7944 [backport] Avoid testing `F.cast` from negative floating-point to unsigned
  tests/chainer_tests/functions_tests/array_tests/test_cast.py
Labels: backport, cat:test, prio:high, st:test-and-merge

#7941 [backport] Fix in-place update of arrays in `Link.serialize` and `optimizers.Adam`
  chainer/link.py
  chainer/optimizers/adam.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
  tests/chainer_tests/test_link.py
Labels: backport, cat:bug, prio:high, st:test-and-merge

#5762 Warn `Link.to_gpu` unless compatible with `to_device`
  chainer/device_resident.py
  chainer/training/updaters/standard_updater.py
  tests/chainer_tests/test_link.py
Labels: cat:enhancement, st:test-and-merge

#7934 [backport] Fix `backends.copyto` from/to chainerx
  chainer/backend.py
  tests/chainer_tests/test_backend.py
Labels: backport, cat:bug, st:test-and-merge

#7830 Fix ChainerX non native deserialization
  chainer/serializers/hdf5.py
  chainer/serializers/npz.py
  tests/chainer_tests/serializers_tests/test_hdf5.py
  tests/chainer_tests/serializers_tests/test_npz.py
Labels: ChainerX, cat:bug, to-be-backported

#7954 [backport] Fix ChainerX non native deserialization
  chainer/serializers/hdf5.py
  chainer/serializers/npz.py
  tests/chainer_tests/serializers_tests/test_hdf5.py
  tests/chainer_tests/serializers_tests/test_npz.py
Labels: ChainerX, backport, cat:bug, st:test-and-merge

#7951 Increase CPU memory for test instance in PFN CI
  .pfnci/config.pbtxt
Labels: cat:test, st:test-and-merge, to-be-backported

#7948 Update stable version in README
  README.md
Labels: cat:document, st:test-and-merge

#7950 Fix flaky power test
  tests/chainerx_tests/unit_tests/routines_tests/test_arithmetic.py
Labels: cat:test, prio:high, st:test-and-merge

#7881 `F.tree_lstm` test for ChainerX
  tests/chainer_tests/functions_tests/rnn_tests/test_function_tree_lstm.py
Labels: cat:test

#7953 Relax fp16 tolerances in `TestContrastive`
  tests/chainer_tests/functions_tests/loss_tests/test_contrastive.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7938 Refactor `pooling_nd` functions
  chainer/functions/pooling/average_pooling_nd.py
  chainer/functions/pooling/max_pooling_nd.py
  chainer/functions/pooling/pooling_nd.py
Labels: cat:code-fix, st:test-and-merge

#7901 Add `chainerx.flatten`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/python/array.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, GSoC, cat:feature

#7959 [backport] Relax fp16 tolerances in `TestContrastive`
  tests/chainer_tests/functions_tests/loss_tests/test_contrastive.py
Labels: backport, cat:test

#7939 Merge implementation of `F.max_pooling_2d` into `F.max_pooling_nd`
  chainer/exporters/caffe.py
  chainer/functions/__init__.py
  chainer/functions/pooling/max_pooling_2d.py
  chainer/functions/pooling/max_pooling_nd.py
  chainer/links/connection/inception.py
  chainer/links/connection/inceptionbn.py
  chainer/links/model/vision/googlenet.py
  chainer/links/model/vision/resnet.py
  chainer/links/model/vision/vgg.py
  tests/chainer_tests/functions_tests/pooling_tests/test_max_pooling_2d.py
Labels: cat:code-fix, st:test-and-merge

#7883 Add 1.17 to supported NumPy versions
  docs/source/install.rst
Labels: cat:document, release-blocker, st:test-and-merge, to-be-backported

#7877 Support for CUDA async in batched copy
  chainermn/communicators/_memory_utility.py
  chainermn/communicators/mpi_communicator_base.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  tests/chainermn_tests/optimizer_tests/test_double_buffering_optimizer.py
Labels: ChainerMN, cat:bug

#7904 Add `chainerx.ravel`
  chainerx/__init__.py
  chainerx/__init__.pyi
  chainerx/_ndarray.py
  chainerx/manipulation/shape.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, GSoC, cat:feature

#7962 Fix a typo in a kernel name
  chainerx_cc/chainerx/kernels/hyperbolic.h
Labels: ChainerX, cat:enhancement, to-be-backported

#7594 Fix multi-device loss scaling
  chainer/optimizer.py
  tests/chainer_tests/test_optimizer.py
Labels: cat:bug

#7967 Fix Windows build of ChainerX
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/third_party/abseil.cmake
  chainerx_cc/third_party/gsl-lite.cmake
  chainerx_cc/third_party/gtest.cmake
  chainerx_cc/third_party/pybind11.cmake
Labels: cat:install, st:test-and-merge

#7961 [backport] Add 1.17 to supported NumPy versions
  docs/source/install.rst
Labels: backport, cat:document, release-blocker

#7968 [backport] Fix multi-device loss scaling
  chainer/optimizer.py
  tests/chainer_tests/test_optimizer.py
Labels: backport, cat:bug, st:test-and-merge

#7764 LSTM, GRU and RNN implementation for ChainerX
  chainer/functions/rnn/lstm.py
  chainer/functions/rnn/n_step_gru.py
  chainer/functions/rnn/n_step_lstm.py
  chainer/functions/rnn/n_step_rnn.py
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/backward_builder.cc
  chainerx_cc/chainerx/backward_builder.h
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/rnn.cu
  chainerx_cc/chainerx/cuda/cudnn.h
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/rnn.h
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/array.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/connection.h
  chainerx_cc/chainerx/routines/n_step_rnn.cc
  chainerx_cc/chainerx/routines/n_step_rnn.h
  tests/chainerx_tests/unit_tests/routines_tests/test_connection.py
  tests/chainerx_tests/unit_tests/routines_tests/test_rnn.py
Labels: GSoC, cat:feature

#7524 Add `chainerx.sigmoid_cross_entropy`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/loss.cc
  chainerx_cc/chainerx/routines/loss.h
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: ChainerX, GSoC, cat:feature, st:test-and-merge

#7972 [backport] Relax fp16 tolerance in `TrueDiv` test
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: backport, cat:test, prio:high

#7926 Fix tolerance in `L.CRF1d` test
  tests/chainer_tests/links_tests/loss_tests/test_crf1d.py
Labels: cat:test, prio:high, to-be-backported

#7971 Relax float16 tolerances in `F.batch_inv` test
  tests/chainer_tests/functions_tests/math_tests/test_inv.py
Labels: cat:test, prio:high, st:test-and-merge, to-be-backported

#7903 Simplify `F.embed_id` test
  chainerx/_fallback_workarounds.py
  tests/chainer_tests/functions_tests/connection_tests/test_embed_id.py
Labels: GSoC, cat:test, st:test-and-merge

#7898 Implement hooks for memory pool in ChainerX
  chainerx_cc/chainerx/cuda/cuda_device_test.cc
  chainerx_cc/chainerx/cuda/memory_pool.cc
  chainerx_cc/chainerx/cuda/memory_pool.h
  chainerx_cc/chainerx/cuda/memory_pool_test.cc
Labels: ChainerX, cat:feature, st:test-and-merge

#7942 Relax tolerances in old cuDNN convolution tests
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_nd.py
Labels: cat:test, prio:high, st:test-and-merge, to-be-backported

#7977 [backport] Fix tolerance in `L.CRF1d` test
  tests/chainer_tests/links_tests/loss_tests/test_crf1d.py
Labels: backport, cat:test, prio:high, st:test-and-merge

#7884 [backport] Fix `static_graph` docs code examples
  docs/source/reference/static_graph.rst
  examples/static_graph_optimizations/mnist/train_mnist.py
Labels: backport, cat:document, prio:high, st:test-and-merge

#7428 Add `TabularDataset.convert/with_converter`
  chainer/dataset/tabular/__init__.py
  chainer/dataset/tabular/_as_mode.py
  chainer/dataset/tabular/_concat.py
  chainer/dataset/tabular/_join.py
  chainer/dataset/tabular/_slice.py
  chainer/dataset/tabular/_transform.py
  chainer/dataset/tabular/_with_converter.py
  chainer/dataset/tabular/tabular_dataset.py
  tests/chainer_tests/dataset_tests/tabular_tests/dummy_dataset.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_as_mode.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_concat.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_join.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_slice.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_tabular_dataset.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_transform.py
  tests/chainer_tests/dataset_tests/tabular_tests/test_with_converter.py
Labels: cat:feature

#8001 Bump version to v7.0.0b3
  chainer/_version.py
  docker/intel/python2/Dockerfile
  docker/intel/python3/Dockerfile
  docker/python2/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other

#7985 Fix RNN docs for ChainerX
  chainerx/_docs/routines.py
  docs/source/chainerx/reference/routines.rst
Labels: ChainerX, cat:document

#7975 Fix flaky `negative_sampling`
  tests/chainer_tests/functions_tests/loss_tests/test_negative_sampling.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7319 Add `chainerx::Absolute` device implementation
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/misc.h
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/routines/misc.cc
Labels: ChainerX, cat:performance, st:test-and-merge

#7981 [backport] Relax float16 tolerances in `F.batch_inv` test
  tests/chainer_tests/functions_tests/math_tests/test_inv.py
Labels: backport, cat:test, prio:high, st:test-and-merge

#7783 S-LSTM implementation for chainerx
  chainer/functions/rnn/slstm.py
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/array.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/activation.cc
  chainerx_cc/chainerx/routines/activation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_activation.py
Labels: ChainerX, GSoC, cat:feature

#8004 Add undocumented arguments to snapshot extension signature
  chainer/training/extensions/_snapshot.py
Labels: cat:document, st:test-and-merge, to-be-backported

#8000 Remove unnecessary file
  chainer/functions/pooling/max_pooling_2d.py
Labels: cat:code-fix, st:test-and-merge

#8016 [backport] Add undocumented arguments to snapshot extension signature
  chainer/training/extensions/_snapshot.py
Labels: backport, cat:document

#7982 [backport] Relax tolerances in old cuDNN convolution tests
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_2d.py
  tests/chainer_tests/functions_tests/connection_tests/test_deconvolution_nd.py
Labels: backport, cat:test, prio:high, st:test-and-merge

#7987 Avoid testing full combinations in `F.lstm` test parameterization
  tests/chainer_tests/functions_tests/rnn_tests/test_function_lstm.py
Labels: cat:test, st:test-and-merge

#8018 Fix floating point exception in ChainerX inferred reshape
  chainerx_cc/chainerx/routines/manipulation.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:bug, st:test-and-merge

#8019 [backport] Fix flaky `negative_sampling`
  tests/chainer_tests/functions_tests/loss_tests/test_negative_sampling.py
Labels: backport, cat:test

#7989 Relax tolerances in `gradient_check` test
  tests/chainer_tests/test_gradient_check.py
Labels: cat:test, prio:high, st:test-and-merge, to-be-backported

#7998 Remove obsolete note about `chainerx.take` indices dtype
  chainerx/_docs/routines.py
Labels: cat:document

#8020 Fix `chainerx::Dot` edge cases with empty arrays
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/native/native_device/dot.cc
  chainerx_cc/chainerx/routines/linalg.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, cat:bug, st:test-and-merge

#7379 Add `linalg.qr` to ChainerX
  chainerx/_docs/routines.py
  chainerx/linalg/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/linalg.cu
  chainerx_cc/chainerx/kernels/linalg.h
  chainerx_cc/chainerx/native/native_device/linalg.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/linalg.cc
  chainerx_cc/chainerx/routines/linalg.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, GSoC, cat:feature

#8014 Drop Python 2 AppVeyor configuration
  appveyor.yml
Labels: cat:test, st:test-and-merge

#8012 Fix numerical gradient precision in `F.squared_error` test
  tests/chainer_tests/functions_tests/loss_tests/test_squared_error.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7526 Add `chainerx.accuracy`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/evaluation.cc
  chainerx_cc/chainerx/routines/evaluation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_evaluation.py
Labels: ChainerX, GSoC, cat:feature, st:test-and-merge

#7963 Make weight standardization faster
  chainer/functions/normalization/_standardize.py
  chainer/link_hooks/weight_standardization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_standardize.py
Labels: cat:performance, st:test-and-merge

#7675 Add `chainerx.{remainder/mod}`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/kernels/arithmetic.h
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/arithmetic.cc
  chainerx_cc/chainerx/routines/arithmetic.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_arithmetic.py
Labels: ChainerX, cat:feature

#8013 Drop Python 2 Travis CI configuration
  .travis.yml
Labels: cat:test, st:test-and-merge

#8017 Drop Python 2 PFN CI configuration
  .pfnci/config.pbtxt
  .pfnci/run.sh
Labels: cat:test, st:test-and-merge

#8021 [backport] Relax tolerances in `gradient_check` test
  tests/chainer_tests/test_gradient_check.py
Labels: backport, cat:test, prio:high, st:test-and-merge

#7720 Tree-LSTM implementation for ChainerX
  chainer/functions/rnn/tree_lstm.py
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/activation.cc
  chainerx_cc/chainerx/routines/activation.h
  docs/source/chainerx/reference/routines.rst
Labels: GSoC, cat:feature, st:test-and-merge

#7988 Change return policy for `chx::Device` object on `ndarray` pickling
  chainerx_cc/chainerx/python/array.cc
  tests/chainerx_tests/conftest.py
  tests/chainerx_tests/unit_tests/test_array.py
Labels: ChainerX, cat:bug, st:test-and-merge

#8029 Fix grammatical errors in documentation
  chainer/links/model/vision/googlenet.py
  docs/source/contribution.rst
  docs/source/guides/functions.rst
  docs/source/install.rst
Labels: cat:document, st:test-and-merge, to-be-backported

#8037 Fix LSTM for omitted upstream gradients
  chainer/functions/rnn/lstm.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_lstm.py
Labels: cat:bug, st:test-and-merge

#7970 Always get typeid of kernels in libchainerx
  chainerx_cc/chainerx/kernel_registry.h
  chainerx_cc/chainerx/kernel_registry_test.cc
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/arithmetic.h
  chainerx_cc/chainerx/kernels/binary.h
  chainerx_cc/chainerx/kernels/connection.h
  chainerx_cc/chainerx/kernels/creation.h
  chainerx_cc/chainerx/kernels/explog.h
  chainerx_cc/chainerx/kernels/hyperbolic.h
  chainerx_cc/chainerx/kernels/indexing.h
  chainerx_cc/chainerx/kernels/linalg.h
  chainerx_cc/chainerx/kernels/logic.h
  chainerx_cc/chainerx/kernels/misc.h
  chainerx_cc/chainerx/kernels/normalization.h
  chainerx_cc/chainerx/kernels/pooling.h
  chainerx_cc/chainerx/kernels/reduction.h
  chainerx_cc/chainerx/kernels/rounding.h
  chainerx_cc/chainerx/kernels/sorting.h
  chainerx_cc/chainerx/kernels/statistics.h
  chainerx_cc/chainerx/kernels/trigonometric.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/native/native_device/batch_norm.cc
  chainerx_cc/chainerx/native/native_device/binary.cc
  chainerx_cc/chainerx/native/native_device/conv.cc
  chainerx_cc/chainerx/native/native_device/copy.cc
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/native/native_device/fill.cc
  chainerx_cc/chainerx/native/native_device/hyperbolic.cc
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/native/native_device/linalg.cc
  chainerx_cc/chainerx/native/native_device/logic.cc
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/native/native_device/rnn.cc
  chainerx_cc/chainerx/native/native_device/rounding.cc
  chainerx_cc/chainerx/native/native_device/statistics.cc
  chainerx_cc/chainerx/native/native_device/trigonometric.cc
Labels: ChainerX

#8036 [backport] Fix grammatical errors in documentation
  chainer/links/model/vision/googlenet.py
  docs/source/contribution.rst
  docs/source/guides/functions.rst
  docs/source/install.rst
Labels: backport, cat:document

#8022 Support CuPy/ChainerX arrays when initializing `variable.Parameter` objects
  chainer/initializers/__init__.py
  chainer/initializers/constant.py
  tests/chainer_tests/test_variable.py
Labels: cat:enhancement, st:test-and-merge

#8027 Fix NumPy version in Dockerfile
  docker/intel/python2/Dockerfile
  docker/python2/Dockerfile
Labels: cat:install, st:test-and-merge, to-be-backported

#7699 Simplify `ArrayReprImpl`
  chainerx_cc/chainerx/array_repr.cc
  chainerx_cc/chainerx/array_repr_test.cc
Labels: ChainerX, cat:code-fix

#7708 Abbreviate output of `chainerx::ArrayRepr` for large inputs
  chainerx_cc/chainerx/array_repr.cc
  chainerx_cc/chainerx/array_repr_test.cc
Labels: ChainerX, cat:enhancement

#8044 Avoid non-differentiable point in min/max tests
  tests/chainerx_tests/unit_tests/routines_tests/test_misc.py
Labels: cat:test, st:test-and-merge

#8045 Fix `-Wabsolute-value` for clang
  chainerx_cc/chainerx/numeric.h
Labels: cat:code-fix, st:test-and-merge

#7980 Fixed support of 0-sized arrays for linalg routines in ChainerX
  chainerx_cc/chainerx/cuda/cuda_device/linalg.cu
  chainerx_cc/chainerx/kernels/linalg.h
  chainerx_cc/chainerx/native/native_device/linalg.cc
  chainerx_cc/chainerx/routines/linalg.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: GSoC, cat:enhancement

#8047 Adjust TrueDiv tolerances
  tests/chainerx_tests/unit_tests/routines_tests/test_arithmetic.py
Labels: cat:test

#7832 Fix doc of `backend.copyto`
  chainer/backend.py
Labels: cat:document, st:test-and-merge

#8055 Fix native `AddAt` implementation for float16 arrays
  chainerx_cc/chainerx/native/native_device/indexing.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: cat:bug, st:test-and-merge
