Repository chainer/chainer, pull requests merged in 2019-11, with the labels that each got.

#8349 Reduce shape in ChainerX linalg test
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, cat:test, st:test-and-merge

#8294 Use ChainerX softmax cross entropy implementation in ChainerX examples
  chainerx_cc/examples/imagenet_py/train_imagenet.py
  chainerx_cc/examples/mnist/train_mnist.cc
  chainerx_cc/examples/mnist_py/train_mnist.py
Labels: ChainerX, cat:example, st:test-and-merge

#8363 Relax float16 forward tolerance of `F.cast` test
  tests/chainer_tests/functions_tests/array_tests/test_cast.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8364 Remove host-side branch on `F.accuracy` with `ignore_label`
  chainer/functions/evaluation/accuracy.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#8359 Fix ChainerX fallback condition in batch normalization
  chainer/functions/normalization/batch_normalization.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#8212 Show pytest summary in flexCI
  .pfnci/run.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#8353 Set CHAINER_CI in Travis CI
  scripts/ci/travis/run-tests.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#8354 Set CHAINER_CI in ChainerX tests in Jenkins
  scripts/ci/chainerx/jenkins/run.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#8351 Enhance `chainerx::AddAt` as a public function
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
Labels: ChainerX, st:test-and-merge

#8356 Set CHAINER_CI in Chainer tests in FlexCI
  .pfnci/run.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#8379 C++ cosmetic fixes
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/backward.cc
  chainerx_cc/chainerx/backward.h
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/array.h
  chainerx_cc/chainerx/python/axes.h
  chainerx_cc/chainerx/python/backward.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/creation.h
  chainerx_cc/chainerx/routines/evaluation.cc
  chainerx_cc/chainerx/routines/evaluation.h
  chainerx_cc/chainerx/slice.h
Labels: cat:code-fix

#8348 Print installed packages in pytest
  tests/conftest.py
Labels: cat:test, to-be-backported

#7396 Avoid fallback for ChainerX in `F.accuracy`
  chainer/functions/evaluation/accuracy.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#8367 Print actual array values in `FunctionTest` modified input error
  chainer/testing/function_link.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8370 Allow multiple code in `CHAINERX_NVCC_GENERATE_CODE`
  chainerx_cc/CMakeLists.txt
Labels: cat:install, st:test-and-merge

#8378 Fix rounding on float16 conversions
  chainerx_cc/chainerx/float16.cc
  chainerx_cc/chainerx/float16_test.cc
Labels: cat:bug

#8383 Remove typing requirement
  setup.py
Labels: cat:install, st:test-and-merge

#8371 Fix negative tests for `chainerx.linalg.*`
  chainerx_cc/chainerx/routines/linalg.h
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: ChainerX, cat:test

#8376 Avoid non-differential point in `TestTriplet`
  tests/chainer_tests/functions_tests/loss_tests/test_triplet.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8392 Use ceiling_mode on exporting to ONNX MaxPool
  onnx_chainer/functions/pooling.py
Labels: ONNX, st:test-and-merge

#8395 Avoid using `VariableNode` in `F.convolution_2d` backward implementation
  chainer/functions/connection/convolution_2d.py
  chainer/functions/connection/deconvolution_2d.py
Labels: cat:code-fix, st:test-and-merge

#8361 Use xpytest to parallelize tests
  .travis.yml
  scripts/ci/travis/steps.sh
  scripts/ci/travis/xpytest-hint-chainerx.pbtxt
Labels: cat:test, st:test-and-merge

#8350 Use different docker image for each base development branch
  .pfnci/config.pbtxt
  .pfnci/script.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#8401 [backport] Use different docker image for each base development branch
  .pfnci/config.pbtxt
  .pfnci/script.sh
Labels: backport, cat:test

#8326 Fix n-step RNN docs
  chainer/links/rnn/n_step_lstm.py
  chainer/links/rnn/n_step_rnn.py
Labels: cat:document, takeover, to-be-backported

#8399 Fix typo in `/examples/seq2seq/README.md`
  examples/seq2seq/README.md
Labels: cat:document, st:test-and-merge, to-be-backported

#8311 [backport] Fix SCE with ChainerX and normalize
  chainer/functions/loss/softmax_cross_entropy.py
  tests/chainer_tests/functions_tests/loss_tests/test_softmax_cross_entropy.py
Labels: ChainerX, backport, cat:bug

#8400 Check ONNX Chainer python styles
  scripts/ci/travis/steps.sh
Labels: ONNX, st:test-and-merge

#8352 [v6] Add missing FlexCI configurations
  .pfnci/config.pbtxt
Labels: cat:test

#8404 [backport] Fix typo in `/examples/seq2seq/README.md`
  examples/seq2seq/README.md
Labels: backport, cat:document

#8394 Fix pickling of optimizers
  chainer/optimizer.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#8396 [backport] Avoid non-differential point in `TestTriplet`
  tests/chainer_tests/functions_tests/loss_tests/test_triplet.py
Labels: backport, cat:test

#8391 Support cover_all=True on Unpooling2D in exporting to ONNX
  onnx_chainer/functions/pooling.py
  tests/onnx_chainer_tests/functions_tests/test_poolings.py
Labels: ONNX, st:test-and-merge

#8297 Fix style in `_snapshot.py`
  chainer/training/extensions/_snapshot.py
Labels: cat:code-fix

#8407 Update expected messages of `type_check` errors
  chainer/functions/array/reshape.py
  docs/source/tips.rst
Labels: cat:document, st:test-and-merge, to-be-backported

#8405 Change version of python in travis macos test
  .travis.yml
Labels: cat:test, st:test-and-merge

#8406 Fix scatter_dataset part of ChainerMN tutorial
  docs/source/chainermn/tutorial/step2_datasets_evaluators.rst
Labels: ChainerMN, cat:document

#8410 Update minimum required python version to 3.5.2
  docs/source/chainermn/installation/guide.rst
  docs/source/install.rst
  docs/source/reference/configuration.rst
  docs/source/upgrade.rst
Labels: cat:install, no-compat, st:test-and-merge

#8380 Fix CMake target name for abseil
  chainerx_cc/third_party/abseil.cmake
Labels: ChainerX

#8403 Link to examples directory for the current branch
  README.md
Labels: cat:document, to-be-backported

#8411 [v6] Disable ChainerMN FlexCI tests on v6
  .pfnci/config.pbtxt
Labels: ChainerMN, cat:test

#8329 [v6] Fix kernel of double backward of max_pooling_2d
  chainer/functions/pooling/max_pooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_max_pooling_2d.py
Labels: cat:bug, st:test-and-merge

#8369 [backport] Show pytest summary in flexCI
  .pfnci/run.sh
Labels: backport, cat:test, st:test-and-merge

#8337 [backport] Fix documentation of NStepGRUBase
  chainer/links/connection/n_step_gru.py
Labels: backport, cat:document, st:test-and-merge

#8386 [backport] Print installed packages in pytest
  tests/conftest.py
Labels: backport, cat:test, st:test-and-merge

#8373 [backport] Set CHAINER_CI in Travis CI
  scripts/ci/travis/run-tests.sh
Labels: backport, cat:test, st:test-and-merge

#8377 [backport] Fix `optimizer_hooks.GradientHardClipping` for ChainerX
  chainer/optimizer_hooks/gradient_hard_clipping.py
  tests/chainer_tests/optimizer_hooks_tests/test_gradient_hard_clipping.py
Labels: ChainerX, backport, cat:enhancement, st:test-and-merge

#8388 [backport] Print actual array values in `FunctionTest` modified input error
  chainer/testing/function_link.py
Labels: backport, cat:test, st:test-and-merge

#8381 [backport] Set CHAINER_CI in Chainer tests in FlexCI
  .pfnci/run.sh
Labels: backport, cat:test, st:test-and-merge

#8375 [backport] Set CHAINER_CI in ChainerX tests in Jenkins
  scripts/ci/chainerx/jenkins/run.sh
Labels: backport, cat:test, st:test-and-merge

#8408 Add unsigned suffix in float16 test
  chainerx_cc/chainerx/float16_test.cc
Labels: ChainerX, cat:code-fix, st:test-and-merge

#8413 Remove unused function
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
Labels: ChainerX, cat:code-fix, st:test-and-merge

#8423 [backport] Link to examples directory for the current branch
  README.md
Labels: backport, cat:document

#8418 [backport] Changes citation to new KDD paper
  README.md
  chainer2019_bibtex.txt
Labels: backport, cat:document

#8417 [backport] Fix pickling of optimizers
  chainer/optimizer.py
  tests/chainer_tests/optimizers_tests/test_optimizers.py
Labels: backport, cat:bug, st:test-and-merge

#8414 Add unsigned integer suffix
  chainerx_cc/chainerx/cuda/memory_pool_test.cc
Labels: cat:code-fix, st:test-and-merge

#8424 Add ChainerMN and ONNX-chainer tests to Mergify requirements
  .mergify.yml
Labels: ChainerMN, ONNX, cat:test

#8419 Use `fix_random` in xfail backward tests
  tests/chainer_tests/testing_tests/test_function_link.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8409 Remove chainerx dependency from test backends
  chainerx_cc/chainerx/backend_testdata/CMakeLists.txt
Labels: ChainerX, cat:test, st:test-and-merge

#7478 Add MNIST MultiprocessParallelUpdater example
  examples/mnist/README.md
  examples/mnist/train_mnist_data_parallel_updater.py
Labels: cat:example

#8420 Fix `TestMeshgrid`
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: cat:test, to-be-backported

#8342 Fix random condition in `chainerx.where` test
  tests/chainerx_tests/array_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: cat:test

#8433 Fix typo in math expressions
  chainerx/_docs/routines.py
Labels: cat:document, st:test-and-merge

#8434 Temporarily skip test that will break after CuPy #2437
  tests/chainer_tests/functions_tests/math_tests/test_det.py
Labels: cat:test

#8402 [backport] Fix n-step RNN docs
  chainer/links/connection/n_step_lstm.py
  chainer/links/connection/n_step_rnn.py
Labels: backport, cat:document, takeover

#8355 [backport] Use `LinkTestCase` for `L.GroupNormalization`
  tests/chainer_tests/links_tests/normalization_tests/test_group_normalization.py
Labels: backport, cat:test, st:test-and-merge

#8428 Support Rollaxis in ONNX-Chainer
  onnx_chainer/functions/__init__.py
  onnx_chainer/functions/array.py
  onnx_chainer/mapping.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX, st:test-and-merge

#8397 Fix AttributeError in WrappedFunctionNode.forward
  onnx_chainer/replace_func.py
Labels: ONNX, st:test-and-merge

#8432 Avoid using private `_fix_random`
  chainer/testing/random.py
  tests/chainerx_tests/op_utils.py
Labels: cat:feature

#8431 Fix random in ChainerX n-step GRU test
  tests/chainerx_tests/unit_tests/routines_tests/test_rnn.py
Labels: cat:test

#8340 [backport] Fix Decorrelated Batch Normalization tests
  tests/chainer_tests/functions_tests/normalization_tests/test_decorrelated_batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_decorrelated_batch_normalization.py
Labels: backport, cat:test

#8309 [backport] Compute `F.negative_sampling` in fp32 for fp16 inputs
  chainer/functions/loss/negative_sampling.py
Labels: backport, cat:enhancement

#8439 Ignore unused function warning in NVCC
  chainerx_cc/CMakeLists.txt
Labels: ChainerX, st:test-and-merge

#8440 Fix code grouping in `CMakeLists.txt`
  chainerx_cc/CMakeLists.txt
Labels: ChainerX, st:test-and-merge

#8320 Raise ValueError when calling `xxx_obj` with ChainerX array in ChianerMN
  chainermn/communicators/mpi_communicator_base.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN

#8368 [backport] Fix ChainerX fallback condition in batch normalization
  chainer/functions/normalization/batch_normalization.py
Labels: backport, cat:bug, st:test-and-merge

#8445 Register uninitialized persistents
  chainer/links/normalization/batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
Labels: cat:bug, to-be-backported

#8443 Annotate tests that usually run >30s
  scripts/ci/travis/xpytest-hint-chainerx.pbtxt
Labels: cat:test, st:test-and-merge

#8398 Fix onnx_chainer.replace_func.fake_as_funcnode to reconstruct return value structure
  onnx_chainer/replace_func.py
  tests/onnx_chainer_tests/test_replace_func.py
Labels: ONNX, st:test-and-merge

#8446 [backport] Register uninitialized persistents
  chainer/links/normalization/batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
Labels: backport, cat:bug

#8421 Avoid repeatedly enumerating submodules
  chainerx_cc/chainerx/CMakeLists.txt
Labels: cat:code-fix, st:test-and-merge

#6374 Forbid out-of-range `insert` on `Sequence`
  chainer/sequential.py
  tests/chainer_tests/test_sequential.py
Labels: cat:test, no-compat, st:test-and-merge

#8448 Lookup macOS undefined symbols at runtime in backend tests
  chainerx_cc/chainerx/backend_testdata/CMakeLists.txt
Labels: ChainerX, cat:test, st:test-and-merge

#8422 Fix ChainerX CMake test dependencies
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/testing/CMakeLists.txt
Labels: ChainerX, cat:code-fix, st:test-and-merge

#8451 Add TransposeSequence exporter to ONNX-Chainer
  onnx_chainer/functions/__init__.py
  onnx_chainer/functions/array.py
  onnx_chainer/mapping.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX, st:test-and-merge

#8455 Use `__name__` attribute in parameterized test names when available
  chainer/testing/parameterized.py
Labels: cat:enhancement, st:test-and-merge

#8251 Run example tests in Travis CI
  .travis.yml
  examples/test_utils.py
  examples/tests/__init__.py
  examples/tests/test_imagenet.py
  scripts/ci/travis/run-tests.sh
  scripts/ci/travis/steps.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#7655 Correct `FunctionNode.forward` output type message
  chainer/function_node.py
  tests/chainer_tests/test_function_node.py
Labels: cat:enhancement, st:test-and-merge

#6807 Use intermediate dtype in `F.mean_absolute_error` for FP16
  chainer/functions/loss/mean_absolute_error.py
  tests/chainer_tests/functions_tests/loss_tests/test_mean_absolute_error.py
Labels: cat:enhancement, st:test-and-merge

#8461 Fix conflict between #8251 and #8361
  .travis.yml
Labels: cat:test

#8450 Add support of SelectItem in ONNX-Chainer
  onnx_chainer/functions/__init__.py
  onnx_chainer/functions/array.py
  onnx_chainer/mapping.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX, st:test-and-merge

#8459 Add `parametrize_device_name` to setup.cfg
  setup.cfg
Labels: cat:test, st:test-and-merge

#8202 Add Cholesky Decompostion
  chainer/functions/__init__.py
  chainer/functions/math/cholesky.py
  docs/source/reference/functions.rst
  tests/chainer_tests/functions_tests/math_tests/test_cholesky.py
Labels: cat:feature

#8463 Fix example test data
  examples/imagenet/.testdata/replacements/train_imagenet.py
Labels: cat:test, st:test-and-merge

#8460 Fix ONNX-Chainer's GetItem converter to handle -1 correctly
  onnx_chainer/functions/array.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX

#8469 Remove ChainerX `F.cholesky` test
  tests/chainer_tests/functions_tests/math_tests/test_cholesky.py
Labels: cat:test, st:test-and-merge

#8464 Support `chainerx.batch_norm` with 2D input on CUDA
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_normalization.py
Labels: cat:bug, st:test-and-merge

#8467 Enable verbose flag when installing chainer in Jenkins
  scripts/ci/steps.sh
Labels: cat:test, st:test-and-merge

#8456 [backport] Update expected messages of `type_check` errors
  chainer/functions/array/reshape.py
  docs/source/tips.rst
Labels: backport, cat:document

#8471 Ignore `cupy.util.PerformanceWarning` in pytest
  chainer/backends/cuda.py
  setup.cfg
Labels: cat:test, st:test-and-merge

#8472 Avoid ChainerX slow tests in Jenkins
  scripts/ci/steps.sh
Labels: ChainerX, cat:test, to-be-backported

#8470 SelectItem using GatherElements for ONNX opset>=11
  onnx_chainer/functions/array.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX, st:test-and-merge

#8437 Use `PYBIND11_EXPORT` instead of visibility hack
  chainerx_cc/chainerx/macro.h
  chainerx_cc/chainerx/python/CMakeLists.txt
  chainerx_cc/chainerx/python/array_index.cc
  chainerx_cc/chainerx/python/axes.cc
  chainerx_cc/chainerx/python/backend.cc
  chainerx_cc/chainerx/python/backprop_mode.cc
  chainerx_cc/chainerx/python/backward.cc
  chainerx_cc/chainerx/python/chainer_interop.cc
  chainerx_cc/chainerx/python/check_backward.cc
  chainerx_cc/chainerx/python/common_export.h
  chainerx_cc/chainerx/python/context.cc
  chainerx_cc/chainerx/python/core_module.cc
  chainerx_cc/chainerx/python/cuda/cuda_module.cc
  chainerx_cc/chainerx/python/device.cc
  chainerx_cc/chainerx/python/dtype.cc
  chainerx_cc/chainerx/python/error.cc
  chainerx_cc/chainerx/python/graph.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/python/scalar.cc
  chainerx_cc/chainerx/python/shape.cc
  chainerx_cc/chainerx/python/slice.cc
  chainerx_cc/chainerx/python/strides.cc
  chainerx_cc/chainerx/python/testing/device_buffer.cc
  chainerx_cc/chainerx/python/testing/testing_module.cc
Labels: ChainerX, cat:install, st:test-and-merge

#8457 [backport] Use `fix_random` in xfail backward tests
  tests/chainer_tests/testing_tests/test_function_link.py
Labels: backport, cat:test

#8389 [RFC]Avoid overflow on index calculations when using large arrays
  chainerx_cc/chainerx/cuda/cuda_device/fill.cu
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  chainerx_cc/chainerx/cuda/cuda_device/pool.cu
  chainerx_cc/chainerx/cuda/cuda_device/rnn.cu
  chainerx_cc/chainerx/cuda/elementwise.cuh
  tests/chainerx_tests/unit_tests/test_array_index.py
Labels: ChainerX, cat:bug, st:test-and-merge

#8468 Avoid preprocessor for LAPACK error
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/linalg.cc
Labels: ChainerX, cat:code-fix, st:test-and-merge

#8458 Skip some `Convolution2D` tests for older numpy versions
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
Labels: cat:test, to-be-backported

#8474 [backport] Avoid ChainerX slow tests in Jenkins
  scripts/ci/steps.sh
Labels: ChainerX, backport, cat:test

#8478 [backport] Skip some `Convolution2D` tests for older numpy versions
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_2d.py
Labels: backport, cat:test

#8480 [v6] Fix Travis Openssl Error in OSX
  .travis.yml
Labels: cat:test

#8477 [v6] Use CuPy v6 in ChainerX test in Jenkins
  scripts/ci/chainerx/jenkins/Dockerfile.template
Labels: cat:test, st:test-and-merge

#8372 [backport] Fix `optimizer_hooks.GradientHardClipping` for scalar array
  chainer/optimizer_hooks/gradient_hard_clipping.py
Labels: backport, cat:bug, st:test-and-merge

#8475 Add workaround for cuSolver 10.2's new enums
  chainerx_cc/chainerx/cuda/cusolver.cc
Labels: ChainerX, cat:enhancement, st:test-and-merge

#7280 Check output in example tests
  examples/mnist/.testdata/replacements/train_mnist.py
  examples/test_utils.py
  examples/tests/test_imagenet.py
  examples/tests/test_mnist.py
  scripts/ci/travis/run-tests.sh
  scripts/ci/travis/steps.sh
Labels: cat:test, prio:high, st:test-and-merge

#7620 [WIP] Support NHWC tensor layout (2)
  chainer/__init__.py
  chainer/_backprop.py
  chainer/_backprop_utils.py
  chainer/backends/cuda.py
  chainer/configuration.py
  chainer/function_node.py
  chainer/functions/activation/relu.py
  chainer/functions/connection/convolution_2d.py
  chainer/functions/connection/deconvolution_2d.py
  chainer/functions/math/basic_math.py
  chainer/functions/normalization/batch_normalization.py
  chainer/link.py
  chainer/links/connection/convolution_2d.py
  chainer/memory_layouts.py
  chainer/optimizer.py
  chainer/optimizers/ada_delta.py
  chainer/optimizers/ada_grad.py
  chainer/optimizers/adam.py
  chainer/optimizers/corrected_momentum_sgd.py
  chainer/optimizers/momentum_sgd.py
  chainer/optimizers/msvag.py
  chainer/optimizers/nesterov_ag.py
  chainer/optimizers/rmsprop.py
  chainer/optimizers/rmsprop_graves.py
  chainer/optimizers/sgd.py
  chainer/optimizers/smorms3.py
  chainer/utils/type_check.py
  chainer/variable.py
  examples/imagenet/.testdata/replacements/train_imagenet.py
  examples/imagenet/resnet50.py
  examples/imagenet/train_imagenet.py
  tests/chainer_tests/function_hooks_tests/test_cupy_memory_profile.py
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_normalization.py
  tests/chainer_tests/links_tests/connection_tests/test_convolution_2d.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
Labels: cat:feature

#8483 Fix flaky test of `_modified_xlogx`
  tests/chainer_tests/distributions_tests/test_utils.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8486 [backport] Fix flaky test of `_modified_xlogx`
  tests/chainer_tests/distributions_tests/test_utils.py
Labels: backport, cat:test, st:test-and-merge

#8484 Support step slicing on ONNX export
  onnx_chainer/functions/array.py
  onnx_chainer/functions/normalization.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX, st:test-and-merge

#8487 Remove unnecessary export on ONNX replace function test
  tests/onnx_chainer_tests/test_replace_func.py
Labels: ONNX, st:test-and-merge

#8482 Revert #8434
  tests/chainer_tests/functions_tests/math_tests/test_det.py
Labels: cat:test

#8485 Fix broken version specification in FlexCI dockerfile
  .pfnci/py27and35.Dockerfile
Labels: cat:test, st:test-and-merge, to-be-backported
