Repository chainer/chainer, pull requests merged in 2019-09, with the labels that each got.

#8039 Refactor `F.batch_normalization` and ChainerMN backend implementations
  chainer/functions/normalization/batch_normalization.py
  chainermn/functions/batch_normalization.py
  chainermn/links/batch_normalization.py
Labels: ChainerMN, cat:code-fix, st:test-and-merge

#8056 [backport] Fix doc of `backend.copyto`
  chainer/backend.py
Labels: backport, cat:document

#8053 Generalize and simplify `NativeCumsumKernel`
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/native/reduce.h
  chainerx_cc/chainerx/reduction_kernel_arg.cc
  chainerx_cc/chainerx/shape.h
Labels: ChainerX, cat:code-fix

#8052 Add cblas.h and modified CMakeLists.txt
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/cblas.h
  chainerx_cc/chainerx/native/native_device/dot.cc
Labels: cat:install, st:test-and-merge

#7825 [backport] Fix decorrelated batch normalization when groups ≠ 1
  chainer/functions/normalization/decorrelated_batch_normalization.py
  chainer/links/normalization/decorrelated_batch_normalization.py
  tests/chainer_tests/functions_tests/normalization_tests/test_decorrelated_batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_decorrelated_batch_normalization.py
Labels: backport, cat:bug, st:test-and-merge

#8028 [v6] Add a note about incompatibility with NumPy 1.17 + Python2
  docs/source/install.rst
Labels: cat:document

#6653 Treat warnings as errors in tests
  setup.cfg
  tests/chainer_tests/training_tests/extensions_tests/test_plot_report.py
Labels: cat:test, st:test-and-merge

#8023 Suppress number of combinations of in_out_dtype
  tests/chainerx_tests/dtype_utils.py
  tests/chainerx_tests/math_utils.py
Labels: cat:test

#8068 [backport] Fix NumPy version in Dockerfile
  docker/intel/python2/Dockerfile
  docker/python2/Dockerfile
Labels: backport, cat:install

#8076 Fix `-Wbraced-scalar-init` for clang
  chainerx_cc/chainerx/native/reduce.h
Labels: ChainerX, cat:code-fix

#7935 [backport] Insert missing spaces between concatenated string literals
  chainer/functions/activation/rrelu.py
  chainer/functions/connection/embed_id.py
  chainer/gradient_check.py
  chainer/links/caffe/caffe_function.py
  chainer/links/connection/deconvolution_2d.py
  chainer/links/connection/deconvolution_nd.py
  chainer/links/connection/lstm.py
  chainer/links/model/vision/vgg.py
  chainer/optimizer.py
  chainer/training/extensions/evaluator.py
  chainer/training/triggers/manual_schedule_trigger.py
  chainer/training/triggers/once_trigger.py
  chainermn/communicators/__init__.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/global_except_hook.py
  chainermn/links/multi_node_chain_list.py
  examples/chainermn/mnist/train_mnist_dual_parallel.py
  examples/mnist/train_mnist_data_parallel.py
  tests/chainer_tests/test_gradient_check.py
Labels: backport, cat:enhancement, st:test-and-merge

#7940 [backport] Refactor `DecorrelatedBatchNormalizationTest` and add stable input
  tests/chainer_tests/links_tests/normalization_tests/test_decorrelated_batch_normalization.py
Labels: backport, cat:test, st:test-and-merge

#8051 Add mean_squared_error for chainerX
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/loss.cc
  chainerx_cc/chainerx/routines/loss.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#8090 Explicit `h5py.File` `mode`
  tests/chainer_tests/serializers_tests/test_hdf5.py
Labels: cat:test, st:test-and-merge, to-be-backported

#7927 Add test for optimizers test coverage
  tests/chainer_tests/optimizers_tests/test_optimizers.py
Labels: cat:test, st:test-and-merge

#8088 use standard constructor
  chainerx_cc/chainerx/backward_builder.cc
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7984 Document `chainerx.to_numpy`
  chainerx/_docs/__init__.py
  chainerx/_docs/utils.py
  docs/source/chainerx/reference/ndarray.rst
Labels: cat:document

#8096 Fix flaky tests with `np.empty`
  tests/chainer_tests/test_variable.py
Labels: cat:test

#8089 Correctly cast `fill_value` in constant initializer
  chainer/initializers/constant.py
  tests/chainer_tests/test_variable.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#8086 fix env CHAINERX_ENABLE_LAPACK=0 causes error
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/python/routines.cc
Labels: ChainerX, cat:install, st:test-and-merge

#8097 [backport] Remove unused argument from decorrelated batch norm
  chainer/functions/normalization/decorrelated_batch_normalization.py
Labels: backport, cat:code-fix, st:test-and-merge

#8091 Fix heading anchor in ChainerX docs
  docs/source/chainerx/install/index.rst
Labels: ChainerX, cat:document, st:test-and-merge

#6285 Use some latest features for the WaveNet example
  examples/wavenet/modules.py
  examples/wavenet/net.py
Labels: cat:example

#8085 Add timestamp to Travis CI log
  .travis.yml
  scripts/ci/travis/run-step.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#7924 Avoid unnecessary test condition in `F.max_pooling_2d` test
  tests/chainer_tests/functions_tests/pooling_tests/test_max_pooling_2d.py
Labels: cat:test

#8107 [backport] Explicit `h5py.File` `mode`
  tests/chainer_tests/serializers_tests/test_hdf5.py
Labels: backport, cat:test, st:test-and-merge

#8108 [backport] Fix eps in `Contrastive.backward`
  chainer/functions/loss/contrastive.py
Labels: backport, cat:test

#8102 Fix matrix generation in linear algebra `PseudoInverse` test
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: cat:test

#8075 Add scripts for Docker base images for Chainer CI
  .pfnci/.gitignore
  .pfnci/config.pbtxt
  .pfnci/py27and35.Dockerfile
  .pfnci/py37.Dockerfile
  .pfnci/script.sh
Labels: cat:test, st:test-and-merge

#8098 Revive clang-tidy test in Travis CI
  chainerx_cc/chainerx/backward_builder.h
  chainerx_cc/chainerx/context.h
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/float16.h
  chainerx_cc/chainerx/float16_test.cc
  chainerx_cc/chainerx/kernel_registry.h
  chainerx_cc/chainerx/native/kernel_regist.h
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/chainer_interop.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/testing/threading.h
  scripts/ci/travis/run-tests.sh
Labels: cat:test

#7979 Loss scale support for chainerx
  chainer/function_node.py
  chainer/optimizer.py
  chainer/variable.py
  chainerx_cc/chainerx/backward.cc
  chainerx_cc/chainerx/backward.h
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/backward.cc
  tests/chainer_tests/optimizer_hooks_tests/test_weight_decay.py
  tests/chainer_tests/test_function_node.py
  tests/chainer_tests/test_optimizer.py
  tests/chainer_tests/test_variable.py
Labels: ChainerX, cat:enhancement

#7511 Fix deadlock on MultiprocessIterator and MultiprocessParallelUpdater
  chainer/training/updaters/multiprocess_parallel_updater.py
Labels: cat:bug, pr-blocker, st:test-and-merge, to-be-backported

#8060 Fix coding style of some imports in ChainerMN
  chainermn/functions/batch_normalization.py
  chainermn/functions/collective_communication.py
  chainermn/links/batch_normalization.py
  chainermn/links/create_mnbn_model.py
Labels: ChainerMN, cat:code-fix

#8103 Add cuda `ScanKernel`
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/cuda/reduce.cuh
  chainerx_cc/chainerx/native/reduce.h
  tests/chainerx_tests/unit_tests/routines_tests/test_reduction.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#8126 [backport] Fix deadlock on MultiprocessIterator and MultiprocessParallelUpdater
  chainer/training/updaters/multiprocess_parallel_updater.py
Labels: backport, cat:bug, pr-blocker, st:test-and-merge

#8127 Separate training script into main part and data submodule to avoid an error related to NVIDIA DALI.
  examples/imagenet/dataset_util.py
  examples/imagenet/train_imagenet.py
  examples/imagenet/train_imagenet_data_parallel.py
Labels: cat:example, st:test-and-merge

#8128 Remove unused headers in `arithmetic.{h,cc}`
  chainerx_cc/chainerx/routines/arithmetic.cc
  chainerx_cc/chainerx/routines/arithmetic.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#8132 Remove TODO fixed by #7528
  setup.cfg
Labels: cat:test, st:test-and-merge

#7945 Make parameterized test names deterministic
  chainer/testing/parameterized.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#8130 Revert "Add mean_squared_error for chainerX"
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/loss.cc
  chainerx_cc/chainerx/routines/loss.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: ChainerX, st:test-and-merge

#8134 [backport] Make parameterized test names deterministic
  chainer/testing/parameterized.py
Labels: backport, cat:enhancement, st:test-and-merge

#8133 Relax tolerance of im2col test
  tests/chainer_tests/functions_tests/array_tests/test_im2col.py
Labels: cat:test, to-be-backported

#8135 [backport] Relax tolerance of im2col test
  tests/chainer_tests/functions_tests/array_tests/test_im2col.py
Labels: backport, cat:test

#8124 Add `chainerx.nonzero`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7824 Filter DeprecationWarning in test_maniplation.py
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: cat:test

#8136 Allow `fix_random` decorator to be used with `OpTest`
  chainer/testing/random.py
  tests/chainerx_tests/op_utils.py
Labels: cat:test, pr-blocker

#5808 Support all float dtypes in `F.n_step_rnn` and `F.n_step_birnn`
  chainer/functions/rnn/n_step_rnn.py
  tests/chainer_tests/functions_tests/rnn_tests/test_function_n_step_rnn.py
  tests/chainerx_tests/unit_tests/routines_tests/test_rnn.py
Labels: cat:feature, prio:high

#8059 Add zeta function
  chainer/functions/__init__.py
  chainer/functions/math/zeta.py
  docs/source/reference/functions.rst
  tests/chainer_tests/functions_tests/math_tests/test_zeta.py
Labels: cat:feature

#8131 Add `ignore::ImportWarning` to `setup.cfg`
  setup.cfg
Labels: ChainerMN, cat:test, prio:high, st:test-and-merge

#8147 Remove obsolete note in `chainerx.maximum` doc
  chainerx/_docs/routines.py
Labels: cat:document, st:test-and-merge

#7996 Fixes deepcopy for chain parameters
  chainer/link.py
  tests/chainer_tests/test_link.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#7032 [chainerx] Adds vsplit
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature, st:test-and-merge

#8146 Add documentation for `chainerx.minimum`
  chainerx/_docs/routines.py
  docs/source/chainerx/reference/routines.rst
Labels: cat:document

#8077 Add `testing.generate_matrix` to get matrices of given singular values
  chainer/testing/__init__.py
  chainer/testing/matrix.py
  tests/chainer_tests/testing_tests/test_matrix.py
Labels: cat:feature

#8150 [backport] Fixes deepcopy for chain parameters
  chainer/link.py
  tests/chainer_tests/test_link.py
Labels: backport, cat:bug, st:test-and-merge

#8142 Fix flaky `NStepRNN` and `NStepBiRNN`
  tests/chainerx_tests/unit_tests/routines_tests/test_rnn.py
Labels: ChainerX, cat:test, st:test-and-merge

#8099 Documentation improvement `CHAINERX_ENABLE_{BLAS,LAPACK}`
  docs/source/chainerx/install/index.rst
Labels: ChainerX, cat:document

#8154 Convert tabs to spaces in `setup.cfg`
  setup.cfg
Labels: cat:other, st:test-and-merge

#8141 Fix missing dtype checks in ChainerX loss test
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: cat:test, st:test-and-merge

#8144 Fix RNN documentation
  chainer/functions/rnn/n_step_gru.py
  chainer/functions/rnn/n_step_rnn.py
  chainer/links/rnn/n_step_lstm.py
  chainer/links/rnn/n_step_rnn.py
  chainerx/_docs/routines.py
Labels: cat:document, st:test-and-merge, to-be-backported

#8152 Avoid `empty` in `F.cast` test that can cause overflow warning
  tests/chainer_tests/functions_tests/array_tests/test_cast.py
Labels: cat:test, prio:high, st:test-and-merge

#8160 Fix typo
  chainer/dataset/convert.py
  chainer/links/theano/theano_function.py
  chainer/optimizer.py
Labels: cat:document, st:test-and-merge, to-be-backported

#8161 [backport] Fix typo
  chainer/dataset/convert.py
  chainer/links/theano/theano_function.py
  chainer/optimizer.py
Labels: backport, cat:document

#8155 Make xdist usable in ChainerX tests
  tests/chainerx_tests/conftest.py
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
Labels: cat:test, st:test-and-merge

#8177 Bump version to v7.0.0b4
  chainer/_version.py
  docker/intel/python2/Dockerfile
  docker/intel/python3/Dockerfile
  docker/python2/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other

#8058 Deprecate `DeviceResident.to_gpu`/`to_cpu`/`to_intel64`
  chainer/device_resident.py
  chainer/training/updaters/standard_updater.py
  tests/chainer_tests/function_hooks_tests/test_cupy_memory_profile.py
  tests/chainer_tests/function_hooks_tests/test_timer.py
  tests/chainer_tests/graph_optimization_tests/test_static_graph_models.py
  tests/chainer_tests/link_hooks_tests/test_timer.py
  tests/chainer_tests/link_hooks_tests/test_weight_standardization.py
  tests/chainer_tests/links_tests/activation_tests/test_maxout.py
  tests/chainer_tests/links_tests/activation_tests/test_prelu.py
  tests/chainer_tests/links_tests/activation_tests/test_simplified_dropconnect.py
  tests/chainer_tests/links_tests/activation_tests/test_swish.py
  tests/chainer_tests/links_tests/connection_tests/test_bias.py
  tests/chainer_tests/links_tests/connection_tests/test_bilinear.py
  tests/chainer_tests/links_tests/connection_tests/test_deformable_convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_depthwise_convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_dilated_convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_embed_id.py
  tests/chainer_tests/links_tests/connection_tests/test_highway.py
  tests/chainer_tests/links_tests/connection_tests/test_inception.py
  tests/chainer_tests/links_tests/connection_tests/test_inceptionbn.py
  tests/chainer_tests/links_tests/connection_tests/test_linear.py
  tests/chainer_tests/links_tests/connection_tests/test_local_convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_mlp_convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_scale.py
  tests/chainer_tests/links_tests/connection_tests/test_zoneoutlstm.py
  tests/chainer_tests/links_tests/loss_tests/test_black_out.py
  tests/chainer_tests/links_tests/loss_tests/test_crf1d.py
  tests/chainer_tests/links_tests/loss_tests/test_hierarchical_softmax.py
  tests/chainer_tests/links_tests/loss_tests/test_negative_sampling.py
  tests/chainer_tests/links_tests/model_tests/test_classifier.py
  tests/chainer_tests/links_tests/model_tests/test_vision.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_renormalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_group_normalization.py
  tests/chainer_tests/links_tests/normalization_tests/test_layer_normalization.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_gru.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_lstm.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_mgu.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_gru.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_lstm.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_rnn.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_peephole.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_tree_lstm.py
  tests/chainer_tests/optimizers_tests/test_optimizers_by_linear_model.py
  tests/chainer_tests/test_link.py
  tests/chainer_tests/test_sequential.py
  tests/chainer_tests/training_tests/updaters_tests/test_multiprocess_parallel_updater.py
  tests/chainer_tests/utils_tests/test_walker_alias.py
Labels: cat:enhancement, st:test-and-merge

#8149 Fix bugs in cupy elementwise in batch_normalization
  chainer/functions/normalization/batch_normalization.py
Labels: cat:bug, pr-blocker, st:test-and-merge, to-be-backported

#8180 Fix style of `setup.cfg`
  setup.cfg
Labels: cat:code-fix, st:test-and-merge

#8176 Remove `DummySerializer` and `DummyDeserializer` from `iterators_tests`
  tests/chainer_tests/iterators_tests/test_iterator_compatibility.py
  tests/chainer_tests/iterators_tests/test_multiprocess_iterator.py
  tests/chainer_tests/iterators_tests/test_multithread_iterator.py
  tests/chainer_tests/iterators_tests/test_serial_iterator.py
Labels: cat:test, st:test-and-merge

#8168 Add `chainerx.hinge`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/loss.cc
  chainerx_cc/chainerx/routines/loss.h
  tests/chainerx_tests/unit_tests/routines_tests/test_loss.py
Labels: ChainerX, cat:feature, st:test-and-merge

#8081 Allow Weight Initializer to have its own `RandomState` instance
  chainer/initializers/normal.py
  chainer/initializers/orthogonal.py
  chainer/initializers/uniform.py
  tests/chainer_tests/initializer_tests/test_normal.py
  tests/chainer_tests/initializer_tests/test_orthogonal.py
  tests/chainer_tests/initializer_tests/test_uniform.py
Labels: cat:feature

#8167 Support zero-sized matrix in `generate_matrix`
  chainer/testing/matrix.py
  tests/chainer_tests/testing_tests/test_matrix.py
Labels: cat:enhancement

#8172 Fix `generate.py` in examples/wavenet
  examples/wavenet/generate.py
  examples/wavenet/modules.py
  examples/wavenet/net.py
  examples/wavenet/utils.py
Labels: cat:example

#8157 Fix chainer#8156
  examples/wavenet/net.py
  examples/wavenet/utils.py
Labels: cat:example

#8169 Fix `__str__` of parameterized class
  chainer/testing/parameterized.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#8184 [backport] Fix `__str__` of parameterized class
  chainer/testing/parameterized.py
Labels: backport, cat:bug

#8109 Fix overflow warning in div backward test
  tests/chainer_tests/functions_tests/math_tests/test_basic_math.py
Labels: cat:test, to-be-backported

#8143 Disable flaky test retry in flexCI
  .pfnci/hint.pbtxt
  .pfnci/run.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#8164 Pairwise testing
  .pfnci/hint.pbtxt
  chainer/testing/parameterized.py
  tests/chainer_tests/conftest.py
  tests/chainer_tests/testing_tests/test_parameterized.py
  tests/chainerx_tests/conftest.py
Labels: cat:test

#8188 [backport] Fix overflow warning in div backward test
  tests/chainer_tests/functions_tests/math_tests/test_basic_math.py
Labels: backport, cat:test, st:test-and-merge

#8114 Fix flaky `TestQR`
  tests/chainerx_tests/unit_tests/routines_tests/test_linalg.py
Labels: cat:test

#8189 Relax `BatchNormalization` backward test tolerances
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_normalization.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8196 [backport] Relax `BatchNormalization` backward test tolerances
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_normalization.py
Labels: backport, cat:test, st:test-and-merge

#8185 Bug Fix: "copy" => "__deepcopy__" in ChainerMN "batch_normalization" & replace "to_gpu"
  chainermn/links/batch_normalization.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
  tests/chainermn_tests/datasets_tests/test_mnist.py
  tests/chainermn_tests/extensions_tests/test_allreduce_persistent.py
  tests/chainermn_tests/extensions_tests/test_observation_aggregator.py
  tests/chainermn_tests/functions_tests/test_point_to_point_communication.py
  tests/chainermn_tests/links_tests/test_batch_normalization.py
  tests/chainermn_tests/links_tests/test_create_mnbn_model.py
  tests/chainermn_tests/links_tests/test_multi_node_chain_list.py
  tests/chainermn_tests/links_tests/test_n_step_rnn.py
  tests/chainermn_tests/optimizer_tests/test_double_buffering_optimizer.py
  tests/chainermn_tests/optimizer_tests/test_multi_node_optimizer.py
Labels: ChainerMN, cat:bug

#8182 Fix comparison with casting in hdf5 serializer test
  tests/chainer_tests/serializers_tests/test_hdf5.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8174 Allow `pytest.skip()` in combination with `testing.repeat`/`retry`
  chainer/testing/condition.py
  tests/chainer_tests/testing_tests/test_condition.py
Labels: cat:test, st:test-and-merge

#8186 Remove `ImportWarning` ignore entry
  setup.cfg
Labels: cat:other, st:test-and-merge, to-be-backported

#8198 [backport] Fix comparison with casting in hdf5 serializer test
  tests/chainer_tests/serializers_tests/test_hdf5.py
Labels: backport, cat:test, st:test-and-merge
