Repository chainer/chainer, pull requests merged in 2019-05, with the labels that each got.

#7017 [chainerx] add bitwise ops
  chainerx/__init__.pyi
  chainerx/_docs/array.py
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/dtype.h
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature

#6973 [backport] Increase the default columns in Travis CI
  scripts/ci/travis/run-tests.sh
Labels: backport, cat:test, st:test-and-merge

#7049 [backport] Fix reinforcement_learning example to work with default dtype
  examples/reinforcement_learning/ddpg_pendulum.py
  examples/reinforcement_learning/dqn_cartpole.py
Labels: backport, cat:example

#7058 Support mixed dtypes in `Stack`
  chainerx_cc/chainerx/routines/manipulation.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:enhancement

#7043 implement NumPy-like pairwise reduction for stability
  chainerx_cc/chainerx/native/reduce.h
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:enhancement

#7075 ChainerX Scalar / Array divisions
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/array_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:enhancement

#7083 Exclude protobuf 3.8.0rc1 from dependencies
  setup.py
Labels: cat:install, st:test-and-merge, to-be-backported

#7024 Fix flaky `chainerx.abs` test
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: cat:test, st:test-and-merge

#7014 [chainerx] Adds `logical_xor`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/kernels/logic.h
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/logic.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
Labels: ChainerX, cat:feature, st:test-and-merge

#6625 Display `pytest` summary
  scripts/ci/travis/steps.sh
Labels: ChainerX, cat:test, st:test-and-merge, to-be-backported

#7069 Pass arguments by value in `native::Float16` and `cuda::Float16`
  chainerx_cc/chainerx/cuda/float16.cuh
  chainerx_cc/chainerx/float16.h
  chainerx_cc/chainerx/float16_test.cc
Labels: ChainerX, cat:code-fix

#7068 Use macro in exp_log.{cc/cu}
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/native/native_device/exp_log.cc
Labels: ChainerX, cat:code-fix

#7089 Display `pytest` summary (cont.)
  appveyor.yml
  scripts/ci/steps.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#7088 [backport] Exclude protobuf 3.8.0rc1 from dependencies
  setup.py
Labels: backport, cat:install, st:test-and-merge

#6971 [backport] Update ChainerX contribution guide
  docs/source/chainerx/contribution.rst
Labels: ChainerX, backport, cat:document, st:test-and-merge

#6816 Define `__str__` for `Device` classes
  chainer/backends/_chainerx.py
  chainer/backends/_cpu.py
  chainer/backends/cuda.py
  chainer/backends/intel64.py
  tests/chainer_tests/test_backend.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#6740 Add `chainerx.argmin` and `chainerx.ndarray.argmin`
  chainer/functions/math/minmax.py
  chainerx/__init__.pyi
  chainerx/_docs/array.py
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/array_test.cc
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/kernels/sorting.h
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/sorting.cc
  chainerx_cc/chainerx/routines/sorting.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_sorting.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7090 [backport] Display `pytest` summary
  scripts/ci/travis/steps.sh
Labels: ChainerX, backport, cat:test, st:test-and-merge

#7091 [backport] Display `pytest` summary (cont.)
  appveyor.yml
  scripts/ci/steps.sh
Labels: backport, cat:test, st:test-and-merge

#7080 Fix `Reshape` copy condition
  chainerx_cc/chainerx/routines/manipulation.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#7074 Add `.mergify.yml`
  .mergify.yml
Labels: cat:other, st:test-and-merge, to-be-backported

#6031 Support orthogonal embedding initialization
  chainer/initializers/orthogonal.py
  tests/chainer_tests/initializer_tests/test_orthogonal.py
Labels: cat:feature

#7092 [backport] Define `__str__` for `Device` classes
  chainer/backends/_chainerx.py
  chainer/backends/_cpu.py
  chainer/backends/cuda.py
  chainer/backends/intel64.py
  tests/chainer_tests/test_backend.py
Labels: backport, cat:enhancement

#7086 Update supported MPI list
  docs/source/chainermn/installation/guide.rst
Labels: ChainerMN, cat:document, to-be-backported

#7101 Fix trigger constructors to raise errors instead of assertion failures
  chainer/training/triggers/interval_trigger.py
  chainer/training/triggers/manual_schedule_trigger.py
  tests/chainer_tests/training_tests/triggers_tests/test_interval_trigger.py
  tests/chainer_tests/training_tests/triggers_tests/test_manual_schedule_trigger.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7081 Support ChainerX in POS-tagging example
  examples/pos/postagging.py
Labels: ChainerX, cat:example, st:test-and-merge

#7107 Fix construction of `std::shared_ptr` with custom deleter in `chianer_interop.cc`
  chainerx_cc/chainerx/python/chainer_interop.cc
Labels: ChainerX, cat:bug, st:test-and-merge, to-be-backported

#7087 Support ChainerX in Sentiment example
  examples/sentiment/train_recursive_minibatch.py
  examples/sentiment/train_sentiment.py
Labels: ChainerX, cat:example, st:test-and-merge

#7109 [backport] Fix construction of `std::shared_ptr` with custom deleter in `chianer_interop.cc`
  chainerx_cc/chainerx/python/chainer_interop.cc
Labels: ChainerX, backport, cat:bug, st:test-and-merge

#7105 [backport] Fix trigger constructors to raise errors instead of assertion failures
  chainer/training/triggers/interval_trigger.py
  chainer/training/triggers/manual_schedule_trigger.py
  tests/chainer_tests/training_tests/triggers_tests/test_interval_trigger.py
  tests/chainer_tests/training_tests/triggers_tests/test_manual_schedule_trigger.py
Labels: backport, cat:enhancement, st:test-and-merge

#7113 [backport] Update supported MPI list
  docs/source/chainermn/installation/guide.rst
Labels: ChainerMN, backport, cat:document

#7095 Add `F.arctanh`
  chainer/functions/__init__.py
  chainer/functions/math/arctanh.py
  docs/source/reference/functions.rst
  tests/chainer_tests/functions_tests/math_tests/test_arctanh.py
Labels: cat:feature, st:test-and-merge

#7065 Add `chainerx.flip`, `chainerx.fliplr` and `chainerx.flipud`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7067 [chainerx] add indexing where
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  chainerx_cc/chainerx/kernels/indexing.h
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_indexing.py
Labels: ChainerX, cat:feature

#6934 [backport] Make `InvalidType` picklable
  chainer/utils/type_check.py
  tests/chainer_tests/utils_tests/test_type_check.py
Labels: backport, cat:bug

#7112 Support TensorCore in `chainerx::Conv`
  chainerx_cc/chainerx/cuda/cuda_conv.cc
Labels: ChainerX, cat:enhancement, st:test-and-merge

#7119 Fix build with clang
  chainerx_cc/chainerx/routines/manipulation.cc
Labels: cat:bug, st:test-and-merge

#6777 Add `chainerx.fabs` and `chainerx.sign`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx/_fallback_workarounds.py
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7098 Document `CHAINERX_ENABLE_BLAS` environment variable
  docs/source/chainerx/install/index.rst
Labels: cat:document, st:test-and-merge, to-be-backported

#7110 Avoid importing object
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: cat:code-fix, to-be-backported

#7120 [backport] Document `CHAINERX_ENABLE_BLAS` environment variable
  docs/source/chainerx/install/index.rst
Labels: ChainerX, backport, cat:document, st:test-and-merge

#7114 Fast integer scale unpooling
  chainer/functions/pooling/unpooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_unpooling_2d.py
Labels: cat:performance, to-be-backported

#7121 [backport] Avoid importing object
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: backport, cat:code-fix, st:test-and-merge

#7111 Improve mergify configuration
  .mergify.yml
Labels: cat:test, st:test-and-merge, to-be-backported

#7099 Move backend docs to a separate page
  docs/source/reference/backends.rst
  docs/source/reference/index.rst
  docs/source/reference/util.rst
Labels: cat:document, pr-blocker, release-blocker, to-be-backported

#7127 [backport] Fast integer scale unpooling
  chainer/functions/pooling/unpooling_2d.py
  tests/chainer_tests/functions_tests/pooling_tests/test_unpooling_2d.py
Labels: backport, cat:performance

#7123 [backport] Fix documentation of renamed arguments
  chainer/training/extensions/computational_graph.py
  chainer/training/extensions/log_report.py
  chainer/training/extensions/plot_report.py
  chainer/training/extensions/variable_statistics_plot.py
Labels: backport, cat:document

#7122 [backport] Make too slow initializers' tests faster
  tests/chainer_tests/initializer_tests/test_normal.py
  tests/chainer_tests/initializer_tests/test_orthogonal.py
  tests/chainer_tests/initializer_tests/test_uniform.py
Labels: backport, cat:test

#7125 Remove extra spaces in docstrings
  chainer/training/extensions/computational_graph.py
  chainer/training/extensions/log_report.py
  chainer/training/extensions/plot_report.py
  chainer/training/extensions/variable_statistics_plot.py
Labels: cat:document, to-be-backported

#7044 Fix link to ChainerMN docs in performance guide
  docs/source/performance.rst
Labels: cat:document, to-be-backported

#7103 Add progress bar to sentiment analysis example
  examples/sentiment/train_recursive_minibatch.py
  examples/sentiment/train_sentiment.py
Labels: cat:example, st:test-and-merge

#7129 Support ChainerX in Model Zoo example
  examples/modelzoo/evaluate_caffe_net.py
Labels: ChainerX, cat:example

#6867 Simplify `F.local_response_normalization` test
  tests/chainer_tests/functions_tests/normalization_tests/test_local_response_normalization.py
Labels: cat:test

#7138 Fix spelling of AMSGrad
  chainer/optimizers/adam.py
Labels: cat:document, st:test-and-merge

#7137 Fix AdamW docstring
  chainer/optimizers/adam.py
Labels: st:test-and-merge

#6817 add zero fill mode in allreduce of chainermn
  chainermn/communicators/_memory_utility.py
  chainermn/communicators/dummy_communicator.py
  chainermn/communicators/flat_communicator.py
  chainermn/communicators/hierarchical_communicator.py
  chainermn/communicators/naive_communicator.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/communicators/single_node_communicator.py
  chainermn/communicators/two_dimensional_communicator.py
  chainermn/optimizers.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, cat:feature, to-be-backported

#7142 [backport] Add zero fill mode in allreduce of chainermn
  chainermn/communicators/_memory_utility.py
  chainermn/communicators/dummy_communicator.py
  chainermn/communicators/flat_communicator.py
  chainermn/communicators/hierarchical_communicator.py
  chainermn/communicators/naive_communicator.py
  chainermn/communicators/non_cuda_aware_communicator.py
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/communicators/single_node_communicator.py
  chainermn/communicators/two_dimensional_communicator.py
  chainermn/optimizers.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN, backport, cat:bug, prio:high, st:test-and-merge

#7102 Document backend and device objects
  chainer/_backend.py
  chainer/backend.py
  chainer/backends/_chainerx.py
  chainer/backends/_cpu.py
  chainer/backends/cuda.py
  chainer/backends/intel64.py
  chainer/device_resident.py
  docs/source/conf.py
  docs/source/reference/backends.rst
Labels: cat:document, release-blocker, to-be-backported

#7152 [backport] Backport #6595, #7099 and #7102
  chainer/_backend.py
  chainer/backend.py
  chainer/backends/_chainerx.py
  chainer/backends/_cpu.py
  chainer/backends/cuda.py
  chainer/backends/intel64.py
  chainer/device_resident.py
  docs/source/conf.py
  docs/source/reference/backends.rst
  docs/source/reference/index.rst
  docs/source/reference/util.rst
  docs/source/reference/util/algorithm.rst
  docs/source/reference/util/conv.rst
  docs/source/reference/util/experimental.rst
  docs/source/reference/util/reporter.rst
  docs/source/reference/util/sparse.rst
Labels: backport, cat:document

#7156 Update version numbers
  chainer/_version.py
  docker/intel/python2/Dockerfile
  docker/intel/python3/Dockerfile
  docker/python2/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other

#7035 [backport] Support Sphinx 2.0 and use absolute path to support the latest RTD
  docs/source/_autosummary_check.py
Labels: backport, cat:document, st:test-and-merge

#7151 [backport] Add `.mergify.yml`
  .mergify.yml
Labels: backport, cat:other, st:test-and-merge

#7134 [backport] Document passive attributes in `FunctionTestCase`
  chainer/testing/function_link.py
Labels: backport, cat:document

#7130 [backport] Remove extra spaces in docstrings
  chainer/training/extensions/computational_graph.py
  chainer/training/extensions/log_report.py
  chainer/training/extensions/plot_report.py
  chainer/training/extensions/variable_statistics_plot.py
Labels: backport, cat:document, st:test-and-merge

#6450 Fix dead sphinx links
  chainer/functions/array/split_axis.py
  chainer/functions/evaluation/accuracy.py
  chainer/functions/evaluation/binary_accuracy.py
  chainer/functions/evaluation/r2_score.py
  chainer/functions/loss/cross_covariance.py
  chainer/functions/loss/sigmoid_cross_entropy.py
  chainer/functions/normalization/local_response_normalization.py
  chainer/link_hooks/timer.py
  chainer/links/connection/highway.py
  chainer/links/connection/inception.py
  chainer/links/normalization/batch_normalization.py
  chainer/training/extensions/variable_statistics_plot.py
  chainer/variable.py
  chainermn/functions/point_to_point_communication.py
  docs/source/examples/cnn.rst
  docs/source/examples/mnist.rst
  docs/source/examples/ptb.rst
  docs/source/examples/train_loop.rst
  docs/source/guides/extensions.rst
  docs/source/guides/functions.rst
  docs/source/guides/gpu.rst
  docs/source/guides/links.rst
  docs/source/guides/models.rst
  docs/source/guides/optimizers.rst
  docs/source/guides/trainer.rst
  docs/source/guides/type_checks.rst
  docs/source/guides/variables.rst
  docs/source/reference/check.rst
  docs/source/reference/configuration.rst
  docs/source/reference/datasets.rst
  docs/source/reference/debug.rst
  docs/source/reference/graph.rst
  docs/source/reference/iterators.rst
  docs/source/reference/optimizers.rst
  docs/source/reference/static_graph.rst
  docs/source/reference/static_graph_design.rst
  docs/source/reference/training.rst
  docs/source/reference/variable.rst
  docs/source/upgrade.rst
  docs/source/upgrade_v2.rst
Labels: cat:document, st:test-and-merge, to-be-backported

#6968 Simplify `F.tensordot` test
  tests/chainer_tests/functions_tests/math_tests/test_tensordot.py
Labels: cat:test, st:test-and-merge

#6982 Support ChainerX in `F.copy`
  chainer/functions/array/copy.py
  tests/chainer_tests/functions_tests/array_tests/test_copy.py
Labels: ChainerX, pr-blocker, st:test-and-merge

#7128 Split binary functions from math.cc
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/cuda/cuda_device/binary.cu
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/binary.h
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/native/native_device/binary.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/binary.cc
  chainerx_cc/chainerx/routines/binary.h
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/routines_util.h
  tests/chainerx_tests/dtype_utils.py
  tests/chainerx_tests/math_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_binary.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7163 Document `backend.get_device_from_array`
  chainer/backend.py
  chainer/backends/cuda.py
  docs/source/reference/backends.rst
Labels: cat:document, to-be-backported

#7166 Expose chainerx::AsContiguous as a public C++ API
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/cuda/cuda_conv.cc
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/native/native_device/dot.cc
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/creation.h
  chainerx_cc/chainerx/routines/creation_test.cc
Labels: ChainerX, cat:feature, st:test-and-merge

#7108 made enable to compile chainerx with MSVC
  chainerx_build_helper.py
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/array_repr.cc
  chainerx_cc/third_party/gtest.cmake
Labels: cat:install, st:test-and-merge, to-be-backported

#7131 [backport] Fix link to ChainerMN docs in performance guide
  docs/source/performance.rst
Labels: backport, cat:document

#7135 Document `F.copy` view behavior
  chainer/functions/array/copy.py
Labels: cat:document, to-be-backported

#7132 Support ChainerX in `Variable.addgrad`
  chainer/variable.py
  tests/chainer_tests/test_link.py
  tests/chainer_tests/test_variable.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#7160 Fix pointless comparison warning
  chainerx_cc/chainerx/cuda/numeric.cuh
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7169 Support ChainerX in MNIST inference example
  examples/mnist/inference.py
Labels: ChainerX, cat:example, st:test-and-merge

#7170 Remove backslashes to continue lines of link targets
  chainer/functions/activation/lstm.py
  chainer/functions/activation/slstm.py
  chainer/functions/activation/tree_lstm.py
  chainer/functions/array/spatial_transformer_grid.py
  chainer/functions/array/spatial_transformer_sampler.py
  chainer/functions/connection/deformable_convolution_2d_sampler.py
  chainer/functions/connection/depthwise_convolution_2d.py
  chainer/functions/connection/shift.py
  chainer/functions/loss/black_out.py
  chainer/functions/loss/ctc.py
  chainer/functions/loss/negative_sampling.py
  chainer/functions/loss/triplet.py
  chainer/functions/noise/dropout.py
  chainer/functions/noise/gumbel_softmax.py
  chainer/functions/noise/zoneout.py
  chainer/functions/normalization/batch_normalization.py
  chainer/functions/normalization/batch_renormalization.py
  chainer/functions/normalization/local_response_normalization.py
  chainer/functions/pooling/spatial_pyramid_pooling_2d.py
  chainer/links/activation/prelu.py
  chainer/links/activation/swish.py
  chainer/links/connection/inceptionbn.py
  chainer/links/connection/tree_lstm.py
  chainer/links/normalization/batch_normalization.py
  chainer/links/normalization/batch_renormalization.py
  chainer/optimizer_hooks/gradient_lars.py
  chainer/optimizer_hooks/gradient_noise.py
  chainer/optimizers/adam.py
  chainer/optimizers/corrected_momentum_sgd.py
  chainer/optimizers/msvag.py
Labels: cat:code-fix, to-be-backported

#7181 Consistent cases for Inplace
  chainerx_cc/chainerx/routines/binary.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/routines_util.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7184 Fix missing cuda in `chainerx.swapaxes` test
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: cat:test, st:test-and-merge

#6886 Add `chainerx.hstack`, `chainerx.vstack` and `chainerx.atleast_2d`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx/_fallback_workarounds.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/manipulation.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_manipulation.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7175 `Link.serialize` to support ChainerX
  chainer/link.py
  tests/chainer_tests/test_link.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#7183 Add `optimizers.MSVAG` to documentation
  docs/source/reference/optimizers.rst
Labels: cat:document, st:test-and-merge, to-be-backported

#7192 Add missing doc entry for `CommunicatorBase.allgather`
  docs/source/chainermn/reference/index.rst
Labels: ChainerMN, cat:document, to-be-backported

#7104 Avoid unnecessary updates in `F.batch_renormalization`, and related fixes
  chainer/functions/normalization/batch_renormalization.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#6696 Support Tagged communication with MPI_Status.
  chainermn/communicators/mpi_communicator_base.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
Labels: ChainerMN

#7171 Split trigonometric/hyperbolic routines from math.cc
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/cuda/cuda_device/hyperbolic.cu
  chainerx_cc/chainerx/cuda/cuda_device/trigonometric.cu
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/hyperbolic.h
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/kernels/trigonometric.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/native/native_device/hyperbolic.cc
  chainerx_cc/chainerx/native/native_device/trigonometric.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/hyperbolic.cc
  chainerx_cc/chainerx/routines/hyperbolic.h
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/trigonometric.cc
  chainerx_cc/chainerx/routines/trigonometric.h
  chainerx_cc/chainerx/routines/type_util.h
  tests/chainerx_tests/math_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
  tests/chainerx_tests/unit_tests/routines_tests/test_trigonometric_hyperbolic.py
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7179 Remove `chainerx.md`
  README.md
  chainerx.md
  docs/source/chainerx/contribution.rst
  docs/source/chainerx/tips.rst
Labels: ChainerX, cat:document, st:test-and-merge

#7193 [backport] Add `optimizers.MSVAG` to documentation
  docs/source/reference/optimizers.rst
Labels: backport, cat:document, st:test-and-merge

#7168 [backport] Document `backend.get_device_from_array`
  chainer/backend.py
  chainer/backends/cuda.py
  docs/source/reference/backends.rst
Labels: backport, cat:document, st:test-and-merge

#7159 [backport] Fix dead sphinx links
  chainer/functions/array/split_axis.py
  chainer/functions/evaluation/accuracy.py
  chainer/functions/evaluation/binary_accuracy.py
  chainer/functions/evaluation/r2_score.py
  chainer/functions/loss/cross_covariance.py
  chainer/functions/loss/sigmoid_cross_entropy.py
  chainer/functions/normalization/local_response_normalization.py
  chainer/link_hooks/timer.py
  chainer/links/connection/highway.py
  chainer/links/connection/inception.py
  chainer/links/normalization/batch_normalization.py
  chainer/training/extensions/variable_statistics_plot.py
  chainer/variable.py
  chainermn/functions/point_to_point_communication.py
  docs/source/examples/cnn.rst
  docs/source/examples/mnist.rst
  docs/source/examples/ptb.rst
  docs/source/examples/train_loop.rst
  docs/source/guides/extensions.rst
  docs/source/guides/functions.rst
  docs/source/guides/gpu.rst
  docs/source/guides/links.rst
  docs/source/guides/models.rst
  docs/source/guides/optimizers.rst
  docs/source/guides/trainer.rst
  docs/source/guides/type_checks.rst
  docs/source/guides/variables.rst
  docs/source/reference/check.rst
  docs/source/reference/configuration.rst
  docs/source/reference/datasets.rst
  docs/source/reference/debug.rst
  docs/source/reference/graph.rst
  docs/source/reference/iterators.rst
  docs/source/reference/optimizers.rst
  docs/source/reference/static_graph.rst
  docs/source/reference/static_graph_design.rst
  docs/source/reference/training.rst
  docs/source/reference/variable.rst
  docs/source/upgrade.rst
  docs/source/upgrade_v2.rst
Labels: backport, cat:document

#7191 Split `Variable.grad` and `Variable.grad_var` tests
  tests/chainer_tests/test_variable.py
Labels: ChainerX, cat:test, pr-blocker, st:test-and-merge

#7178 Emit warning on `chainerx` import in debug mode
  chainerx/__init__.py
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/chainerx/python/core_module.cc
Labels: ChainerX, cat:feature, st:test-and-merge

#7196 Fix typo in `Variable.backward`
  chainer/variable.py
Labels: cat:enhancement, st:test-and-merge, to-be-backported

#7189 Fix float16 and TensorCore related issue in ChainerX
  chainerx_cc/chainerx/cuda/cuda_conv.cc
  chainerx_cc/chainerx/cuda/cuda_conv.h
Labels: ChainerX, cat:bug, st:test-and-merge

#7204 Support device specifier in image captioning example
  examples/image_captioning/train.py
Labels: cat:example, pr-blocker, st:test-and-merge

#7176 Remove duplicated code in logic.cc
  chainerx_cc/chainerx/routines/logic.cc
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7207 Move `TestTanh` from `test_math.py` to test_trigonometric_hyperbolic.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
  tests/chainerx_tests/unit_tests/routines_tests/test_trigonometric_hyperbolic.py
Labels: ChainerX, cat:test, st:test-and-merge

#7218 [backport] Remove `chainerx.md`
  README.md
  chainerx.md
  docs/source/chainerx/contribution.rst
  docs/source/chainerx/tips.rst
Labels: ChainerX, backport, cat:document, st:test-and-merge

#7195 [backport] Add missing doc entry for `CommunicatorBase.allgather`
  docs/source/chainermn/reference/index.rst
Labels: ChainerMN, backport, cat:document

#7208 [backport] Fix typo in `Variable.backward`
  chainer/variable.py
Labels: backport, cat:enhancement, st:test-and-merge

#7106 Fix uncopyable MultiNodeBatchNormalization
  chainermn/links/batch_normalization.py
  tests/chainermn_tests/links_tests/test_batch_normalization.py
Labels: ChainerMN, cat:bug, to-be-backported

#7197 [backport] Avoid unnecessary updates in `F.batch_renormalization`, and related fixes
  chainer/functions/normalization/batch_renormalization.py
Labels: backport, cat:enhancement, st:test-and-merge

#7174 [backport] Document `F.copy` view behavior
  chainer/functions/array/copy.py
Labels: backport, cat:document, st:test-and-merge

#7186 Fix grammatical errors in documentation
  chainer/distribution.py
  chainer/function.py
  chainer/function_node.py
  chainer/link.py
  chainer/optimizer.py
  chainer/optimizer_hooks/gradient_noise.py
  chainer/training/extensions/computational_graph.py
  chainer/variable.py
  docs/source/chainermn/installation/guide.rst
  docs/source/chainerx/tips.rst
  docs/source/contribution.rst
  docs/source/examples/cnn.rst
  docs/source/examples/mnist.rst
  docs/source/guides/functions.rst
  docs/source/guides/variables.rst
  docs/source/performance.rst
  docs/source/reference/configuration.rst
  docs/source/reference/links.rst
  docs/source/upgrade.rst
  docs/source/upgrade_v2.rst
Labels: cat:document, st:test-and-merge

#6857 Support device specifiers in MNIST data parallel example
  chainer/training/updaters/parallel_updater.py
  examples/mnist/train_mnist_data_parallel.py
Labels: ChainerX, cat:example, st:test-and-merge

#6496 Elementwise `Power` for ChainerX
  chainerx/__init__.pyi
  chainerx/testing/__init__.py
  chainerx/testing/dtypes.py
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/scalar.h
  tests/chainerx_tests/dtype_utils.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature

#7219 [backport] Fix grammatical errors in documentation
  chainer/distribution.py
  chainer/function.py
  chainer/function_node.py
  chainer/link.py
  chainer/optimizer.py
  chainer/optimizer_hooks/gradient_noise.py
  chainer/training/extensions/computational_graph.py
  chainer/variable.py
  docs/source/chainermn/installation/guide.rst
  docs/source/chainerx/tips.rst
  docs/source/contribution.rst
  docs/source/examples/cnn.rst
  docs/source/examples/mnist.rst
  docs/source/guides/functions.rst
  docs/source/guides/variables.rst
  docs/source/performance.rst
  docs/source/reference/configuration.rst
  docs/source/reference/links.rst
  docs/source/upgrade.rst
  docs/source/upgrade_v2.rst
Labels: backport, cat:document

#7212 Improve code in `testing.backend.BackendConfig`
  chainer/testing/backend.py
Labels: cat:code-fix, st:test-and-merge

#7225 Support device specifiers in MNIST model parallel example
  examples/mnist/train_mnist_model_parallel.py
Labels: ChainerX, cat:example, st:test-and-merge

#7229 [backport] Support device specifier in image captioning example
  examples/image_captioning/train.py
Labels: backport, cat:example, st:test-and-merge

#7076 Support device specifiers in pix2pix example
  examples/pix2pix/train_facade.py
Labels: ChainerX, cat:example, st:test-and-merge, to-be-backported

#7148 Avoid using `cuda.DummyDevice` and `cuda.get_device_from_array`
  chainer/backend.py
  chainer/function.py
  chainer/function_node.py
  chainer/functions/normalization/group_normalization.py
  chainer/gradient_check.py
  chainer/initializers/__init__.py
  chainer/optimizer_hooks/gradient_clipping.py
  chainer/optimizer_hooks/gradient_hard_clipping.py
  chainer/optimizer_hooks/gradient_lars.py
  chainer/optimizer_hooks/gradient_noise.py
  chainer/optimizer_hooks/lasso.py
  chainer/optimizer_hooks/weight_decay.py
  chainer/optimizers/ada_delta.py
  chainer/optimizers/ada_grad.py
  chainer/optimizers/adam.py
  chainer/optimizers/corrected_momentum_sgd.py
  chainer/optimizers/momentum_sgd.py
  chainer/optimizers/msvag.py
  chainer/optimizers/nesterov_ag.py
  chainer/optimizers/rmsprop.py
  chainer/optimizers/rmsprop_graves.py
  chainer/optimizers/smorms3.py
  chainer/reporter.py
  chainer/variable.py
  tests/chainer_tests/links_tests/connection_tests/test_lstm.py
  tests/chainer_tests/links_tests/connection_tests/test_peephole.py
  tests/chainer_tests/links_tests/connection_tests/test_tree_lstm.py
  tests/chainer_tests/links_tests/connection_tests/test_zoneoutlstm.py
  tests/chainer_tests/test_variable.py
Labels: cat:code-fix, st:test-and-merge

#7153 Support device specifiers in static graph example
  examples/static_graph_optimizations/cifar/train_cifar.py
  examples/static_graph_optimizations/cifar/train_cifar_custom_loop.py
  examples/static_graph_optimizations/mnist/train_mnist.py
  examples/static_graph_optimizations/mnist/train_mnist_custom_loop.py
  examples/static_graph_optimizations/ptb/train_ptb_custom_loop.py
Labels: ChainerX, cat:example, st:test-and-merge, to-be-backported

#7233 [backport] Support device specifiers in MNIST data parallel example
  chainer/training/updaters/parallel_updater.py
  examples/mnist/train_mnist_data_parallel.py
Labels: ChainerX, backport, cat:example

#7235 [backport] Support device specifiers in pix2pix example
  examples/pix2pix/train_facade.py
Labels: ChainerX, backport, cat:example, st:test-and-merge

#7215 Fix sentiment example test
  examples/sentiment/test_thin_stack.py
Labels: cat:example, st:test-and-merge

#7222 Split ChainerX statistics routines from `math.cc`
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/cuda/cuda_device/statistics.cu
  chainerx_cc/chainerx/kernels/CMakeLists.txt
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/kernels/statistics.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/native/native_device/statistics.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/statistics.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
  tests/chainerx_tests/unit_tests/routines_tests/test_statistics.py
Labels: ChainerX, cat:code-fix, st:test-and-merge, to-be-backported

#7199 Refactor `Variable.zerograd` test
  tests/chainer_tests/test_variable.py
Labels: cat:test, pr-blocker, st:test-and-merge

#7236 [backport] Support device specifiers in static graph example
  examples/static_graph_optimizations/cifar/train_cifar.py
  examples/static_graph_optimizations/cifar/train_cifar_custom_loop.py
  examples/static_graph_optimizations/mnist/train_mnist.py
  examples/static_graph_optimizations/mnist/train_mnist_custom_loop.py
  examples/static_graph_optimizations/ptb/train_ptb_custom_loop.py
Labels: ChainerX, backport, cat:example, st:test-and-merge

#7203 Add Tensor Core test for `chainerx.conv` and `chainerx.conv_transpose`
  tests/chainerx_tests/unit_tests/routines_tests/test_connection.py
Labels: ChainerX, cat:test, st:test-and-merge

#7238 [backport] Fix sentiment example test
  examples/sentiment/test_thin_stack.py
Labels: backport, cat:example

#7234 Check device instance using `xp` when possible
  chainer/device_resident.py
  chainer/training/updaters/standard_updater.py
  chainer/variable.py
  examples/imagenet/train_imagenet.py
Labels: cat:code-fix, to-be-backported

#7245 `MultiprocessParallelUpdater` to support new devices
  chainer/training/updaters/multiprocess_parallel_updater.py
  tests/chainer_tests/training_tests/updaters_tests/snippets/child_reporter.py
  tests/chainer_tests/training_tests/updaters_tests/snippets/cuda_init.py
  tests/chainer_tests/training_tests/updaters_tests/snippets/raw_array.py
  tests/chainer_tests/training_tests/updaters_tests/test_multiprocess_parallel_updater.py
Labels: cat:enhancement, pr-blocker, st:test-and-merge

#7224 Refactor `Variable.copydata` test
  tests/chainer_tests/test_variable.py
Labels: cat:test, pr-blocker, st:test-and-merge

#7226 Support ChainerX in `Variable.copydata`
  chainer/backend.py
  tests/chainer_tests/test_variable.py
Labels: ChainerX, pr-blocker, st:test-and-merge

#7246 [backport] `MultiprocessParallelUpdater` to support new devices
  chainer/training/updaters/multiprocess_parallel_updater.py
  tests/chainer_tests/training_tests/updaters_tests/snippets/child_reporter.py
  tests/chainer_tests/training_tests/updaters_tests/snippets/cuda_init.py
  tests/chainer_tests/training_tests/updaters_tests/snippets/raw_array.py
  tests/chainer_tests/training_tests/updaters_tests/test_multiprocess_parallel_updater.py
Labels: backport, cat:enhancement, pr-blocker

#7055 Support device specifiers in PTB example
  docs/source/examples/ptb.rst
  examples/ptb/train_ptb.py
  examples/ptb/train_ptb_custom_loop.py
Labels: ChainerX, cat:example

#7274 [backport] Fix typos in chainer.utils.type_check
  chainer/utils/type_check.py
Labels: backport, cat:document

#7269 Move declaration of `AMax` and `AMin` to statistics routines
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/statistics.h
Labels: ChainerX, cat:code-fix, pr-blocker, st:test-and-merge

#7162 Improve device documentation
  chainer/_backend.py
  chainer/backends/_chainerx.py
  chainer/backends/cuda.py
Labels: cat:document, to-be-backported

#7290 Use CUDA_VISIBLE_DEVICES in ChainerX tests
  scripts/ci/chainerx/jenkins/run_docker.sh
Labels: cat:test, to-be-backported

#7144 Move `test_cuda.py` to `backends_tests`
  tests/chainer_tests/backends_tests/test_cuda.py
Labels: cat:test, to-be-backported

#7227 Support ChainerX in MNIST data parallel example
  examples/mnist/train_mnist_data_parallel.py
Labels: ChainerX, st:test-and-merge

#7243 Allow `CUDNN_LIBNAME` to be specified by environment variable
  chainerx_cc/cmake/FindCuDNN.cmake
Labels: ChainerX, st:test-and-merge

#7294 [backport] Use CUDA_VISIBLE_DEVICES in ChainerX tests
  scripts/ci/chainerx/jenkins/run_docker.sh
Labels: backport, cat:test

#7206 Support device specifier in image captioning example (`predict.py`)
  examples/image_captioning/model.py
  examples/image_captioning/predict.py
Labels: cat:example, st:test-and-merge

#7188 Fix capitalization of `F.relu` in doc
  chainer/links/activation/swish.py
Labels: cat:document, st:test-and-merge, to-be-backported

#7167 Fix initialization of `L.Linear` when called with `n_batch_axes`
  chainer/links/connection/linear.py
  tests/chainer_tests/links_tests/connection_tests/test_linear.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#7161 Add `chainerx.log1p`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/cuda/float16.cuh
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7299 [backport] Fix capitalization of `F.relu` in doc
  chainer/links/activation/swish.py
Labels: backport, cat:document, st:test-and-merge

#7164 Support device specifiers in ImageNet data parallel example
  examples/imagenet/train_imagenet_data_parallel.py
Labels: ChainerX, cat:example, st:test-and-merge

#7256 Fix recomputation of `L.BatchRenormalization`
  chainer/__init__.py
  chainer/configuration.py
  chainer/functions/util/forget.py
  chainer/links/normalization/batch_renormalization.py
  tests/chainer_tests/functions_tests/util_tests/test_forget.py
Labels: cat:bug, st:test-and-merge

#7263 [backport] Support device specifiers in PTB example
  docs/source/examples/ptb.rst
  examples/ptb/train_ptb.py
  examples/ptb/train_ptb_custom_loop.py
Labels: ChainerX, backport, cat:example, st:test-and-merge

#7284 Remove unused using declaration
  chainerx_cc/chainerx/python/scalar.cc
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7252 Add `chainer.as_array` for consistency with `chainer.as_variable`
  chainer/__init__.py
  chainer/variable.py
  docs/source/reference/variable.rst
Labels: cat:feature, st:test-and-merge

#7270 Split reduction routines from math.cc
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/kernels/reduction.h
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/reduction.cc
  chainerx_cc/chainerx/routines/reduction.h
  chainerx_cc/chainerx/routines/statistics.cc
  chainerx_cc/examples/mnist/train_mnist.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
  tests/chainerx_tests/unit_tests/routines_tests/test_reduction.py
Labels: ChainerX, cat:code-fix, st:test-and-merge

#7173 [backport] Fix ChainerX compilation with MSVC
  chainerx_build_helper.py
  chainerx_cc/CMakeLists.txt
  chainerx_cc/chainerx/array_repr.cc
  chainerx_cc/third_party/gtest.cmake
Labels: ChainerX, backport, cat:install, st:test-and-merge

#7126 Add `expm1` and `exp2`
  chainerx/__init__.pyi
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/kernels/math.h
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature, st:test-and-merge

#7303 [backport] Support device specifiers in ImageNet data parallel example
  examples/imagenet/train_imagenet_data_parallel.py
Labels: ChainerX, backport, cat:example, st:test-and-merge

#7288 [backport] Improve device documentation
  chainer/_backend.py
  chainer/backends/_chainerx.py
  chainer/backends/cuda.py
Labels: backport, cat:document, st:test-and-merge
