Repository chainer/chainer, pull requests merged in 2019-04, with the labels that each got.

#6619 Support for fp16 and mixed16 in `MultiNodeBatchNormalization` of ChainerMN
  chainermn/communicators/pure_nccl_communicator.py
  chainermn/functions/batch_normalization.py
  chainermn/links/batch_normalization.py
  chainermn/nccl.py
  tests/chainermn_tests/communicator_tests/test_communicator.py
  tests/chainermn_tests/links_tests/test_batch_normalization.py
Labels: ChainerMN, cat:feature

#6699 Fix ChainerX optimzer fallback for non-default devices
  chainer/optimizer.py
Labels: ChainerX, cat:bug

#6711 Fix TestConvolutionND for flake8
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
Labels: cat:code-fix, st:test-and-merge

#6675 ChainerX dynamic op registry
  chainerx_cc/chainerx/CMakeLists.txt
  chainerx_cc/chainerx/backend.cc
  chainerx_cc/chainerx/backend.h
  chainerx_cc/chainerx/backend_testdata/CMakeLists.txt
  chainerx_cc/chainerx/backend_testdata/backend0.cc
  chainerx_cc/chainerx/backend_testdata/backend1.cc
  chainerx_cc/chainerx/context.cc
  chainerx_cc/chainerx/context_test.cc
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_backend.h
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/cuda/op_regist.h
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_backend.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/native/op_regist.h
  chainerx_cc/chainerx/op.h
  chainerx_cc/chainerx/op_registry.h
  chainerx_cc/chainerx/op_registry_test.cc
  chainerx_cc/chainerx/routines/sorting.cc
  chainerx_cc/chainerx/routines/sorting.h
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6703 Add tan, arcsin, arccos, arctan to ChainerX
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/CMakeLists.txt
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/trigonometric.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/trigonometric.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX

#6710 Fix test failure in cuDNN v7.5
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_normalization.py
Labels: cat:test, st:test-and-merge, to-be-backported

#6324 Add `distributions.Independent`
  chainer/distributions/__init__.py
  chainer/distributions/bernoulli.py
  chainer/distributions/beta.py
  chainer/distributions/categorical.py
  chainer/distributions/cauchy.py
  chainer/distributions/chisquare.py
  chainer/distributions/dirichlet.py
  chainer/distributions/exponential.py
  chainer/distributions/gamma.py
  chainer/distributions/geometric.py
  chainer/distributions/gumbel.py
  chainer/distributions/independent.py
  chainer/distributions/laplace.py
  chainer/distributions/log_normal.py
  chainer/distributions/multivariate_normal.py
  chainer/distributions/one_hot_categorical.py
  chainer/distributions/pareto.py
  chainer/distributions/poisson.py
  chainer/distributions/uniform.py
  docs/source/reference/distributions.rst
  examples/vae/net.py
  tests/chainer_tests/distributions_tests/test_independent.py
Labels: cat:feature

#6651 Suppress numpy warnings in math tests
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:test, st:test-and-merge

#6716 [backport] Fix test failure in cuDNN v7.5
  tests/chainer_tests/functions_tests/normalization_tests/test_batch_normalization.py
Labels: backport, cat:test

#6713 Mixed-dtype: `minimum` and `maximum`
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/routines/math.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, st:test-and-merge

#6709 Properly handle FP16 in `D.Normal`
  chainer/distributions/normal.py
Labels: cat:enhancement

#6697 [backport] Fixes typo in docstring for classification_summary
  chainer/functions/evaluation/classification_summary.py
Labels: backport, cat:document, st:test-and-merge

#6694 Replace deprecated URLopener in `download.py`
  examples/memnn/download.py
Labels: cat:example, st:test-and-merge, to-be-backported

#6693 Fix file mode of `mushrooms.csv`
  examples/glance/mushrooms.csv
Labels: cat:example, st:test-and-merge, to-be-backported

#6617 Add `PerformanceWarning`
  chainer/__init__.py
  chainer/_environment_check.py
  chainer/function.py
  chainer/functions/math/einsum.py
  chainer/functions/math/erf.py
  chainer/functions/math/erfc.py
  chainer/functions/math/ndtr.py
  chainer/gradient_check.py
  chainer/link.py
  chainer/optimizer.py
  chainer/reporter.py
  chainer/variable.py
  chainer/warnings.py
Labels: cat:enhancement, pr-blocker, st:test-and-merge

#5651 [backport] Fix text_classification example fails on Python 3 (#5590)
  examples/text_classification/text_datasets.py
Labels: backport, cat:bug, st:test-and-merge

#6411 [backport] Use `args.out` in `train_cifar_custom_loop.py`
  examples/cifar/train_cifar_custom_loop.py
Labels: backport, cat:example, st:test-and-merge

#6695 Rewrite the rest of math tests
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:test

#6649 Run ChainerX python tests in debug build
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  scripts/ci/steps.sh
  scripts/ci/travis/steps.sh
Labels: ChainerX, cat:test, st:test-and-merge

#6718 Op registration: indexing
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
Labels: ChainerX, st:test-and-merge

#4986 Write guides to implement new-style functions
  docs/source/guides/functions.rst
  docs/source/imports.rst
Labels: cat:document, to-be-backported

#6727 Op registration: logic
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/logic.h
Labels: ChainerX, st:test-and-merge

#6348 Delete `y.grad` on `y.backward()`
  chainer/_backprop_utils.py
  chainer/functions/util/forget.py
  chainer/variable.py
  tests/chainer_tests/functions_tests/noise_tests/test_zoneout.py
  tests/chainer_tests/links_tests/connection_tests/test_gru.py
  tests/chainer_tests/links_tests/connection_tests/test_peephole.py
  tests/chainer_tests/links_tests/connection_tests/test_zoneoutlstm.py
  tests/chainer_tests/test_variable.py
Labels: cat:enhancement, pr-blocker, st:test-and-merge

#6729 Op registration: trigonometric
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/cuda/cuda_device/trigonometric.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/native/native_device/trigonometric.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
Labels: ChainerX, st:test-and-merge

#6728 Relax tolerances in convolution nd function test
  tests/chainer_tests/functions_tests/connection_tests/test_convolution_nd.py
Labels: cat:test, release-blocker

#6734 Fix test failures in FunctionNode implementation guide
  docs/source/guides/functions.rst
Labels: cat:document, to-be-backported

#6730 [backport] Write guides to implement new-style functions
  docs/source/guides/functions.rst
  docs/source/imports.rst
Labels: backport, cat:document, st:test-and-merge

#6712 Fix `DeviceResident.to_gpu` fallback argument
  chainer/device_resident.py
  tests/chainer_tests/test_link.py
Labels: cat:bug, release-blocker

#6748 Bump version to v6.0.0rc1
  chainer/_version.py
  docker/intel/python2/Dockerfile
  docker/intel/python3/Dockerfile
  docker/python2/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other

#6749 Travis test against v6 branch
  .travis.yml
Labels: cat:test, to-be-backported

#6750 [backport] Travis test against v6 branch
  .travis.yml
Labels: backport, cat:test

#6493 Append to v6 upgrade guide about Python 3.4 support drop
  docs/source/upgrade.rst
Labels: cat:document, to-be-backported

#6399 Improve chainer examples
  examples/dcgan/train_dcgan.py
  examples/image_captioning/train.py
  examples/mnist/train_mnist.py
  examples/mnist/train_mnist_custom_loop.py
  examples/pix2pix/train_facade.py
  examples/ptb/train_ptb.py
  examples/ptb/train_ptb_custom_loop.py
  examples/sentiment/train_sentiment.py
  examples/seq2seq/seq2seq.py
  examples/text_classification/train_text_classifier.py
  examples/vae/train_vae.py
  examples/word2vec/search.py
  examples/word2vec/train_word2vec.py
Labels: cat:example, to-be-backported

#6725 Avoid throwing in destructors
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cudnn.cc
Labels: ChainerX, cat:bug, st:test-and-merge, to-be-backported

#6733 Use new device in reinforcement learning example
  examples/reinforcement_learning/ddpg_pendulum.py
  examples/reinforcement_learning/dqn_cartpole.py
Labels: cat:example, st:test-and-merge

#6552 Add FP16 support to send/recv
  chainermn/communicators/mpi_communicator_base.py
  tests/chainermn_tests/functions_tests/test_point_to_point_communication.py
Labels: ChainerMN, cat:feature

#6755 [backport] Avoid throwing in destructors
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cudnn.cc
Labels: ChainerX, backport, cat:bug

#6754 Fix Travis with macOS
  scripts/ci/travis/steps.sh
Labels: cat:test, to-be-backported

#6744 Make device functions public
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/cuda/cuda_device/trigonometric.cu
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/native/native_device/trigonometric.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/logic.h
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/sorting.cc
  chainerx_cc/chainerx/routines/sorting.h
Labels: ChainerX, st:test-and-merge

#6758 [backport] Fix Travis with macOS
  scripts/ci/travis/steps.sh
Labels: backport, cat:test

#6541 Implement array vs array functionality to chainerx.minimum
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature

#6427 Improve error message of `gradient_check.check_double_backward`
  chainer/gradient_check.py
Labels: cat:enhancement, st:test-and-merge

#6761 Dodge nondifferentiable inputs in `chainerx.max` test
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:test, st:test-and-merge, to-be-backported

#6751 [backport] Append to v6 upgrade guide about Python 3.4 support drop
  docs/source/upgrade.rst
Labels: backport, cat:document, st:test-and-merge

#6768 Fix `Evaluator` for `chainer.dataset.converter`
  chainer/training/extensions/evaluator.py
Labels: cat:enhancement, pr-blocker, to-be-backported

#6739 Support ChainerX in VAE example
  chainer/distributions/bernoulli.py
  chainer/distributions/normal.py
  examples/vae/train_vae.py
Labels: ChainerX, cat:example, to-be-backported

#6760 [backport] Make device functions public
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/cuda/cuda_device/trigonometric.cu
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/native/native_device/trigonometric.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/logic.h
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/sorting.cc
  chainerx_cc/chainerx/routines/sorting.h
Labels: ChainerX, backport

#6745 Op registration: creation
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/copy.cu
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device/fill.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/im2col.cc
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/copy.cc
  chainerx_cc/chainerx/native/native_device/dot.cc
  chainerx_cc/chainerx/native/native_device/fill.cc
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/creation.h
  chainerx_cc/chainerx/routines/manipulation.cc
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6789 Fix comments and add TODO to indexing routines
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
Labels: ChainerX, cat:code-fix, to-be-backported

#6253 Simplify `F.mean_absolute_error` test
  chainerx/_fallback_workarounds.py
  tests/chainer_tests/functions_tests/loss_tests/test_mean_absolute_error.py
Labels: cat:test

#6705 [chainerx] add `ceil`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:enhancement

#6791 [backport] Support ChainerX in VAE example
  chainer/distributions/bernoulli.py
  chainer/distributions/normal.py
  examples/vae/train_vae.py
Labels: ChainerX, backport, cat:example, st:test-and-merge

#6640 [chainerx] Mean Var Python Bindings
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/statistics.cc
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature

#6774 Support ChainerX in word2vec example
  examples/word2vec/train_word2vec.py
Labels: ChainerX, cat:example, to-be-backported

#6783 Fix ArgMax of CUDA when all values are negative
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  tests/chainerx_tests/unit_tests/routines_tests/test_sorting.py
Labels: ChainerX, cat:bug, to-be-backported

#6780 Fix `chainerx.astype` casting from `float16` to `bool` in CUDA
  chainerx_cc/chainerx/cuda/float16.cuh
  tests/chainerx_tests/unit_tests/test_array.py
Labels: ChainerX, cat:bug, st:test-and-merge, to-be-backported

#6724 Refactor CUDA batch norm tensor descriptor
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cudnn.cc
  chainerx_cc/chainerx/cuda/cudnn.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#6796 [backport] Fix ArgMax of CUDA when all values are negative
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  tests/chainerx_tests/unit_tests/routines_tests/test_sorting.py
Labels: ChainerX, backport, cat:bug

#6736 Support ChainerX in wavenet example
  chainerx/_fallback_workarounds.py
  examples/wavenet/generate.py
  examples/wavenet/train.py
Labels: ChainerX, cat:example, st:test-and-merge, to-be-backported

#6797 [backport] Fix `chainerx.astype` casting from `float16` to `bool` in CUDA
  chainerx_cc/chainerx/cuda/float16.cuh
  tests/chainerx_tests/unit_tests/test_array.py
Labels: ChainerX, backport, cat:bug

#6793 [backport] Fix comments and add TODO to indexing routines
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/indexing.h
Labels: ChainerX, backport, cat:code-fix, st:test-and-merge

#6775 Show download progress bar in image-captioning example
  examples/image_captioning/README.md
  examples/image_captioning/download.py
Labels: cat:example, st:test-and-merge

#6805 [backport] Refactor CUDA batch norm tensor descriptor
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cudnn.cc
  chainerx_cc/chainerx/cuda/cudnn.h
Labels: ChainerX, backport, cat:code-fix

#6799 [backport] Support ChainerX in DCGAN example
  examples/dcgan/net.py
  examples/dcgan/train_dcgan.py
  examples/dcgan/updater.py
Labels: ChainerX, backport, cat:example

#6787 [backport] Support ChainerX in reinforcement learning example
  examples/reinforcement_learning/ddpg_pendulum.py
  examples/reinforcement_learning/dqn_cartpole.py
Labels: ChainerX, backport, cat:example, st:test-and-merge

#6790 [backport] Fix `Evaluator` for `chainer.dataset.converter`
  chainer/training/extensions/evaluator.py
Labels: backport, cat:enhancement

#6766 [backport] Dodge nondifferentiable inputs in `chainerx.max` test
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, backport, cat:test

#6707 [chainerx] add `floor`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6501 Add `squared_difference` to chainerx
  chainerx/__init__.pyi
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature, st:test-and-merge

#6785 Remove `Backend` ctor and use `CreateBackend`
  chainerx_cc/chainerx/array_to_device_test.cc
  chainerx_cc/chainerx/context.cc
  chainerx_cc/chainerx/context.h
Labels: ChainerX, pr-blocker, st:test-and-merge

#6317 Fix to clarify the description about initializer argument
  chainer/link.py
Labels: cat:document, st:test-and-merge

#6798 Fix test failures in math test
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, st:test-and-merge, to-be-backported

#6809 [backport] Remove `Backend` ctor and use `CreateBackend`
  chainerx_cc/chainerx/array_to_device_test.cc
  chainerx_cc/chainerx/context.cc
  chainerx_cc/chainerx/context.h
Labels: ChainerX, backport, cat:enhancement

#6792 Make too slow initializers' tests faster
  tests/chainer_tests/initializer_tests/test_normal.py
  tests/chainer_tests/initializer_tests/test_orthogonal.py
  tests/chainer_tests/initializer_tests/test_uniform.py
Labels: cat:test, to-be-backported

#6806 [backport] Support ChainerX in wavenet example
  chainerx/_fallback_workarounds.py
  examples/wavenet/generate.py
  examples/wavenet/train.py
Labels: ChainerX, backport, cat:example

#6737 Trivial fixes to Wavenet example
  examples/wavenet/README.md
  examples/wavenet/generate.py
  examples/wavenet/train.py
Labels: cat:example

#6665 Make it easier to copy the instruction in the issue template
  .github/ISSUE_TEMPLATE.md
Labels: cat:other

#6779 [chainerx] add `logical_and` `logical_or`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/logic.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
Labels: ChainerX, cat:feature

#6820 Add `cuda_internal::DeviceInternals` to wrap handle etc.
  chainerx_cc/chainerx/cuda/cublas.cc
  chainerx_cc/chainerx/cuda/cublas.h
  chainerx_cc/chainerx/cuda/cuda_conv.cc
  chainerx_cc/chainerx/cuda/cuda_conv_test.cc
  chainerx_cc/chainerx/cuda/cuda_device.cc
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cuda_device/conv.cc
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device/pool.cu
  chainerx_cc/chainerx/cuda/cudnn.cc
Labels: ChainerX, cat:code-fix, pr-blocker, st:test-and-merge

#6823 Remove `chainerx.square` fallback since it is implemented in C++
  chainerx/__init__.py
  chainerx/_docs/routines.py
  chainerx/math/misc.py
Labels: ChainerX, cat:bug, to-be-backported

#6827 Clean up `DeviceInternals`
  chainerx_cc/chainerx/cuda/cuda_device.h
Labels: ChainerX, cat:code-fix, st:test-and-merge, to-be-backported

#6826 [backport] Add `cuda_internal::DeviceInternals` to wrap handle etc.
  chainerx_cc/chainerx/cuda/cublas.cc
  chainerx_cc/chainerx/cuda/cublas.h
  chainerx_cc/chainerx/cuda/cuda_conv.cc
  chainerx_cc/chainerx/cuda/cuda_conv_test.cc
  chainerx_cc/chainerx/cuda/cuda_device.cc
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cuda_device/conv.cc
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device/pool.cu
  chainerx_cc/chainerx/cuda/cudnn.cc
Labels: ChainerX, backport, cat:code-fix, pr-blocker

#6735 Add `chainer.get_device` to doc
  chainer/backend.py
  docs/source/reference/util/cuda.rst
Labels: cat:document, to-be-backported

#6795 [backport] Support ChainerX in word2vec example
  examples/word2vec/train_word2vec.py
Labels: ChainerX, backport, cat:example

#6723 Op registration: arithmetic
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/indexing.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/statistics.cc
Labels: ChainerX, cat:enhancement, st:test-and-merge, to-be-backported

#6746 Op registration: linalg
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device_test.cc
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/dot.cc
  chainerx_cc/chainerx/native/tensor_dot.cc
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/linalg.cc
  chainerx_cc/chainerx/routines/linalg.h
Labels: ChainerX, cat:enhancement, st:test-and-merge, to-be-backported

#6719 Op registration: normalization
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/device.cc
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/batch_norm.cc
  chainerx_cc/chainerx/op_registry.h
  chainerx_cc/chainerx/routines/normalization.cc
  chainerx_cc/chainerx/routines/normalization.h
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6781 [chainerx] add `all` `any`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/logic.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
Labels: ChainerX, cat:feature, to-be-backported

#6828 [backport] Remove `chainerx.square` fallback since it is implemented in C++
  chainerx/__init__.py
  chainerx/_docs/routines.py
  chainerx/math/misc.py
Labels: ChainerX, backport, cat:bug, st:test-and-merge

#6830 [backport] Clean up `DeviceInternals`
  chainerx_cc/chainerx/cuda/cuda_device.h
Labels: ChainerX, backport, cat:code-fix, st:test-and-merge

#6822 [backport] Add `squared_difference` to chainerx
  chainerx/__init__.pyi
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, backport, cat:feature

#6821 [backport] [chainerx] add `logical_and` `logical_or`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/logic.cc
  chainerx_cc/chainerx/routines/logic.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
Labels: ChainerX, backport, cat:feature

#6841 Fix `F.elu` test numeric error
  tests/chainer_tests/functions_tests/activation_tests/test_elu.py
Labels: cat:test, to-be-backported

#6813 [backport] Implement array vs array functionality to `chainerx.minimum`
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, backport, cat:feature

#6833 Op registration: connection
  chainerx_cc/chainerx/cuda/cuda_conv_test.cc
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/conv.cc
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/conv.cc
  chainerx_cc/chainerx/routines/connection.cc
  chainerx_cc/chainerx/routines/connection.h
Labels: ChainerX, cat:enhancement, to-be-backported

#6824 Fix stack overflow caused when `to_gpu`/`to_cpu`/`to_intel64` were overridden
  chainer/device_resident.py
  tests/chainer_tests/test_link.py
Labels: cat:bug, release-blocker, to-be-backported

#6844 [backport] Fix `F.elu` test numeric error
  tests/chainer_tests/functions_tests/activation_tests/test_elu.py
Labels: backport, cat:test, st:test-and-merge

#6834 Op registration: array members
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array_to_device_test.cc
  chainerx_cc/chainerx/context.h
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/copy.cu
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device/fill.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/copy.cc
  chainerx_cc/chainerx/native/native_device/fill.cc
  chainerx_cc/chainerx/routines/CMakeLists.txt
  chainerx_cc/chainerx/routines/creation.cc
  chainerx_cc/chainerx/routines/manipulation.cc
  chainerx_cc/chainerx/routines/misc.h
Labels: ChainerX, cat:enhancement, to-be-backported

#6800 Op registration: pooling
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/pool.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/routines/pooling.cc
  chainerx_cc/chainerx/routines/pooling.h
Labels: ChainerX, cat:enhancement, st:test-and-merge, to-be-backported

#6851 [backport] Op registration: normalization
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/device.cc
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/CMakeLists.txt
  chainerx_cc/chainerx/native/native_device/batch_norm.cc
  chainerx_cc/chainerx/op_registry.h
  chainerx_cc/chainerx/routines/normalization.cc
  chainerx_cc/chainerx/routines/normalization.h
Labels: ChainerX, backport, cat:enhancement, st:test-and-merge

#6850 [backport] Fix test failures in math test
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, backport

#6849 [backport] Fix stack overflow caused when `to_gpu`/`to_cpu`/`to_intel64` were overridden
  chainer/device_resident.py
  tests/chainer_tests/test_link.py
Labels: backport, cat:bug, release-blocker, st:test-and-merge

#6832 Simplify numeric.h
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/numeric.h
Labels: ChainerX, cat:enhancement, st:test-and-merge, to-be-backported

#6847 Make `BatchNorm` states public
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/routines/normalization.cc
  chainerx_cc/chainerx/routines/normalization.h
Labels: ChainerX, cat:feature, st:test-and-merge, to-be-backported

#6842 Op registration: math
  chainerx_cc/chainerx/cuda/cuda_device.h
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/device.h
  chainerx_cc/chainerx/native/native_device.h
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  chainerx_cc/chainerx/routines/statistics.cc
Labels: ChainerX, cat:enhancement, st:test-and-merge, to-be-backported

#6852 [backport] Add `chainerx.ceil`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, backport, cat:enhancement

#6854 Support ChainerX in memnn example
  examples/memnn/test_memnn.py
  examples/memnn/train_memnn.py
Labels: ChainerX, cat:example, st:test-and-merge, to-be-backported

#6776 [chainerx] add `a/sinh`,`a/cosh`
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx_cc/chainerx/cuda/cuda_device/trigonometric.cu
  chainerx_cc/chainerx/cuda/numeric.cuh
  chainerx_cc/chainerx/native/native_device/trigonometric.cc
  chainerx_cc/chainerx/numeric.h
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  docs/source/chainerx/reference/routines.rst
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature, to-be-backported

#6655 Improve `link_hooks.SpectralNormalization`
  chainer/link_hook.py
  chainer/link_hooks/spectral_normalization.py
  tests/chainer_tests/link_hooks_tests/test_spectral_normalization.py
Labels: cat:enhancement, to-be-backported

#6731 [chainerx] Implement Relu in c++
  chainerx/__init__.py
  chainerx/__init__.pyi
  chainerx/_docs/routines.py
  chainerx/activation.py
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/unit_tests/routines_tests/test_activation.py
Labels: ChainerX

#6519 Document fix in default initializer
  docs/source/reference/initializers.rst
Labels: cat:document

#6666 Make git ignore `chainerx/libchainerx.dylib`
  .gitignore
Labels: ChainerX, cat:other, to-be-backported

#6846 [backport] Add AdaBound (and AMSBound)
  chainer/optimizers/adam.py
  tests/chainer_tests/optimizers_tests/test_optimizers_by_linear_model.py
Labels: backport, cat:feature

#6762 Allow snapshot_object have condition and writer option
  chainer/training/extensions/_snapshot.py
  tests/chainer_tests/training_tests/extensions_tests/test_snapshot.py
Labels: cat:enhancement, prio:high

#6858 Mixed dtypes: `chainerx::Minimum`
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/routines/math.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:enhancement, st:test-and-merge, to-be-backported

#6899 Fix broken link in `chainerx.md`
  chainerx.md
Labels: ChainerX, cat:document, st:test-and-merge, to-be-backported

#6804 Fix unchain gradient pull
  chainer/function_node.py
  chainer/variable.py
  tests/chainer_tests/test_function_node.py
  tests/chainer_tests/test_variable.py
Labels: cat:bug, to-be-backported

#6890 Fix typo in `F.convolution_2d`
  chainer/functions/connection/convolution_2d.py
  chainer/functions/connection/convolution_nd.py
  docs/source/examples/dcgan.rst
Labels: cat:document, st:test-and-merge

#6916 [backport] Fix broken link in `chainerx.md`
  chainerx.md
Labels: ChainerX, backport, cat:document, st:test-and-merge

#6885 [backport] Make git ignore `chainerx/libchainerx.dylib`
  .gitignore
Labels: ChainerX, backport, cat:other

#6845 Relax tolerance for float16 in `unary_math_function_unittest`
  chainer/testing/unary_math_function_test.py
Labels: cat:test, to-be-backported

#6877 [backport] Improve `link_hooks.SpectralNormalization`
  chainer/link_hook.py
  chainer/link_hooks/spectral_normalization.py
  tests/chainer_tests/link_hooks_tests/test_spectral_normalization.py
Labels: backport, cat:enhancement

#6752 ChainerX implementation of AMin and Min functions
  chainer/functions/math/minmax.py
  chainerx/__init__.pyi
  chainerx/_docs/array.py
  chainerx/_docs/routines.py
  chainerx/_fallback_workarounds.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/array_test.cc
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainer_tests/functions_tests/math_tests/test_minmax.py
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature

#6915 Fix `F.rrelu` test instability
  tests/chainer_tests/functions_tests/activation_tests/test_rrelu.py
Labels: cat:test, to-be-backported

#6717 Support default dtype in vae example
  examples/vae/net.py
Labels: cat:example

#6865 Rename `CHAINERX_REGISTER_OP_{NATIVE,CUDA}` to `CHAINERX_{NATIVE,CUDA}_REGISTER_OP`
  chainerx_cc/chainerx/cuda/cuda_device/activation.cu
  chainerx_cc/chainerx/cuda/cuda_device/arithmetic.cu
  chainerx_cc/chainerx/cuda/cuda_device/batch_norm.cc
  chainerx_cc/chainerx/cuda/cuda_device/comparison.cu
  chainerx_cc/chainerx/cuda/cuda_device/conv.cc
  chainerx_cc/chainerx/cuda/cuda_device/copy.cu
  chainerx_cc/chainerx/cuda/cuda_device/dot.cu
  chainerx_cc/chainerx/cuda/cuda_device/exp_log.cu
  chainerx_cc/chainerx/cuda/cuda_device/fill.cu
  chainerx_cc/chainerx/cuda/cuda_device/indexing.cu
  chainerx_cc/chainerx/cuda/cuda_device/misc.cu
  chainerx_cc/chainerx/cuda/cuda_device/pool.cu
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/cuda/cuda_device/trigonometric.cu
  chainerx_cc/chainerx/cuda/op_regist.h
  chainerx_cc/chainerx/native/native_device/activation.cc
  chainerx_cc/chainerx/native/native_device/arithmetic.cc
  chainerx_cc/chainerx/native/native_device/batch_norm.cc
  chainerx_cc/chainerx/native/native_device/comparison.cc
  chainerx_cc/chainerx/native/native_device/conv.cc
  chainerx_cc/chainerx/native/native_device/copy.cc
  chainerx_cc/chainerx/native/native_device/dot.cc
  chainerx_cc/chainerx/native/native_device/exp_log.cc
  chainerx_cc/chainerx/native/native_device/fill.cc
  chainerx_cc/chainerx/native/native_device/indexing.cc
  chainerx_cc/chainerx/native/native_device/misc.cc
  chainerx_cc/chainerx/native/native_device/pool.cc
  chainerx_cc/chainerx/native/native_device/reduction.cc
  chainerx_cc/chainerx/native/native_device/trigonometric.cc
  chainerx_cc/chainerx/native/op_regist.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#6922 Rename the macro name for `AMinOp`
  chainerx_cc/chainerx/cuda/cuda_device/reduction.cu
  chainerx_cc/chainerx/native/native_device/reduction.cc
Labels: ChainerX, cat:bug, st:test-and-merge

#6919 [backport] Relax tolerance for float16 in `unary_math_function_unittest`
  chainer/testing/unary_math_function_test.py
Labels: backport, cat:test

#6917 Fix `F.max_pooling_nd` test instability
  tests/chainer_tests/functions_tests/pooling_tests/test_max_pooling_nd.py
Labels: cat:test, to-be-backported

#6927 [backport] Fix `F.max_pooling_nd` test instability
  tests/chainer_tests/functions_tests/pooling_tests/test_max_pooling_nd.py
Labels: backport, cat:test

#6920 [backport] Fix `F.rrelu` test instability
  tests/chainer_tests/functions_tests/activation_tests/test_rrelu.py
Labels: backport, cat:test, st:test-and-merge

#6855 Relax tolerances and avoid non-differentiable points for FP16 in triplet loss tests
  tests/chainer_tests/functions_tests/loss_tests/test_triplet.py
Labels: cat:test, st:test-and-merge, to-be-backported

#6881 Use search index
  docs/source/_templates/search.html
Labels: cat:document, st:test-and-merge, to-be-backported

#6928 [backport] Fix `filename` arg of `PlotReport`
  chainer/training/extensions/computational_graph.py
  chainer/training/extensions/log_report.py
  chainer/training/extensions/plot_report.py
  chainer/training/extensions/variable_statistics_plot.py
Labels: backport, cat:bug

#6884 Make `InvalidType` picklable
  chainer/utils/type_check.py
  tests/chainer_tests/utils_tests/test_type_check.py
Labels: cat:bug, to-be-backported

#6570 Implement array to array functionality to `chainerx.maximum`
  chainerx_cc/chainerx/python/routines.cc
  chainerx_cc/chainerx/routines/math.cc
  chainerx_cc/chainerx/routines/math.h
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:feature

#6929 [backport] Relax tolerances and avoid non-differentiable points for FP16 in triplet loss tests
  tests/chainer_tests/functions_tests/loss_tests/test_triplet.py
Labels: backport, cat:test

#6918 [backport] Fix unchain gradient pull
  chainer/function_node.py
  chainer/variable.py
  tests/chainer_tests/test_function_node.py
  tests/chainer_tests/test_variable.py
Labels: backport, cat:bug

#6933 Add comments on `del`
  chainer/training/extensions/computational_graph.py
  chainer/training/extensions/log_report.py
  chainer/training/extensions/plot_report.py
  chainer/training/extensions/variable_statistics_plot.py
Labels: cat:code-fix

#6941 Align macro parameter name
  chainerx_cc/chainerx/cuda/op_regist.h
  chainerx_cc/chainerx/native/op_regist.h
Labels: ChainerX, cat:code-fix, st:test-and-merge

#6204 Optimized ChainerX-to-CuPy `ndarray` conversion
  chainer/backends/cuda.py
  chainerx/__init__.py
  chainerx/__init__.pyi
  chainerx/_fallback_workarounds.py
  chainerx_cc/chainerx/python/array.cc
  chainerx_cc/chainerx/python/array_index.cc
  chainerx_cc/chainerx/python/dtype.cc
  chainerx_cc/chainerx/python/py_cached_objects.h
Labels: ChainerX, st:test-and-merge

#6753 [backport] Improve chainer examples
  examples/dcgan/train_dcgan.py
  examples/image_captioning/train.py
  examples/mnist/train_mnist.py
  examples/mnist/train_mnist_custom_loop.py
  examples/pix2pix/train_facade.py
  examples/ptb/train_ptb.py
  examples/ptb/train_ptb_custom_loop.py
  examples/sentiment/train_sentiment.py
  examples/seq2seq/seq2seq.py
  examples/text_classification/train_text_classifier.py
  examples/vae/train_vae.py
  examples/word2vec/search.py
  examples/word2vec/train_word2vec.py
Labels: backport, cat:example

#6860 Update `distributions.independent`
  chainer/distributions/independent.py
  tests/chainer_tests/distributions_tests/test_independent.py
Labels: cat:enhancement, to-be-backported

#6889 Add `chainerx.sigmoid` docs
  chainerx/_docs/routines.py
Labels: ChainerX, cat:document, st:test-and-merge

#6784 Rename `patients` argument to `patience` in `EarlyStoppingTrigger`
  chainer/training/triggers/early_stopping_trigger.py
  tests/chainer_tests/training_tests/triggers_tests/test_early_stopping_trigger.py
Labels: cat:enhancement

#6945 [backport] Update `distributions.independent`
  chainer/distributions/independent.py
  tests/chainer_tests/distributions_tests/test_independent.py
Labels: backport, cat:enhancement

#6930 [backport] Use search index
  docs/source/_templates/search.html
Labels: backport, cat:document

#6946 Fix test parameters in ChainerX math tests
  tests/chainerx_tests/unit_tests/routines_tests/test_math.py
Labels: ChainerX, cat:test, pr-blocker

#6926 Stop fallback in `chainerx.{all/any}`
  chainerx/_fallback_workarounds.py
  chainerx_cc/chainerx/array.cc
  chainerx_cc/chainerx/array.h
  chainerx_cc/chainerx/python/array.cc
  tests/chainerx_tests/unit_tests/routines_tests/test_logic.py
Labels: ChainerX, cat:enhancement, st:test-and-merge

#6936 Support ChainerX in CIFAR example
  examples/cifar/README.md
  examples/cifar/train_cifar.py
  examples/cifar/train_cifar_custom_loop.py
Labels: ChainerX, cat:example, st:test-and-merge, to-be-backported
