Repository chainer/chainer, pull requests merged in 2019-12, with the labels that each got.

#8435 Add chainerx tests to test_create_mnbn_model
  tests/chainermn_tests/links_tests/test_create_mnbn_model.py
Labels: ChainerMN

#8429 Add chainerx tests to test_checkpoint.py
  tests/chainermn_tests/extensions_tests/test_checkpoint.py
Labels: ChainerMN, cat:test

#8346 Add chainerx test to dataset_tests
  tests/chainermn_tests/datasets_tests/test_empty_dataset.py
  tests/chainermn_tests/datasets_tests/test_mnist.py
  tests/chainermn_tests/datasets_tests/test_scatter.py
Labels: ChainerMN, cat:test

#8488 Support sign function on exporting ONNX
  onnx_chainer/export.py
  onnx_chainer/functions/__init__.py
  onnx_chainer/functions/math.py
  onnx_chainer/mapping.py
  onnx_chainer/replace_func.py
  tests/onnx_chainer_tests/functions_tests/test_maths.py
Labels: ONNX, st:test-and-merge

#8412 Add ChainerX test to test_allreduce_persistent.py
  tests/chainermn_tests/extensions_tests/test_allreduce_persistent.py
Labels: ChainerMN, cat:test

#8491 Allow `array_utils.uniform` to be deterministic with `fix_random` by default
  tests/chainerx_tests/array_utils.py
Labels: ChainerX, cat:test, st:test-and-merge

#8436 Add chainerx tests into multi_node_optimizer
  tests/chainermn_tests/optimizer_tests/test_multi_node_optimizer.py
Labels: ChainerMN, cat:test

#8473 Add deprecation warning to ONNX exporting without test cases
  onnx_chainer/export.py
  onnx_chainer/export_testcase.py
  tests/onnx_chainer_tests/test_export_testcase.py
Labels: ONNX, st:test-and-merge

#8496 Add error message for invalid base branch in pfnCI
  .pfnci/script.sh
Labels: cat:test, st:test-and-merge, to-be-backported

#8500 [backport] Add error message for invalid base branch in pfnCI
  .pfnci/script.sh
Labels: backport, cat:test, st:test-and-merge

#8498 Adjust timeout and build memory usage in FlexCI
  .pfnci/config.pbtxt
  .pfnci/run.sh
Labels: cat:test, to-be-backported

#8497 Fix `BatchNormalization` for NHWC without cudnn
  chainer/functions/normalization/batch_normalization.py
  chainer/memory_layouts.py
  tests/chainer_tests/links_tests/normalization_tests/test_batch_normalization.py
Labels: cat:bug, st:test-and-merge

#8503 [backport] Adjust timeout and build memory usage in FlexCI
  .pfnci/config.pbtxt
  .pfnci/run.sh
Labels: backport, cat:test, st:test-and-merge

#8499 Raise `RuntimeError` when using `cudnn_fast` without cudnn
  chainer/functions/connection/convolution_2d.py
  chainer/links/connection/convolution_2d.py
  tests/chainer_tests/links_tests/connection_tests/test_convolution_2d.py
Labels: cat:enhancement

#8506 Bump version to v6.6.0
  chainer/_version.py
  docker/intel/python2/Dockerfile
  docker/intel/python3/Dockerfile
  docker/python2/Dockerfile
  docker/python3/Dockerfile
Labels: cat:other, st:test-and-merge

#8508 Add try/finally block to yield in reporter.py
  chainer/reporter.py
Labels: cat:bug, st:test-and-merge, to-be-backported

#8511 [backport] Add try/finally block to yield in reporter.py
  chainer/reporter.py
Labels: backport, cat:bug

#8514 Fix flaky `TestZeta`
  tests/chainer_tests/functions_tests/math_tests/test_zeta.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8360 Fast `IndexIterator` for CUDA
  chainerx_cc/chainerx/index_iterator.h
  tests/chainerx_tests/unit_tests/test_array_index.py
Labels: ChainerX, cat:performance

#8495 Allow ONNX-Chainer's patch_functions to patch functions in modules other than chainer.functions
  onnx_chainer/mapping.py
Labels: ONNX

#8493 Extend ONNX-Chainer's TransposeSequence converter to support more cases
  onnx_chainer/functions/array.py
  tests/onnx_chainer_tests/functions_tests/test_arrays.py
Labels: ONNX

#8516 Replaced n_fold with n_folds
  chainer/datasets/sub_dataset.py
Labels: cat:enhancement

#8492 Support n_step_gru function on exporting ONNX
  onnx_chainer/functions/__init__.py
  onnx_chainer/functions/rnn.py
  onnx_chainer/mapping.py
  tests/onnx_chainer_tests/functions_tests/test_rnn.py
Labels: ONNX, st:test-and-merge

#8489 Support custom initializers in NStepRNN
  chainer/links/rnn/n_step_rnn.py
  tests/chainer_tests/links_tests/rnn_tests/test_link_n_step_rnn.py
Labels: cat:enhancement, st:test-and-merge

#8520 Fix flaky test: `TestCholesky`
  tests/chainer_tests/functions_tests/math_tests/test_cholesky.py
Labels: cat:test, to-be-backported

#8384 Add chainerx test in observation_aggregator
  chainermn/extensions/observation_aggregator.py
  tests/chainermn_tests/extensions_tests/test_observation_aggregator.py
Labels: ChainerMN, cat:test

#8521 Skip `chainerx.fromfile` test when dtype is bool_ and mode is text
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: cat:test, st:test-and-merge

#8494 Add NStepGRU link converter example to ONNX-Chainer test
  onnx_chainer/mapping.py
  tests/onnx_chainer_tests/functions_tests/test_rnn.py
Labels: ONNX, st:test-and-merge

#8522 Use `FunctionTestCase` to test `F.decov`
  tests/chainer_tests/functions_tests/loss_tests/test_decov.py
Labels: cat:test, st:test-and-merge, to-be-backported

#8524 [backport] Skip `chainerx.fromfile` test when dtype is bool_ and mode is text
  tests/chainerx_tests/unit_tests/routines_tests/test_creation.py
Labels: backport, cat:test, st:test-and-merge
