Repository chainer/chainer, pull requests merged in 2020-06, with the labels that each got.

#8569 Fix Chainer CIs
  .pfnci/chainermn.Dockerfile
  .pfnci/config.pbtxt
  .pfnci/run.sh
  .pfnci/script.sh
  chainer/testing/parameterized.py
  onnx_chainer/.flexci/run_test.sh
Labels: cat:test

#8561 Fix `Reporter` example
  chainer/reporter.py
Labels: cat:document

#8465 Add support for `spawn` and `forkserver` start method in `PickleDataset`
  chainer/datasets/pickle_dataset.py
  tests/chainer_tests/datasets_tests/test_pickle_dataset.py
Labels: cat:bug, st:test-and-merge
